<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="d-flex pt-5">
  <span class="flex-grow-1">
    @switch(data.use) {
      @case('edit') {
      Editar póliza de seguro
      }
      @case('create') {
      Agregar póliza de seguro
      }
      @case('detail') {
      Detalle de póliza de seguro
      }
      @default {
      ''
      }
      }
  </span>
    <button type="button" class="m-2 m-sm-0 bottom-0 end-0 btn btn-icon ms-sm-auto" [mat-dialog-close]="true">
      <i class="ki-duotone ki-cross fs-1 text-danger"><span class="path1"></span><span class="path2"></span></i>
    </button>
</div>
<mat-dialog-content>
  <div userInsuranceDetail [(item)]="data.item" [(use)]="data.use" [(view)]="data.view"></div>
</mat-dialog-content>
