<div class="mb-10 text-center">
  <h1 class="text-dark mb-3">
    Ajustes de Cuenta
  </h1>
</div>

<div class="card">
  <div class="card-body">
    <form
      class="form w-100"
      novalidate="novalidate"
      [formGroup]="myForm">
      <div class="row mb-5">
        <div class="col-xl-6">
          <div
            class="fv-row fv-plugins-icon-container"
            inputControl
            formControlName="FirstName"
            [label]="'Nombre(s)'"
            [type]="'text'"
            [placeholder]="''"
            [errors]="{
                    required: 'El nombre es requerido.'
                }"
          ></div>
        </div>

        <div class="col-xl-6">
          <div
            class="fv-row fv-plugins-icon-container"
            inputControl
            formControlName="LastName"
            [label]="'Apellidos'"
            [type]="'text'"
            [placeholder]="''"
            [errors]="{
                    required: 'Los apellidos son requeridos.'
                }"
          ></div>
        </div>
      </div>

      <div
        class="fv-row mb-5 fv-plugins-icon-container"
        inputControl
        formControlName="Email"
        [label]="'Correo electrónico'"
        [type]="'text'"
        [placeholder]="''"
        [errors]="{
            required: 'El correo electrónico es requerido.',
            pattern: 'El correo electrónico no es válido.'
        }"
      ></div>

      <div
        class="fv-row mb-5 fv-plugins-icon-container"
        inputControl
        formControlName="Phone"
        [label]="'Teléfono'"
        [type]="'tel'"
        [placeholder]="''"
        [errors]="{
            required: 'El teléfono es requerido.',
            pattern: 'El teléfono no es válido.'
        }"
      ></div>

      <div class="mb-1">
        <div class="position-relative mb-5">
          <div
            class="fv-row mb-5 fv-plugins-icon-container"
            inputControl
            formControlName="Password"
            [label]="'Contraseña'"
            [type]="'password'"
            [placeholder]="''"
            [errors]="{
                required: 'La contraseña es requerida.',
                pattern: 'La contraseña debe contener una mayúscula, una minuscula, un número y un símbolo.'
            }"
          ></div>

          <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                data-kt-password-meter-control="visibility">
            <i class="ki-duotone ki-eye-slash fs-2"></i> <i class="ki-duotone ki-eye fs-2 d-none"></i> </span>
        </div>
      </div>

      <div
        class="fv-row mb-5 fv-plugins-icon-container"
        inputControl
        formControlName="ConfirmPassword"
        [label]="'Confirmar contraseña'"
        [type]="'password'"
        [placeholder]="''"
        [errors]="{
            required: 'La confirmación de contraseña es requerida.',
        }"
      ></div>

      <div controlCheck formControlName="AgreeTerms">
        <span class="form-check-label fw-semibold text-gray-700 fs-6">
          Estoy de acuerdo con los
          <a (click)="openTermsAndConditionsModal()" class="link-primary"
             style="cursor: pointer;">
            Términos y condiciones
          </a>
          .
        </span>
      </div>
    </form>
  </div>
</div>

<div class="text-gray-600 fw-normal fs-5 w-100 d-flex justify-content-center mt-5">
  ¿Ya tienes una cuenta?

  <a routerLink="/auth/sign-in" class="link-primary fw-semibold ms-2">
    Inicia sesión aquí
  </a>
</div>
