<form
    class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" 
    novalidate="novalidate"
    id="kt_sign_up_form"
    [formGroup]="myForm">
    <div class="mb-10 text-center">
        <h1 class="text-dark mb-3">
            Ajustes de Cuenta
        </h1>

        <div class="text-gray-400 fw-semibold fs-4">
            ¿Ya tienes una cuenta?

            <a routerLink="/auth/sign-in" class="link-primary fw-bold">
                Inicia sesión aquí
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-xl-6">
            <div
                class="fv-row fv-plugins-icon-container"
                inputControl
                formControlName="firstname"
                [label]="'Nombre(s)'"
                [type]="'text'"
                [placeholder]="''"
                [submitted]="submitted()"
                [errors]="{
                    required: 'El nombre es requerido.'
                }"
            ></div>
        </div>

        <div class="col-xl-6">
            <div
                class="fv-row fv-plugins-icon-container"
                inputControl
                formControlName="lastname"
                [label]="'Apellidos'"
                [type]="'text'"
                [placeholder]="''"
                [submitted]="submitted()"
                [errors]="{
                    required: 'Los apellidos son requeridos.'
                }"
            ></div>
        </div>
    </div>

    <div
        class="fv-row mb-5 fv-plugins-icon-container"
        inputControl
        formControlName="email"
        [label]="'Correo electrónico'"
        [type]="'text'"
        [placeholder]="''"
        [submitted]="submitted()"
        [errors]="{
            required: 'El correo electrónico es requerido.',
            pattern: 'El correo electrónico no es válido.'
        }"
    ></div>

    <div
        class="fv-row mb-5 fv-plugins-icon-container"
        inputControl
        formControlName="phone"
        [label]="'Teléfono'"
        [type]="'tel'"
        [placeholder]="''"
        [submitted]="submitted()"
        [errors]="{
            required: 'El teléfono es requerido.',
            pattern: 'El teléfono no es válido.'
        }"
    ></div>

    <div class="mb-1">
        <div class="position-relative mb-5">
            <div
            class="fv-row mb-5 fv-plugins-icon-container"
            inputControl
            formControlName="password"
            [label]="'Contraseña'"
            [type]="'password'"
            [placeholder]="''"
            [submitted]="submitted()"
            [errors]="{
                required: 'La contraseña es requerida.',
                pattern: 'La contraseña debe contener una mayúscula, una minuscula, un número y un símbolo.'
            }"
            ></div>

            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
            data-kt-password-meter-control="visibility">
            <i class="ki-duotone ki-eye-slash fs-2"></i> <i class="ki-duotone ki-eye fs-2 d-none"></i> </span>
        </div>

        <!-- <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
        </div> -->
        <!-- <div class="text-muted">
        Use 8 or more characters with a mix of letters, numbers &amp; symbols.
        </div>
        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div> -->
    </div>

    <div
        class="fv-row mb-5 fv-plugins-icon-container"
        inputControl
        formControlName="confirmpassword"
        [label]="'Confirmar contraseña'"
        [type]="'password'"
        [placeholder]="''"
        [submitted]="submitted()"
        [errors]="{
            required: 'La confirmación de contraseña es requerida.',
        }"
    ></div>

    <div class="fv-row fv-plugins-icon-container">
        <div controlCheck formControlName="agreeterms" [submitted]="submitted()">
            <span class="form-check-label fw-semibold text-gray-700 fs-6">
                Estoy de acuerdo con los <a routerLink="/" class="ms-1 link-primary">Términos y condiciones</a>.
            </span>
        </div>
    </div>
</form>
