@let loading = ordersService.loading();
@let pagination = ordersService.pagination$(key) | async;

<account-child-wrapper>
  <div class="card">
    <div class="card-body px-0">
      <div class="px-8 mb-6">
        <h2>Mis Pedidos</h2>
      </div>
      <form [formGroup]="filterForm">
        <div class="d-flex px-8 pb-8 justify-content-between align-items-center w-100">
          <div class="d-flex gap-4">
            <div>
              <button class="btn btn-light px-4 py-3" (click)="resetFilters()">
                <i class="ki-duotone ki-arrows-loop pe-0 fs-3">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </button>
            </div>
            <div class="d-flex gap-4">
              <div controlDate
                   formControlName="dateFrom"
                   placeholder="Desde"
                   [solid]="true"
              ></div>

              <div controlDate
                   formControlName="dateTo"
                   placeholder="Hasta"
                   [solid]="true"
              ></div>
            </div>

            <div class="d-flex">
              <select class="form-select form-select-solid fs-0 text-1000"
                      formControlName="status"
                      name="status"
                      id="status">
                <option value="" selected>Todas</option>
                <option value="paid">Pagadas</option>
                <option value="unpaid">No Pagadas</option>
              </select>
            </div>
          </div>

          <div class="position-relative">
            <input type="hidden">
            <i
              class="ki-duotone ki-magnifier search-icon fs-2 text-gray-500 position-absolute top-50 translate-middle-y ms-5">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <input formControlName="search"
                   type="text"
                   class="search-input form-control form-control-solid ps-13"
                   placeholder="Buscar">

          </div>
        </div>
      </form>
      <div tableWrapper>
        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
          <thead>
          <tr class="text-uppercase fw-bold fs-7 text-gray-500 text-start">
            <th class="ps-8 dt-column-title">Fecha</th>
            <th class="dt-column-title">Doctor</th>
            <th class="dt-column-title">Envío</th>
            <th class="dt-column-title">Dirección de Entrega</th>
            <th class="dt-column-title">Método de Pago</th>
            <th class="dt-column-title text-end ps-0 pe-3">Total</th>
            <th class="dt-column-title"></th>
          </tr>
          </thead>
          <tbody templateTableBody>
            @if (loading) {
              <tr>
                <td colspan="7" class="px-8">
                  <app-catalog-layout-skeleton></app-catalog-layout-skeleton>
                </td>
              </tr>
            } @else {
              @for (item of data; track item.id; let idx = $index) {
                <tr class="hover-actions-trigger btn-reveal-trigger order position-static notification bg-hover-light"
                    (click)="router.navigate(['cuenta', 'pedidos', item.id])"
                    [cdkContextMenuTriggerFor]="context_menu">

                  <td class="ps-8 order"
                      [class.unpaid]="item.paymentStatus !== 'Succeeded'"
                      [matTooltip]="item.paymentStatus !== 'Succeeded' ? 'Este pedido aún no ha sido pagado. Da clic para pagar.' : ''">
                    {{ item.createdAt | date: 'dd/MM/yyyy' }}
                  </td>

                  <td userCell
                      [user]="item.doctor"
                      [role]="'Doctor'"></td>

                  <td>
                    <div ordersDeliveryStatusBadge [statusOption]="item.deliveryStatus"></div>
                  </td>

                  <td addressTableCell [address]="item.deliveryAddress"></td>

                  <td>
                    @if (!item.paymentMethod) {
                      <div class="badge badge-light-danger">
                        Pago pendiente
                      </div>
                    } @else {
                      <div paymentMethodCell [paymentMethod]="item.paymentMethod"></div>
                    }
                  </td>

                  <td>
                    <div class="text-end">{{ item.total | currency: 'MXN': 'symbol': '1.2-2' }}</div>
                  </td>

                  <td tableMenuCell
                      [item]="item"
                      class="pe-5"
                      [ellipsis]="true"
                      [contextMenu]="context_menu"
                      [(isCompact)]="isCompact"></td>

                  <ng-template #context_menu>
                    <div cdkMenu
                         class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4 show"
                    >
                      <div cdkMenuItem class="menu-item px-3 py-2">
                        Hola esto es pedido
                      </div>
                      <button cdkMenuItem class="menu-item px-3 btn-light bg-light">
                        <a class="menu-link">Descargar</a>
                      </button>
                    </div>
                  </ng-template>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>

    </div>
    <div class="card-body pt-0">
      <div tableWrapper>
        @if (pagination) {
          <div tablePager
               pager
               [(isCompact)]="isCompact"
               [pagination]="pagination"
               [isLoading]="loading"
               [(params)]="params"></div>
        }
      </div>
    </div>
  </div>
</account-child-wrapper>
