<thead
  tableHeader
  [columns]="service.columns"
  [(dictionary)]="service.dictionary"
  [(params)]="params"
  [(mode)]="mode"
  [(isCompact)]="isCompact"
  (selectedChange)="service.toggleMultipleSelectedArray$(key() || '', data())"
></thead>
<tbody templateTableBody>
  @for (item of data(); track item.id; let idx = $index) {
    <tr
      class="hover-actions-trigger btn-reveal-trigger position-static" (click)="service.clickRow(item, key, view, mode, query.isMobile, route)" (keydown.enter)="service.clickRow(item, key, view, mode, query.isMobile, route)" [tabIndex]="0"
      [cdkContextMenuTriggerFor]="context_menu"
    >
      <td
        tableCheckCell
        [isCompact]="isCompact()"
        [isChecked]="item.isSelected"
        (checkboxChange)="service.toggleMultipleSelected$(key() || '', item)"
      ></td>

      @if (dev.isDev()) {
        <td
          class="name align-middle white-space-nowrap px-0 py-0"
          [ngStyle]="isCompact() ? {} : { cursor: 'pointer' }"
        >
          <div class="d-flex align-items-center justify-content-start px-0">
            <a
              [routerLink]="[service.dictionary.catalogRoute, item.id]"
              [href]="[service.dictionary.catalogRoute, item.id]"
              class="fw-semibold text-primary"
            >#{{ item.id | number }}</a
            >
          </div>
        </td>
      }

      <td symbolCell [photoUrl]="item.photoUrl" [shape]="PhotoShape.SQUARE"></td>

      <td>
        <div class="fw-bolder">{{ item.name }}</div>
        <div class="text-muted fs-7 description-truncate" [title]="item.description">
          {{ item.description }}
        </div>
      </td>

      @for (cell of row().getItems([
        'price',
        'discount',
      ]); let idx = $index; track idx) {
        <td
          tableCell2
          [item]="cells()[cell.item.key]!"
          [(isCompact)]="isCompact"
          [value]="item[cell.item.key]"
        ></td>
      }

      <td class="text-end">
        <span class="me-1">{{ item.dosage }}</span><span class="fw-semibold">{{ item.unit }}</span>
      </td>


      @for (cell of row().getItems([
        'lotNumber',
        'manufacturer',
      ]); let idx = $index; track idx) {
        <td
          tableCell2
          [item]="cells()[cell.item.key]!"
          [(isCompact)]="isCompact"
          [value]="item[cell.item.key]"
        ></td>
      }

      <td
        tableCheckCell
        [isCompact]="isCompact()"
        [isChecked]="item.isEnabled"
        (checkboxChange)="handleIsEnabledChange(item, $event)"
      ></td>

      <td
        tableCheckCell
        [isCompact]="isCompact()"
        [isChecked]="item.isVisible"
        (checkboxChange)="handleIsVisibleChange(item, $event)"
      ></td>

      @for (cell of row().getItems([
        'createdAt',
      ]); let idx = $index; track idx) {
        <td
          tableCell2
          [item]="cells()[cell.item.key]!"
          [(isCompact)]="isCompact"
          [value]="item[cell.item.key]"
        ></td>
      }

      <td
        tableMenuCell
        [item]="item"
        [contextMenu]="context_menu"
        [(isCompact)]="isCompact"
      ></td>
      <ng-template #context_menu>
        @defer {
          @if (key()) {
            <div tableMenu
                 [siteSection]="params().fromSection || undefined"
                 [item]="item"
                 [key]="key()!"
                 [service]="service"></div>
          }
        }
      </ng-template>
    </tr>
  }
</tbody>
