<thead
  tableHeader
  [columns]="columns"
  [isCompact]="true"
  (selectedChange)="warehouseProductsService.toggleMultipleSelectedArray$(key || '', warehouseProducts())"
></thead>
<tbody templateTableBody>
  @for (item of warehouseProducts(); track item; let i = $index) {
    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
      <td
        tableCheckCell
        [isCompact]="true"
        [isChecked]="item.isSelected"
        (click)="warehouseProductsService.toggleMultipleSelected$(key || '', item)"
      ></td>

      @if (item.product) {
        <td symbolCell [photoUrl]="item.product.photoUrl || null" [shape]="PhotoShape.SQUARE"></td>
        <td>
          <div class="fw-bolder">{{ item.product.name }}</div>
          <div class="text-muted fs-7 description-truncate" [title]="item.product.description">
            {{ item.product.description }}
          </div>
        </td>
      } @else {
        <td></td>
        <td></td>
      }

      <!-- Stock / Quantity -->
      <td>
        @if (editable()) {
          <input type="number" class="form-control"
                 [(ngModel)]="item.quantity"
                 (ngModelChange)="markChanged(item)"
                 [ngStyle]="{'min-width': '100px'}">
        } @else {
          {{ item.quantity }}
        }
      </td>

      <!-- Reserved Quantity -->
      <td>
        @if (editable()) {
          <input type="number" class="form-control"
                 [(ngModel)]="item.reservedQuantity"
                 (ngModelChange)="markChanged(item)"
                 [ngStyle]="{'min-width': '100px'}">
        } @else {
          {{ item.reservedQuantity }}
        }
      </td>

      <!-- Damaged Quantity -->
      <td>
        @if (editable()) {
          <input type="number" class="form-control"
                 [(ngModel)]="item.damagedQuantity"
                 (ngModelChange)="markChanged(item)"
                 [ngStyle]="{'min-width': '100px'}">
        } @else {
          {{ item.damagedQuantity }}
        }
      </td>

      <!-- On Hold Quantity -->
      <td>
        @if (editable()) {
          <input type="number" class="form-control"
                 [(ngModel)]="item.onHoldQuantity"
                 (ngModelChange)="markChanged(item)"
                 [ngStyle]="{'min-width': '100px'}">
        } @else {
          {{ item.onHoldQuantity }}
        }
      </td>

      <!-- Reorder Level -->
      <td>
        @if (editable()) {
          <input type="number" class="form-control"
                 [(ngModel)]="item.reorderLevel"
                 (ngModelChange)="markChanged(item)"
                 [ngStyle]="{'min-width': '100px'}">
        } @else {
          {{ item.reorderLevel }}
        }
      </td>

      <!-- Safety Stock -->
      <td>
        @if (editable()) {
          <input type="number" class="form-control"
                 [(ngModel)]="item.safetyStock"
                 (ngModelChange)="markChanged(item)"
                 [ngStyle]="{'min-width': '100px'}">
        } @else {
          {{ item.safetyStock }}
        }
      </td>

      <!-- Lot Number -->
      <td>
        @if (editable()) {
          <input type="text" class="form-control"
                 [(ngModel)]="item.lotNumber"
                 (ngModelChange)="markChanged(item)"
                 [ngStyle]="{'min-width': '100px'}">
        } @else {
          {{ item.lotNumber || '-' }}
        }
      </td>

      <!-- Expiration Date -->
      <td>
        @if (editable()) {
          <input type="date" class="form-control"
                 [(ngModel)]="item.expirationDate"
                 (ngModelChange)="markChanged(item)"
                 [ngStyle]="{'min-width': '100px'}">
        } @else {
          {{ item.expirationDate | date:'shortDate' }}
        }
      </td>

      <!-- Last Updated -->
      <td>
        {{ item.lastUpdated | date:'short' }}
      </td>

      <td
        tableMenuCell
        [item]="item"
        [contextMenu]="context_menu"
        [isCompact]="true"
      ></td>
      <ng-template #context_menu>
        @defer {
          <div tableMenu
               [siteSection]="undefined"
               [item]="item"
               [key]="key"
               [service]="warehouseProductsService"></div>
        }
      </ng-template>
    </tr>
  }
</tbody>
