<div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px position-relative" dropdownToggle>
  <i class="ki-duotone ki-message-text-2 fs-1">
    <span class="path1"></span>
    <span class="path2"></span>
    <span class="path3"></span>
  </i>

  @if (unreadCount > 0) {
    <span
      class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink"></span>
  }
</div>

<div
  *dropdownMenu
  class="dropdown-menu dropdown-menu-right menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-375px">
  <div
    class="d-flex flex-column bgi-no-repeat rounded-top"
    style="background-image:url('/media/misc/menu-header-bg.jpg')"
    (click)="$event.stopPropagation();"
  >
    <h3 class="text-white fw-semibold px-9 mt-6 mb-3">
      Notificaciones
    </h3>

    <ul class="nav nav-line-tabs nav-line-tabs-2x nav-stretch fw-semibold px-9">
      <li
        class="nav-item cursor-pointer"
        role="presentation"
      >
        <button
          class="nav-link text-white opacity-75 opacity-state-100 pb-4"
          [class.active]="selectedTab() === NotificationTab.Unread"
          (click)="selectTab(NotificationTab.Unread, $event)"
        >
          Nuevas
          @if (unreadCount > 0) {
            <span class="badge badge-light-primary badge-circle badge-sm fs-9 ms-2">{{ unreadCount }}</span>
          }
        </button>
      </li>

      <li
        class="nav-item cursor-pointer"
        role="presentation"
      >
        <button
          class="nav-link text-white opacity-75 opacity-state-100 pb-4"
          [class.active]="selectedTab() === NotificationTab.Read"
          (click)="selectTab(NotificationTab.Read, $event)"
        >
          Leídas
        </button>
      </li>

      <li
        class="nav-item cursor-pointer"
        role="presentation"
      >
        <button
          class="nav-link text-white opacity-75 opacity-state-100 pb-4"
          [class.active]="selectedTab() === NotificationTab.All" s
          (click)="selectTab(NotificationTab.All, $event)"
        >
          Todas
        </button>
      </li>
    </ul>
  </div>
  <div>
    <div class="scroll-y mh-325px my-5">
      @for (notification of filteredNotifications(); track notification) {
        <div notificationContainer [notification]="notification" (onRead)="markNotificationAsRead($event)"></div>
      }
    </div>
    <div class="py-3 text-center border-top">
      <a [routerLink]="'notificaciones'" class="btn btn-color-gray-600 btn-active-color-primary">
        Ver Todas
        <i class="ki-duotone ki-arrow-right fs-5">
          <span class="path1"></span>
          <span class="path2"></span>
        </i></a>
    </div>
  </div>
</div>
