@let pagination = service.pagination$(key()) | async;
@let list = service.list$(key(), mode()) | async;
<!-- @let hasSelected = service.hasSelected(key(), mode()) | async;
@let selectedCount = service.selectedCount(key(), mode()) | async; -->

<div class="card-header align-items-center py-5 gap-2 gap-md-5">
  <form [id]="form.id" (ngSubmit)="onSubmit(key())">
    <div class="card-title">
      <div templateControlSearch [(control)]="form.controls.search" [(fromWrapper)]="fromWrapper" [(dictionary)]="service.dictionary"></div>
    </div>
  </form>

    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
      <a (click)="service.clickLink(undefined, key(), 'create', view()); $event.preventDefault()" [href]="service.dictionary.createRoute" class="btn btn-primary">
        Agregar {{ service.dictionary.singular }}
      </a>
    </div>
  </div>

<div class="card-body pt-0">
  <div tableWrapper>
    @if(list !== null){
      <table prescriptionsTable [(mode)]="mode" [(isCompact)]="isCompact" [data]="list" [(key)]="key" [(view)]="view" [(item)]="item" [(params)]="params"></table>
    }
    @if(pagination !== null){
      <div tablePager pager [(isCompact)]="isCompact" [pagination]="pagination" [(params)]="params"></div>
    }
  </div>
</div>
