<div class="card mt-4">
  <div class="pt-6 px-6">
    <div class="d-flex flex-grow-1 align-items-center justify-content-between">
      <div class="fs-2 fw-bold text-gray-900">
        Medicamentos
      </div>
      <button (click)="openProductSelectModal()"
              class="btn btn-primary">
        <fa-icon [icon]="icons.faPlus"></fa-icon>
        Agregar medicamento
      </button>
    </div>
  </div>
  <div class="card-body py-4">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead
          [class]="'border-bottom'"
          [columns]="columns"
          [mode]="'readonly'"
          [params]="null"
          [showActions]="true"
          [show]="true"
          tableHeader
        ></thead>
        <tbody>
          @for (item of data(); track item) {
            <tr>
              <td></td>
              <td class="fw-bold">{{ item.product?.name }}</td>
              <td>{{ item.product?.description }}</td>
              <td>{{ item.product?.quantity }} {{ item.product?.unit }}</td>
              <td>
                <input type="text"
                       [(ngModel)]="item.notes"
                       class="form-control"/>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <button class="btn btn-sm btn-secondary me-4 quantity-btn"
                          (click)="handleAmountChange(item, -1)">
                    <fa-icon [icon]="icons.faMinus"></fa-icon>
                  </button>
                  <input type="number"
                         [(ngModel)]="item.quantity"
                         class="form-control"/>
                  <button class="btn btn-sm btn-secondary ms-4 quantity-btn"
                          (click)="handleAmountChange(item, 1)">
                    <fa-icon [icon]="icons.faPlus"></fa-icon>
                  </button>
                </div>
              </td>
              <td class="d-flex align-items-center">
                <button class="btn btn-sm btn-light-primary">
                  <fa-icon [icon]="icons.faPencil"></fa-icon>
                </button>
                <button class="btn btn-sm btn-light-danger">
                  <fa-icon [icon]="icons.faClipboard"></fa-icon>
                </button>
              </td>
            </tr>

          }
        </tbody>
      </table>
    </div>
  </div>
</div>
