<div class="container-xxl">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-grow-1">
        <div class="d-flex flex-column flex-grow-1">
          <form class="position-relative mb-5 w-100 me-5" autocomplete="off">
            <input type="hidden" />

            <input
              type="text"
              class="form-control form-control-lg form-control-solid px-15"
              name="search"
              value=""
              placeholder="Busca por nombre, medicamento, etc..."
            />

            <span
              class="position-absolute top-50 end-0 translate-middle-y lh-0 d-none me-5"
            >
              <span
                class="spinner-border h-15px w-15px align-middle text-gray-500"
              ></span>
            </span>

            <span
              class="btn btn-flush btn-active-color-primary position-absolute top-50 end-0 translate-middle-y lh-0 me-5 d-none"
            >
            </span>
          </form>
        </div>
        <div class="ms-2">
          <button class="btn btn-light-primary">
            <i class="ki-duotone ki-filter">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            Filtros
          </button>
          <button class="btn btn-primary ms-2" [routerLink]="'new'">
            <span class="d-flex align-items-center">
              <i class="ki-duotone ki-plus me-1"> </i> Agregar</span
            >
          </button>
        </div>
      </div>

      @if (!loading) { @if (data && pagination && data.length > 0) {
        <div class="table-responsive scrollbar mx-n1 px-1 d-flex border-top">
          <table
            patientsTable
            [isCompact]="isCompact()"
            [mode]="mode()"
            [data]="data"
          ></table>
        </div>
      <div
        tablePager
        [isCompact]="isCompact()"
        [currentPage]="pagination.currentPage"
        (pageChanged)="service.onPageChanged($event)"
        [itemsPerPage]="pagination.itemsPerPage"
        [totalItems]="pagination.totalItems"
        (loadMore)="service.loadMore()"
        (loadLess)="service.loadLess()"
        (pageChanged)="service.onPageChanged($event)"
      ></div>
      } @else {
      <div style="border-radius: 0.7em" class="bg-white border">
        <alert type="unknown" class="mb-0 text-center">
          <h4 class="alert-heading mt-4 pt-4 mb-4 fw-bold">
            {{ service.subjectPluralUpperCase }} no encontrados
          </h4>
          <p class="mb-4">
            No se encontraron {{ service.subjectPlural }} que coincidan con los
            criterios de búsqueda.
          </p>
          <p class="mb-4">
            <button
              class="btn btn-phoenix-secondary me-2"
              (click)="service.onReset(filterForm)"
            >
              Restablecer los filtros
            </button>
          </p>
        </alert>
      </div>
      } } @else {
      <div tableLoadingPlaceholder></div>
      }
    </div>
  </div>
</div>

<!-- <div class="pb-2">
  <h1 class="mb-4">{{ service.subjectPluralUpperCase }}</h1>
  <div>
    <div class="row g-3 justify-content-between mb-4">
      <div class="col-auto">
        <div class="d-md-flex justify-content-between">
          @if (data) {
          <div>
            <a type="button" class="btn btn-primary me-4" [routerLink]="createRoute">
              <fa-icon [icon]="icons.faPlus" class="me-1" />
              Crear {{ service.subjectSingular | lowercase }}
            </a>
            <button type="button" class="btn btn-link text-900 px-0 me-4" [disabled]="data!.length < 1">
              <fa-icon [icon]="icons.faFileExport" class="fs--1 me-2" />Exportar
            </button>

            @if (hasSelected) {
            <button class="btn btn-phoenix-danger position-relative" type="button" (click)="onDelete()">
              @if (selectedCount > 1) {
              Eliminar {{ service.subjectPlural | lowercase }}
              } @else {
              Eliminar {{ service.subjectSingular | lowercase }}
              }
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger-500">
                {{ selectedCount | number }}
                <span class="visually-hidden">{{ service.subjectPlural }} a eliminar</span>
              </span>
            </button>
            }
          </div>
          }
        </div>
      </div>

      <form [formGroup]="filterForm.formGroup" [id]="filterForm.id" class="col-auto">
        <div class="d-flex">
          <div searchText formControlName="search" [label]="null" class="me-2"
            [placeholder]="'Buscar ' + (service.subjectPlural | lowercase)"></div>
          <div searchDateRange class="me-2" formControlName="dateRange" [label]="null"
            [datepickerConfig]="datepickerConfig"></div>
          <button class="btn px-3 btn-phoenix-secondary me-2" type="button" aria-haspopup="true" aria-expanded="false"
            (click)="service.onReset(filterForm)">
            <fa-icon [icon]="icons.faArrowsRotate" class="text-primary" />
          </button>
          <button class="btn px-3 btn-phoenix-secondary" type="button" aria-haspopup="true" aria-expanded="false"
            (click)="showFilterModal()">
            <span class="fa fa-filter text-primary"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

@if (!loading) {
@if (data && pagination && data.length > 0) {
<table patientsTable class="table-responsive scrollbar mx-n1 px-1 d-flex border-top" [isCompact]="isCompact()" [mode]="mode()" [data]="data">
</table>
<div tablePager [isCompact]="isCompact()" [currentPage]="pagination.currentPage"
  (pageChanged)="service.onPageChanged($event)" [itemsPerPage]="pagination.itemsPerPage"
  [totalItems]="pagination.totalItems" (loadMore)="service.loadMore()" (loadLess)="service.loadLess()"
  (pageChanged)="service.onPageChanged($event)"></div>
} @else {
<div style="border-radius: 0.7em" class="bg-white border">
  <alert type="unknown" class="mb-0 text-center">
    <h4 class="alert-heading mt-4 pt-4 mb-4 fw-bold">
      {{ service.subjectPluralUpperCase }} no encontrados
    </h4>
    <p class="mb-4">
      No se encontraron {{ service.subjectPlural }} que coincidan con los
      criterios de búsqueda.
    </p>
    <p class="mb-4">
      <button class="btn btn-phoenix-secondary me-2" (click)="service.onReset(filterForm)">
        Restablecer los filtros
      </button>
    </p>
  </alert>
</div>
}
} @else {
<div tableLoadingPlaceholder></div>
}

<div patientsFilterModal></div> -->
