<div class="card mb-5 mb-xl-10">
  <div class="card-body">
    <!-- <div
      class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-12 p-6"
    >
      <i class="ki-duotone ki-information fs-2tx text-warning me-4">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
      </i>
      <div class="d-flex flex-stack flex-grow-1">
        <div class="fw-semibold">
          <h4 class="text-gray-900 fw-bold">We need your attention!</h4>
          <div class="fs-6 text-gray-700">
            Your payment was declined. To start using tools, please
            <a
              href="#"
              class="fw-bold"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_new_card"
              >Add Payment Method</a
            >.
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-7">
        <h3 class="mb-2">Activo hasta Ene 09, 2024</h3>
        <p class="fs-6 text-gray-600 fw-semibold mb-6 mb-lg-15">
          Te enviaremos una notificación al vencimiento de la suscripción
        </p>
      </div>
      <div class="col-lg-5">
        <div class="fs-5 mb-2">
          <span class="text-gray-800 fw-bold me-1">$199.99 MXN</span>
          <span class="text-gray-600 fw-semibold">al mes</span>
        </div>
        <div class="fs-6 text-gray-600 fw-semibold">
          Miembro Pro. Acceso a todas las funciones y herramientas
        </div>
        <!-- <div class="d-flex text-muted fw-bold fs-5 mb-3">
          <span class="flex-grow-1 text-gray-800">Users</span>
          <span class="text-gray-800">86 of 100 Used</span>
        </div>
        <div class="progress h-8px bg-light-primary mb-2">
          <div
            class="progress-bar bg-primary"
            role="progressbar"
            style="width: 86%"
            aria-label="progressbar"
            aria-valuenow="86"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="fs-6 text-gray-600 fw-semibold mb-10">
          14 Users remaining until your plan requires update
        </div> -->
        <div class="d-flex justify-content-end pb-0 px-0 mt-5">
          <a
            href="#"
            class="btn btn-light btn-active-light-primary me-2"
            id="kt_account_billing_cancel_subscription_btn"
            >Cancelar Suscripción</a
          >
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#kt_modal_upgrade_plan"
          >
            Cambiar Plan
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-5 mb-xl-10">
  <div class="card-header card-header-stretch pb-0">
    <div class="card-title">
      <h3 class="m-0">Métodos de pago</h3>
    </div>
    <div class="card-toolbar m-0">
      <ul
        class="nav nav-stretch nav-line-tabs border-transparent"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            id="kt_billing_creditcard_tab"
            class="nav-link fs-5 fw-bold me-5 active"
            data-bs-toggle="tab"
            role="tab"
            >Tarjeta de Crédito / Debito</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <div
      id="kt_billing_creditcard"
      class="tab-pane fade show active"
      role="tabpanel"
    >
      <h3 class="mb-5">Mis Tarjetas</h3>
      <div class="row gx-9 gy-6">
        @for (paymentMethod of billingDetails?.userPaymentMethods; track $index) {
          <div class="col-xl-6" data-kt-billing-element="card">
            <div
              class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6"
            >
              <div class="d-flex flex-column py-2">
                <div class="d-flex align-items-center fs-4 fw-bold mb-5">
                  {{paymentMethod?.displayName}}
                  @if (paymentMethod?.isMain) {
                    <span class="badge badge-light-success fs-7 ms-2">Principal</span>
                  }
                </div>
                <div class="d-flex align-items-center">
                  <img
                    src="media/svg/card-logos/{{paymentMethod?.brand}}.svg"
                    alt=""
                    class="me-4"
                  />
                  <div>
                    <div class="fs-4 fw-bold">{{paymentMethod?.brand}} **** {{paymentMethod?.last4}}</div>
                    <div class="fs-6 fw-semibold text-gray-500">
                      Expira el {{paymentMethod?.expirationMonth}}/{{paymentMethod?.expirationYear}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center py-2">
                <button
                  class="btn btn-sm btn-light btn-active-light-primary me-3"
                  data-kt-billing-action="card-delete"
                  [disabled]="paymentMethod?.isMain"
                >
                  <span class="indicator-label">Eliminar</span>
                  <span class="indicator-progress"
                    >Please wait...
                    <span
                      class="spinner-border spinner-border-sm align-middle ms-2"
                    ></span
                  ></span>
                </button>
              </div>
            </div>
          </div>
        }
        <div class="col-xl-6">
          <div
            class="notice d-flex bg-light-primary rounded border-primary border border-dashed h-lg-100 p-6"
          >
            <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
              <div class="mb-3 mb-md-0 fw-semibold">
                <h4 class="text-gray-900 fw-bold">¡Aviso importante!</h4>
                <div class="fs-6 text-gray-700 pe-7">
                  Por favor lea nuestros 
                  <a href="#" class="fw-bold me-1">Términos de Producto</a>
                  <br />antes de agregar una nueva tarjeta
                </div>
              </div>
              <a
                (click)="openAddPaymentMethodModal()"
                class="btn btn-primary px-6 align-self-center text-nowrap"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_new_card"
                >Añadir Tarjeta</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-5 mb-xl-10">
  <div class="card-header">
    <div class="card-title">
      <h3>Dirección de Facturación</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="row gx-9 gy-6">
      @for (address of billingDetails?.userAddresses; track $index) {
        <div class="col-xl-6" data-kt-billing-element="address">
          <div
            class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6"
          >
            <div class="d-flex flex-column py-2">
              <div class="d-flex align-items-center fs-5 fw-bold mb-5">
                Dirección {{$index + 1}}
                @if (address?.isBilling) {
                  <span class="badge badge-light-success fs-7 ms-2">Facturación</span>
                }
              </div>
              <div class="fs-6 fw-semibold text-gray-600">
                {{address?.street}}
                <br />
                {{address?.zipcode}} {{address?.city}}
                <br />
                {{address?.state}}, {{address?.country ?? 'México'}}
              </div>
            </div>
            <div class="d-flex align-items-center py-2">
              <button
                class="btn btn-sm btn-light btn-active-light-primary me-3"
                data-kt-billing-action="address-delete"
                [disabled]="address?.isBilling"
              >
                <span class="indicator-label">Eliminar</span>
                <span class="indicator-progress"
                  >Please wait...
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span
                ></span>
              </button>
              <button
                class="btn btn-sm btn-light btn-active-light-primary"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_new_address"
              >
                Editar
              </button>
            </div>
          </div>
        </div>
      }
      <div class="col-xl-6">
        <div
          class="notice d-flex bg-light-primary rounded border-primary border border-dashed flex-stack h-xl-100 mb-10 p-6"
        >
          <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
            <div class="mb-3 mb-md-0 fw-semibold">
              <h4 class="text-gray-900 fw-bold">
                Agregar una nueva dirección
              </h4>
              <div class="fs-6 text-gray-700 pe-7">
                Puede agregar direcciones adicionales para facturación
              </div>
            </div>
            <a
              href="#"
              class="btn btn-primary px-6 align-self-center text-nowrap"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_new_address"
              >Nueva Dirección</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <h3 class="mb-3">Impuestos Aplicados</h3>
      <div class="fw-semibold text-gray-600 fs-6">
        México - 16% IVA
        <br />
        <a class="fw-bold" href="#">Más Información</a>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header card-header-stretch border-bottom border-gray-200">
    <div class="card-title">
      <h3 class="fw-bold m-0">Historial de Facturación</h3>
    </div>
    <div class="card-toolbar m-0">
      <ul
        class="nav nav-stretch nav-line-tabs border-transparent"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            id="kt_billing_6months_tab"
            class="nav-link fs-5 fw-semibold me-3 active"
            data-bs-toggle="tab"
            role="tab"
            href="#kt_billing_months"
            >Mes</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            id="kt_billing_1year_tab"
            class="nav-link fs-5 fw-semibold me-3"
            data-bs-toggle="tab"
            role="tab"
            href="#kt_billing_year"
            >Año</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            id="kt_billing_alltime_tab"
            class="nav-link fs-5 fw-semibold"
            data-bs-toggle="tab"
            role="tab"
            href="#kt_billing_all"
            >Histórico</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div
      id="kt_billing_months"
      class="card-body p-0 tab-pane fade show active"
      role="tabpanel"
      aria-labelledby="kt_billing_months"
    >
      <div class="table-responsive">
        <table class="table table-row-bordered align-middle gy-4 gs-9">
          <thead
            class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75"
          >
            <tr>
              <td class="min-w-150px">Fecha</td>
              <td class="min-w-250px">Descripción</td>
              <td class="min-w-150px">Cantidad</td>
              <td class="min-w-150px">Factura</td>
              <td></td>
            </tr>
          </thead>
          <tbody class="fw-semibold text-gray-600">
            <tr>
              <td>Nov 01, 2020</td>
              <td>
                <a href="#">Invoice for Ocrober 2024</a>
              </td>
              <td>$123.79</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Oct 08, 2020</td>
              <td>
                <a href="#">Invoice for September 2024</a>
              </td>
              <td>$98.03</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Aug 24, 2020</td>
              <td>Paypal</td>
              <td>$35.07</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Aug 01, 2020</td>
              <td>
                <a href="#">Invoice for July 2024</a>
              </td>
              <td>$142.80</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Jul 01, 2020</td>
              <td>
                <a href="#">Invoice for June 2024</a>
              </td>
              <td>$123.79</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Jun 17, 2020</td>
              <td>Paypal</td>
              <td>$523.09</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Jun 01, 2020</td>
              <td>
                <a href="#">Invoice for May 2024</a>
              </td>
              <td>$123.79</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      id="kt_billing_year"
      class="card-body p-0 tab-pane fade"
      role="tabpanel"
      aria-labelledby="kt_billing_year"
    >
      <div class="table-responsive">
        <table class="table table-row-bordered align-middle gy-4 gs-9">
          <thead
            class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75"
          >
            <tr>
              <td class="min-w-150px">Fecha</td>
              <td class="min-w-250px">Descripción</td>
              <td class="min-w-150px">Cantidad</td>
              <td class="min-w-150px">Factura</td>
              <td></td>
            </tr>
          </thead>
          <tbody class="fw-semibold text-gray-600">
            <tr>
              <td>Dec 01, 2021</td>
              <td>
                <a href="#">Billing for Ocrober 2024</a>
              </td>
              <td>$250.79</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Oct 08, 2021</td>
              <td>
                <a href="#">Statements for September 2024</a>
              </td>
              <td>$98.03</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Aug 24, 2021</td>
              <td>Paypal</td>
              <td>$35.07</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Aug 01, 2021</td>
              <td>
                <a href="#">Invoice for July 2024</a>
              </td>
              <td>$142.80</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Jul 01, 2021</td>
              <td>
                <a href="#">Statements for June 2024</a>
              </td>
              <td>$123.79</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Jun 17, 2021</td>
              <td>Paypal</td>
              <td>$23.09</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      id="kt_billing_all"
      class="card-body p-0 tab-pane fade"
      role="tabpanel"
      aria-labelledby="kt_billing_all"
    >
      <div class="table-responsive">
        <table class="table table-row-bordered align-middle gy-4 gs-9">
          <thead
            class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75"
          >
            <tr>
              <td class="min-w-150px">Fecha</td>
              <td class="min-w-250px">Descripción</td>
              <td class="min-w-150px">Cantidad</td>
              <td class="min-w-150px">Factura</td>
              <td></td>
            </tr>
          </thead>
          <tbody class="fw-semibold text-gray-600">
            <tr>
              <td>Nov 01, 2021</td>
              <td>
                <a href="#">Billing for Ocrober 2024</a>
              </td>
              <td>$123.79</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Aug 10, 2021</td>
              <td>Paypal</td>
              <td>$35.07</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Aug 01, 2021</td>
              <td>
                <a href="#">Invoice for July 2024</a>
              </td>
              <td>$142.80</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Jul 20, 2021</td>
              <td>
                <a href="#">Statements for June 2024</a>
              </td>
              <td>$123.79</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Jun 17, 2021</td>
              <td>Paypal</td>
              <td>$23.09</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
            <tr>
              <td>Jun 01, 2021</td>
              <td>
                <a href="#">Invoice for May 2024</a>
              </td>
              <td>$123.79</td>
              <td>
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >PDF</a
                >
              </td>
              <td class="text-right">
                <a
                  href="#"
                  class="btn btn-sm btn-light btn-active-light-primary"
                  >View</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
