@use '@angular/material' as mat;

mat.$theme-ignore-duplication-warnings: true;

@include mat.core();

// Define a dark theme
$dark-theme: mat.m2-define-dark-theme((
 color: (
   primary: mat.m2-define-palette(mat.$m2-blue-grey-palette),
   accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
 ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.m2-define-light-theme((
 color: (
   primary: mat.m2-define-palette(mat.$m2-indigo-palette),
   accent: mat.m2-define-palette(mat.$m2-indigo-palette),
 ),
));

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
  scroll-behavior: smooth;
}

.menu-item{
  border: 0!important;
}

.mat-expansion-panel-body {
  padding-right: 0!important;
  padding-left: 0!important;
}

.cdk-overlay-container {
  z-index: 1000000000!important;
}

.custom-snackbar {
  .mat-mdc-snackbar-surface {
    margin-bottom: 20px !important;
    background-color: var(--bs-success) !important;
  }
  .mat-mdc-snack-bar-label {
    color: white !important;
    font-size: 1.1rem !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
    font-size: 1rem !important;
  }
}

.snackbar-danger {
  .mat-mdc-snackbar-surface {
    margin-bottom: 20px !important;
    background-color: var(--bs-danger) !important;
  }
  .mat-mdc-snack-bar-label {
    color: white !important;
    font-size: 1.1rem !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
    font-size: 1rem !important;
  }
}

.doctor-map-marker {
  transform: translateY(-10px);
  padding: 4px;
  background-color: #00A3FF;
}

.doctor-map-marker:after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00A3FF;
  z-index: 0;
}

.form-control.is-invalid {
  padding-right: 0.75rem!important;
}

.form-control.is-valid {
  padding-right: 0.75rem!important;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none!important;
}

.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"],
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"] {
  background-image: none!important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none!important;
}

.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"],
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"] {
  background-image: none!important;
}

.was-validated .choices.invalid .choices__inner {
  background-image: none!important;
}
