@use '@angular/material' as mat;
@use 'public/styles/m3-theme';

mat.$theme-ignore-duplication-warnings: true

;

@include mat.core();
@include mat.strong-focus-indicators();

:root {
  @include mat.button-overrides((
    protected-container-elevation-shadow: transparent,
    protected-disabled-container-elevation-shadow: transparent,
  ));

  @include mat.fab-overrides((
    container-elevation-shadow: transparent,
    small-container-elevation-shadow: transparent,
    extended-container-elevation-shadow: transparent,
  ));

  @include mat.table-overrides((
    row-item-outline-color: transparent,
    // background-color: transparent,
  ));


  @include mat.expansion-overrides((
    container-background-color: transparent,
  ));

  //   @include mat.sidenav-overrides((
  //     container-background-color: orange,
  //     container-text-color: red,
  //   ));
}

html {
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.button-theme(m3-theme.$light-theme);
  @include mat.strong-focus-indicators-theme(m3-theme.$light-theme);

  .dark-theme {
    @include mat.system-level-colors(m3-theme.$dark-theme);
    @include mat.system-level-typography(m3-theme.$dark-theme);
    @include mat.all-component-themes(m3-theme.$dark-theme);
    @include mat.button-theme(m3-theme.$dark-theme);
    @include mat.strong-focus-indicators-theme(m3-theme.$dark-theme);
  }
}

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 20px;
  border: none;
}

*::-webkit-scrollbar-button {
  display: none;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
}

.menu-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.menu-item:focus {
  outline: none !important;
  box-shadow: none !important;
}

.menu-item {
  border: 0 !important;
}

.mat-expansion-panel-body {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.cdk-overlay-container {
  z-index: 1000000000 !important;
}

.custom-snackbar {
  .mat-mdc-snackbar-surface {
    margin-bottom: 20px !important;
    background-color: var(--bs-success) !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
    font-size: 1.1rem !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
    font-size: 1rem !important;
  }
}

.snackbar-danger {
  .mat-mdc-snackbar-surface {
    margin-bottom: 20px !important;
    background-color: var(--bs-danger) !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
    font-size: 1.1rem !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
    font-size: 1rem !important;
  }
}

.doctor-map-marker {
  transform: translateY(-10px);
  padding: 4px;
  background-color: #00A3FF;
}

.doctor-map-marker:after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00A3FF;
  z-index: 0;
}

.form-control.is-invalid {
  padding-right: 0.75rem !important;
}

.form-control.is-valid {
  padding-right: 0.75rem !important;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none !important;
}

.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"],
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"] {
  background-image: none !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}

.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"],
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"] {
  background-image: none !important;
}

.was-validated .choices.invalid .choices__inner {
  background-image: none !important;
}

.json {
  white-space: pre-wrap;
  font-family: monospace;
}

[mat-dialog-title] {
  cursor: move !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0.475rem;
}

.mat-mdc-dialog-surface {
  // background-color: transparent!important;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
}

mat-form-field.hide-bottom {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

.mat-mdc-list-item-unscoped-content {
  display: flex;
  align-items: center;
}

.route-container {
  display: block;
  height: calc(100vh - 74px);
  overflow: auto;
  overflow-x: hidden;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.description-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.nowrap {
  white-space: nowrap;
}
