@if (!hideShowing()) {
  <div class="col-auto d-flex">
    <!-- <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900">
      Mostrando
      {{(pagination().currentPage - 1) * pagination().itemsPerPage + 1 | number}}
      a
      {{pagination().currentPage * pagination().itemsPerPage < pagination().totalItems ? pagination().currentPage * pagination().itemsPerPage : pagination().totalItems | number}}
      de
      {{pagination().totalItems | number}}
    </p> -->
    @if (!isLastPage && !hideShowAll()) {
      @if (pagination().totalItems <= 50) {
        <a class="fw-semi-bold pointer" style="text-decoration: none;" (click)="onLoadMore()">
          Mostrar todos<fa-icon [icon]="icons.faAngleRight" class="ms-1" />
        </a>
      } @else if (totalPages > 1 && pagination().itemsPerPage < 50) {
        <a class="fw-semi-bold pointer" style="text-decoration: none;" (click)="onLoadMore()">
          Cargar más<fa-icon [icon]="icons.faAngleRight" class="ms-1" />
        </a>
      } @else {
        <a class="fw-semi-bold pointer" style="text-decoration: none;" (click)="onLoadLess()">
          Mostrar menos<fa-icon [icon]="icons.faAngleRight" class="ms-1" />
        </a>
      }
    }
  </div>
}
<div class="col-auto d-flex gap-3">
  <button (click)="onPrevious()" data-list-pagination="prev" class="page-link pointer" [disabled]="pagination().currentPage === 1"
    [class.disabled]="pagination().currentPage === 1">
    <fa-icon [icon]="icons.faChevronLeft" size="sm" [ngStyle]="{color: pagination().currentPage === 1 ? '#C4CADA' : '#4B5675'}" />
  </button>
  <ul class="mb-0 pagination">
    @for(page of pages; let idx = $index; track idx) {
    <li [class.active]="page === pagination().currentPage" class="page-item">
      <button class="page-link pointer" type="button"
        (click)="page !== pagination().currentPage && navigateToPage(page); $event.preventDefault()" [attr.data-page]="pagination().itemsPerPage"
        [attr.data-i]="page">
        {{ page | number}}
      </button>
    </li>
    }
  </ul>
  <button (click)="onNext()" class="page-link pe-0" data-list-pagination="next" [disabled]="pagination().currentPage === totalPages"
    [class.disabled]="pagination().currentPage === totalPages">
    <fa-icon [icon]="icons.faChevronRight" size="sm"  [ngStyle]="{color: pagination().currentPage === totalPages ? '#C4CADA' : '#4B5675'}" />
  </button>
</div>
