<a
  class="btn btn-sm btn-light btn-active-light-primary btn-flex btn-center"
  [class.px-4]="ellipsis()"
  [class.py-1]="ellipsis()"
  [class.bg-transparent]="ellipsis()"
  [cdkContextMenuTriggerFor]="contextMenu()"
  [cdkMenuTriggerFor]="contextMenu()"
  [id]="'dropdown' + item().name + item().id"
  type="button"
  [attr.aria-controls]="'dropdown' + item().name + item().id"
>
  @if (!ellipsis()) {
    Opciones
    <i class="ki-duotone ki-down fs-5 ms-1"></i>
  } @else {
    <span class="fs-4">⋮</span>
  }
</a>
