<div class="d-flex flex-stack py-4 px-8 notification"
     [class.pending-notification]="!notification().isRead"
     (mouseenter)="onRead.emit(notification().id!)">
  <div class="d-flex align-items-center">
    <div class="mb-0 me-2">
      <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bold">
        {{ notification().title }}
      </a>
      <div class="text-gray-500 fs-7">
        {{ notification().message }}
      </div>
    </div>
  </div>
  <span class="badge badge-light fs-8">
    {{ notification().createdAt | date }}
  </span>
</div>
