::ng-deep .nav-tabs .nav-link.active {
  color: #00A3FF;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #00A3FF;

  .badge {
    background-color: #00A3FF;
  }
}

::ng-deep .nav-link.active .nav-tab-count {
  font-weight: 500;
  color: #888;
}

::ng-deep .nav-tab-count {
  font-weight: 500;
}

::ng-deep .nav-tabs .nav-link {
  font-weight: 700;
  color: #ccc;
  border: 0px;
  border-bottom: 0px solid #ccc;
  background-color: transparent;
}


::ng-deep .nav-tabs .nav-link:not(.active):hover {
  border-bottom: 2px solid #00A3FF;
}
