<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <h1 class="text-gray-900 fw-bold my-1 fs-2">
        {{ title }}
      </h1>
      <ul breadcrumb>
        @for (crumb of breadcrumbs; track crumb) {
          <li
            breadcrumbLink
            [label]="crumb.label"
            [url]="crumb.url || undefined"
            [active]="false">
            {{ crumb.label }}
          </li>
        }
      </ul>
    </div>
    <div toolbarActions>
      <ng-content></ng-content>
    </div>
  </div>
</div>
