.transparent-container {
  background: none !important;
}

.no-background {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}

.no-background > div {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}

mat-drawer-content {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
