<div class="position-relative d-inline-block">
  <input type="file" accept="image/*" (change)="onFilesSelected($event)" multiple style="display: none;"
         #fileInput>
  @if (editable()) {
    <label
      tooltip="Agregar imágenes"
      class="
        btn btn-icon btn-circle btn-active-color-primary
        w-25px h-25px bg-body shadow
        position-absolute
      "
      (click)="fileInput.click()"
      style="z-index: 10; top: 5px; right: 5px;"
    >
      <i class="ki-duotone ki-pencil fs-7">
        <span class="path1"></span>
        <span class="path2"></span>
      </i>
    </label>
  }

  <div class="d-flex flex-column gap-4 justify-content-center text-center">
    <div class="position-relative image-thumbnail align-self-center justify-content-center">
      <div
        symbolCell
        class="justify-content-center text-center"
        [photoUrl]="imageHandler.getMainImage()?.url || imageHandler.getImages()[0].url || null"
        [size]="thumbnailSize()"
        [shape]="thumbnailShape()"
      ></div>
    </div>
  </div>
</div>
