.invalid-feedback.show-feedback {
  display: block !important;
}

.invalid-feedback {
  display: block !important;
}

.inset {
  position: absolute;
  top: 6.7345px;
  right: 10px;
  z-index: 1;
}

.form-control:disabled {
  background-color: transparent !important;
}

.form-label {
  display: flex;
  align-items: center;
}

.form-label .badge {
  margin-left: 4px;
  margin-top: -4px;
}

.custom-spinner {
  width: 23px;
  height: 23px;
  border-width: 2px;
}
