<ng-template #patientDisplay
             let-index="index"
             let-model="item">
  <div class="d-flex align-items-center">
    <div class="symbol symbol-50px symbol-circle">
      <div userProfilePicture [account]="model.data"></div>
      <div class="bg-success position-absolute border border-4 border-body h-15px w-15px rounded-circle translate-middle start-100 top-100 ms-n3 mt-n3">
      </div>
    </div>
    <div class="d-flex flex-column ms-4">
      <div class="fw-bolder fs-5">{{ model.data.fullName }}</div>
      <div class="fs-6 text-gray-600">{{ model.data.sex }}   | {{ model.data.age }} años</div>
    </div>
  </div>
</ng-template>


<div [formGroup]="formGroup">
  <label
    class="form-label fw-semi-bold fs--1 mb-2 d-flex m-0"
  >
    {{ label() }}

    @if (popover()) {
      <fa-icon
        class="ms-1"
        [icon]="icons.faRegCircleQuestion"
        [popover]="popover()"
        triggers="mouseenter:mouseleave"
      />
    }
  </label>
  <div class="input-group mb-0 mb-md-3 d-flex flex-grow-1 align-items-start">
    <h1>pendiente</h1>
    <!-- <div
      (onLoading)="onTypeaheadLoading($event)"
      (onSelect)="onTypeaheadSelect($event)"
      (onInputFocus)="onInputFocus()"
      [hideIsOptional]="true"
      [id]="'user'"
      [isInputGroupSpan]="true"
      [placeholder]="'Seleccione o busque un paciente'"
      [submitted]="submitted"
      [typeaheadItemTemplate]="patientDisplay"
      [typeaheadOptionField]="'name'"
      [typeaheadOptions]="userSummaries$"
      class="col"
      controlTypeahead
      formControlName="userTypeahead"
    ></div> -->

    @if (showCatalogButton()) {
      <button
        (click)="openCatalogModal()"
        [class.btn-danger]="isUserSelected() && selectionErrors().length > 0"
        [class.btn-primary]="!isUserSelected()"
        [class.btn-success]="
          isUserSelected() && selectionErrors().length <= 0
        "
        [disabled]="isDisabled()"
        [style.height.px]="43"
        [style.padding-bottom]="'12px'"
        [style.padding-top]="'12px'"
        [type]="'button'"
        class="btn fs-1 py-2"
        id="button-addon2"
        type="button"
      >
        @if (loading) {
          <div class="spinner-border text-white custom-spinner"
               role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        } @else {
          <fa-icon [icon]="icons.faWindowRestore"/>
        }
      </button>
    }
  </div>
</div>

@if (selectionErrors().length > 0) {
  <alert [type]="'danger'">
    <div class="d-flex align-items-center">
      <div>
        <div class="fw-bold fs--1">Error en la selección</div>
        <div class="fs--1">
          <ul class="mb-0">
            @for (error of selectionErrors(); track error) {
              <li>{{ error }}</li>
            }
          </ul>
        </div>
      </div>
    </div>
  </alert>
}
