<div
  cdkMenu
  class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4 show"
>
  <div cdkMenuItem class="menu-item px-3 btn-light bg-light">
    <a
      class="menu-link"
      (click)="
          service().clickLink(item(), key(), FormUse.DETAIL, 'page', siteSection());
          $event.stopPropagation();
          $event.preventDefault()
        "
    >
      Ver {{ service().dictionary.singular }}
    </a>
  </div>

  <div cdkMenuItem class="menu-item px-3 btn-light bg-light">
    <a
      class="menu-link"
      (click)="
          service().clickLink(item(), key(), FormUse.DETAIL, 'modal', siteSection());
          $event.stopPropagation();
          $event.preventDefault();
        "
    >
      Abrir {{ service().dictionary.singular }} en pantalla modal
    </a>
  </div>

  <div cdkMenuItem class="menu-item px-3 btn-light bg-light">
    <span class="menu-link"
          (click)="
          service().clickLink(item(), key(), FormUse.EDIT, 'page', siteSection());
          $event.stopPropagation();
          $event.preventDefault();
        ">
      Editar
    </span>
  </div>

  <button cdkMenuItem class="menu-item px-3 btn-light bg-light" (click)="downloadClicked.emit()">
    <span class="menu-link">Descargar</span>
  </button>

  <button cdkMenuItem class="menu-item px-3 btn-light bg-light" (mousedown)="onPrintClicked($event)">
    <span class="menu-link">Imprimir</span>
  </button>

  <button cdkMenuItem class="menu-item px-3 btn-light bg-light text-danger" (click)="service().delete$(item())">
    <span class="menu-link text-danger">Eliminar</span>
  </button>
</div>
