<div
  class="notice d-flex bg-light-primary rounded border-primary border border-dashed flex-stack h-100 p-6"
>
  <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
    <div class="mb-3 mb-md-0 fw-semibold">
      <h4 class="text-gray-900 fw-bold">
        Agregar una nueva dirección
      </h4>
      <div class="fs-6 text-gray-700 pe-7">
        Puede agregar direcciones adicionales para facturación
      </div>
    </div>
    <a
      (click)="openAddressCreateModal()"
      class="btn btn-primary px-6 align-self-center text-nowrap"
    >
      Nueva Dirección
    </a>
  </div>
</div>
