@if (item()) {
  <div class="card mb-5 mb-xl-8">
    <div class="card-header py-5">
      <div class="row g-0 w-100 d-flex align-items-center justify-content-between">
        <div class="col-6 px-0">
          @if (headerTitle()) {
            <h3 class="card-title align-items-start flex-column">
              <div class="card-label fw-bolder text-gray-900 fs-2">
                {{ headerTitle() }}
              </div>
            </h3>
          }
        </div>
        <div class="col-6 text-end px-0">
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex flex-grow-1 flex-column text-center justify-content-center">
        <div class="symbol symbol-150px me-5 d-flex flex-wrap justify-content-center">
          <div class="symbol-label bg-light-danger">
            <img
              [src]="photoUrl"
              class="h-100 align-self-center"
              alt=""
              [style]="{ borderRadius: '0.475rem' }"
            />
          </div>
        </div>
        <div class="fs-3 text-gray-800 fw-bold mb-3 mt-6">
          {{ item().fullName }}
        </div>
        <div>
          <span class="badge badge-light-primary fs-5">Paciente</span>
        </div>
        <div class="fw-bold mt-6 mb-3">Historial de Citas</div>
        <div class="d-flex flex-wrap flex-center">
          <div
            class="border border-gray-300 border-dashed rounded py-3 px-3 mx-4 mb-3"
          >
            <div class="fs-4 fw-bold text-gray-700">
              <span class="w-50px">4</span>
              <i class="ki-duotone ki-arrow-down fs-3 text-danger"
              ><span class="path1"></span><span class="path2"></span
              ></i>
            </div>
            <div class="fw-semibold text-muted">Canceladas</div>
          </div>

          <div
            class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3"
          >
            <div class="fs-4 fw-bold text-gray-700">
              <span class="w-75px">2</span>
              <i class="ki-duotone ki-arrow-up fs-3 text-success"
              ><span class="path1"></span><span class="path2"></span
              ></i>
            </div>
            <div class="fw-semibold text-muted">No asistió</div>
          </div>

          <div
            class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3 ms-3"
          >
            <div class="fs-4 fw-bold text-gray-700">
              <span class="w-50px">25</span>
              <i class="ki-duotone ki-arrow-up fs-3 text-success"
              ><span class="path1"></span><span class="path2"></span
              ></i>
            </div>
            <div class="fw-semibold text-muted">Completadas</div>
          </div>
        </div>

        <div class="mt-5">
          <div
            class="d-flex flex-grow-1 flex-row justify-content-between"
          >
            <button
              type="button"
              class="btn btn-link px-0 fw-bold rotate collapsible fs-4 py-0"
              (click)="isDetailsCollapsed = !isDetailsCollapsed"
              [attr.aria-expanded]="!isDetailsCollapsed"
              aria-controls="collapseBasic"
            >
              Detalles
              <span class="ms-2 rotate-180">
                      <i class="ki-duotone ki-down fs-4"></i>
                    </span>
            </button>
            <button class="btn btn-sm btn-light-primary">Editar</button>
          </div>

          <div
            id="collapseBasic"
            [collapse]="isDetailsCollapsed"
            [isAnimated]="true"
          >
            <div
              class="d-flex flex-grow-1 justify-content-start text-start flex-column"
            >
              <div>
                <div class="fw-bold mt-5">Nombre</div>
                <div class="text-gray-600 mb-0">
                  {{ item().fullName }}
                </div>
              </div>
              <div>
                <div class="fw-bold mt-5">Sexo</div>
                <div class="text-gray-600 mb-0">
                  {{ item().dateOfBirth | date : "shortDate" }}
                </div>
              </div>
              <div>
                <div class="fw-bold mt-5">Sexo</div>
                <div class="text-gray-600 mb-0">
                  {{ item().sex }}
                </div>
              </div>
              <div>
                <div class="fw-bold mt-5">Dirección</div>
                <div class="text-gray-600 mb-0">
                  {{ item().neighborhood }}
                </div>
              </div>
              <div>
                <div class="fw-bold mt-5">Teléfono</div>
                <div class="text-gray-600 mb-0">
                  {{ item().phoneNumber }}
                </div>
              </div>
              <div>
                <div class="fw-bold mt-5">E-mail</div>
                <div class="text-gray-600 mb-0">
                  {{ item().email }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
