.image-thumbnail {
  border: 1px solid #E4E6EF;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  max-width: 200px;
  flex: 0 0 auto;

  &:hover {
    border-color: #3699FF;
  }
}
