<div class="card mb-5 mb-xl-10" id="account_settings_profile_details"
     (mouseenter)="selectSection('account_settings_profile_details')">
  <div class="card-header">
    <div class="card-title">
      <h3>Detalles del Perfil</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="card-body border-top pt-9">
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-semibold fs-6">
          Foto de Perfil
        </label>
        <div class="col-lg-8">
          <div imageThumbnailSelector
               [editable]="true"
               [singleSelect]="true"
               [thumbnailShape]="PhotoShape.SQUARE"
               [thumbnailSize]="PhotoSize.LARGE"
          ></div>
        </div>
      </div>

      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-semibold fs-6">
          Nombre Completo
        </label>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-6">
              <div controlsWrapper3 [control]="form.controls.firstName" [showBottomMargin]="false"></div>
            </div>
            <div class="col-6">
              <div controlsWrapper3 [control]="form.controls.lastName" [showBottomMargin]="false"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-semibold fs-6">
          Teléfono
        </label>
        <div class="col-lg-8">
          <div controlsWrapper3 [(control)]="form.controls.phoneNumber" [showBottomMargin]="false"></div>
        </div>
      </div>

      <!-- @if (accountService.hasRole([ 'Doctor' ])) {
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            Cédula Profesional
          </label>
          <div class="col-lg-8">
            <div controlsWrapper3 [(control)]="form.controls.licenseNumber" [showBottomMargin]="false"></div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            Cédula de Especialidad
          </label>
          <div class="col-lg-8">
            <div controlsWrapper3 [(control)]="form.controls.specialtyLicense" [showBottomMargin]="false"></div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            Especialidad
          </label>
          <div class="col-lg-8">
            <div controlsWrapper3 [(control)]="form.controls.specialty" [showBottomMargin]="false"></div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            Métodos de Pago Aceptados
          </label>
          <div class="col-lg-8">
            <div controlsWrapper3 [control]="form.controls.acceptedPaymentMethods" [showBottomMargin]="false"></div>
          </div>
        </div>

        <div class="row mb-0 align-items-center">
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            Requiere Pagos Anticipados con Tarjeta
          </label>
          <div class="col-lg-8 align-items-center">
            <div controlsWrapper3 [control]="form.controls.requireAnticipatedCardPayments"
                 [showBottomMargin]="false"></div>
          </div>
        </div>
      } -->
    </div>

<!--    <div class="card-body border-top">-->
    <!--      @if (accountService.hasRole([ 'Doctor' ])) {-->
    <!--        <div class="row mb-6">-->
    <!--          <label class="col-lg-4 col-form-label fw-semibold fs-6"-->
    <!--            >Cédula/Certificación</label-->
    <!--          >-->
    <!--          <div class="col-lg-8 fv-row fv-plugins-icon-container">-->
    <!--            <div-->
    <!--                class="fv-row fv-plugins-icon-container"-->
    <!--                inputControl-->
    <!--                formControlName="file"-->
    <!--                type="file"-->
    <!--                [placeholder]="''"-->
    <!--                [submitted]="submitted"-->
    <!--                [errors]="{-->
    <!--                    required: 'Al actualizar la especialidad se requiere la cédula o certificación correspondiente.'-->
    <!--                }"-->
    <!--                (onChange)="onFileChange($event)"-->
    <!--              ></div>-->
    <!--          </div>-->
    <!--        </div> &ndash;&gt;-->

    <!--                  <div class="row mb-6">-->
    <!--                    <label class="col-lg-4 col-form-label fw-semibold fs-6">-->
    <!--                      Métodos de pago aceptados-->
    <!--                    </label>-->
    <!--                    <div class="col-lg-8 fv-row fv-plugins-icon-container">-->
    <!--                      <div-->
    <!--                        class="fv-row mb-5 fv-plugins-icon-container"-->
    <!--                        controlCheckList-->
    <!--                        formControlName="AcceptedPaymentMethods"-->
    <!--                        [options]="paymentMethodTypes"-->
    <!--                        [submitted]="false"-->
    <!--                        [errors]="{-->
    <!--                            required: 'Selecciona al menos un método de pago.'-->
    <!--                        }"-->
    <!--                      ></div>  -->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--      }-->
    <!--    </div>-->


    <div cardFooter>
      <button
        type="button"
        class="btn btn-light btn-active-light-primary me-2"
        (click)="onCancel()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        id="kt_account_profile_details_submit"
      >
        Guardar cambios
      </button>
    </div>

  </form>
</div>


@if (accountService.current() !== null) {
  <div class="card mb-5 mb-xl-10">
    <div class="card-header">
      <div class="card-title">
        <h2>Especialidades</h2>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="row gx-9 gy-6">
        @for (medicalLicense of accountService.current()?.medicalLicenses; let idx = $index; track idx) {
          <!-- <code class="json">{{medicalLicense | json}}</code> -->
          <div medicalLicenseItem [(item)]="accountService.current()!.medicalLicenses[idx]"
               [use]="FormUse.EDIT"></div>
        }
        <div medicalLicenseItem [item]="null" [use]="FormUse.CREATE"></div>
      </div>
    </div>
  </div>
}
