::ng-deep .nav-tabs .nav-link.active {
  color: #00A3FF;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #00A3FF;

  .badge {
    background-color: #00A3FF;
  }
}

::ng-deep .nav-link.active .nav-tab-count {
  font-weight: 500;
  color: #888;
}

::ng-deep .nav-tab-count {
  font-weight: 500;
}

::ng-deep .nav-tabs .nav-link {
  font-weight: 700;
  color: #ccc;
  border: 0px;
  border-bottom: 0px solid #ccc;
  background-color: transparent;
}


::ng-deep .nav-tabs .nav-link:not(.active):hover {
  border-bottom: 2px solid #00A3FF;
}

.nurse-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}

.nurse-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
  .ki-duotone {
    color: #6c757d;
  }
}
