<account-child-wrapper>
  <span class="fw-semibold fs-4 text-gray-600">
    Cita #{{ event.id }} de
  </span>

  <div class="card mt-4">
    <div class="card-header card-header-stretch border-bottom border-gray-200">
      <div class="card-title d-flex flex-grow-1 align-items-center">
        <div class="fs-2 fw-bolder">
          {{ event.dateFrom | date: 'dd/MM/yyyy' }}
        </div>
        <div class="ms-4">
          <span class="fw-regular badge badge-lg badge-light-info">
            {{ event.dateFrom | date: 'HH:mm a' }} - {{ event.dateTo | date: 'HH:mm a' }}
          </span>
        </div>
      </div>
      <div class="card-toolbar m-0">
        <ul class="nav nav-stretch nav-line-tabs border-transparent" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link fs-5 fw-semibold me-3"
               [routerLink]="[]"
               [routerLinkActive]="'active'"
               [queryParams]="{ inferiorTab: 'general' }"
               [queryParamsHandling]="'merge'"
               (click)="selectedTab.set('general')">
              General
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link fs-5 fw-semibold me-3"
               [routerLink]="[]"
               [routerLinkActive]="'active'"
               [queryParams]="{ inferiorTab: 'recetas' }"
               [queryParamsHandling]="'merge'"
               (click)="selectedTab.set('recetas')">
              Recetas
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link fs-5 fw-semibold"
               [routerLink]="[]"
               [routerLinkActive]="'active'"
               [queryParams]="{ inferiorTab: 'especialistas' }"
               [queryParamsHandling]="'merge'"
               (click)="selectedTab.set('especialistas')">
              Especialistas
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card-body">
      @switch (selectedTab()) {
        @case ('general') {
          <div class="d-flex">
            <div class="symbol symbol-160px">
              <span class="symbol-label bg-light-danger">
                <div userProfilePicture
                     [fullName]="event.doctor.fullName"
                     [photoUrl]="event.doctor.photoUrl"
                     [shape]="PhotoShape.SQUARE"
                     [size]="PhotoSize.LARGE">
                </div>
              </span>
            </div>
            <div class="d-flex flex-column ms-4 gap-3">
              <h2 class="fw-bolder mb-4">
                {{ getDoctorTitle() }} {{ event.doctor.firstName }} {{ event.doctor.lastName }}
              </h2>
              <div>
                <h5 class="fw-bold">Servicio</h5>
                <p class="text-muted m-0">{{ event.service.name }}</p>
              </div>
              <div>
                <h5 class="fw-bold">Clínica</h5>
                <p class="text-muted m-0">
                  @if (event.clinic) {
                    {{ event.clinic.name }} {{ event.clinic.street }} {{ event.clinic.exteriorNumber }}, {{ event.clinic.neighborhood }}
                  } @else {
                    Sin clínica asignada
                  }
                </p>
              </div>
            </div>
          </div>
          @if (event.patient.isMedicalRecordComplete) {
            @if (!consentStatus) {
              <div class="notice d-flex rounded border border-dashed p-6 align-items-center mt-6"
                   [ngClass]="'bg-light-warning border-warning'">
                <i class="ki-duotone fs-2tx me-4"
                   [ngClass]="'ki-information text-warning'">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
                <div class="d-flex flex-stack flex-grow-1">
                  <div>
                    <h4 class="text-gray-900 fw-bold mb-1">
                      ¡El doctor no puede ver tu historial clínico!
                    </h4>
                    <div class="fs-6 text-gray-700 pe-7">
                      Para que {{ getDoctorTitle() }} {{ event.doctor.firstName }} pueda ver tu historial clínico,
                      necesitas compartirlo.
                    </div>
                  </div>
                </div>
                <button class="btn px-6 align-self-center text-nowrap"
                        [ngClass]="'btn-warning'"
                        (click)="onShareMedicalHistory()">
                  Compartir historial clínico
                </button>
              </div>
            }
          } @else {
            <div
              class="notice d-flex bg-light-primary rounded border border-primary border-dashed p-6 align-items-center mt-6">
              <i class="ki-duotone ki-notepad-edit fs-2tx text-primary me-4">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              <div class="d-flex flex-stack flex-grow-1">
                <div>
                  <h4 class="text-gray-900 fw-bold mb-1">
                    Completa tu historial clínico
                  </h4>
                  <div class="fs-6 text-gray-700 pe-7">
                    Para poder compartir tu historial clínico con el doctor, primero necesitas llenarlo.
                  </div>
                </div>
              </div>
              <a routerLink="/cuenta/expediente" class="btn btn-primary px-6 align-self-center text-nowrap">
                Llenar historial clínico
              </a>
            </div>
          }

        }
        @case ('recetas') {
          @if (prescriptionsLoading()) {
            <div class="d-flex justify-content-center py-10">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando recetas...</span>
              </div>
            </div>
          } @else {
            @if (detailedPrescriptions() && detailedPrescriptions()!.length > 0) {
              @for (prescription of detailedPrescriptions(); track prescription.id; let i = $index) {
                <div prescriptionForm
                     [item]="prescription"
                     [use]="FormUse.DETAIL"
                     [view]="'modal'"
                     [key]="'prescription-' + prescription.id"
                     [showActions]="true"
                     [showAddButton]="false"
                     [fromEventWindow]="false"
                     [id]="'prescription-form-' + prescription.id">
                </div>
              }
            } @else {
              <div class="text-center py-15">
                <i class="ki-duotone ki-user-tick fs-3x text-muted mb-3">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
                <p class="fs-5 text-muted">
                  No hay recetas asignadas a esta cita.
                </p>
              </div>
            }
          }
        }
        @case ('especialistas') {
          @if (event.nurses && event.nurses.length > 0) {
            <div class="row row-cols-1 row-cols-md-2 g-4">
              @for (nurse of event.nurses; track nurse.id) {
                <div class="col">
                  <div nurseDisplayCard [nurse]="nurse"></div>
                </div>
              }
            </div>
            <div class="d-flex justify-content-end mt-6">
              <button type="button" class="btn btn-primary btn-sm">
                <i class="ki-duotone ki-pencil fs-4 text-white">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
                <span>Editar</span>
              </button>
            </div>
          } @else {
            <div class="text-center py-15">
              <i class="ki-duotone ki-user-tick fs-3x text-muted mb-3">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              <p class="fs-5 text-muted">No hay especialistas asignados a esta cita.</p>
            </div>
          }
        }
      }


      @if (event.paymentStatus !== 'Succeeded') {
        <div class="notice d-flex bg-light-danger rounded border-danger border border-dashed p-6 mt-6">
          <i class="ki-duotone ki-shield-tick fs-2tx text-danger me-4">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
            <div class="mb-3 mb-md-0 fw-semibold">
              <h4 class="text-gray-900 fw-bold mb-1">
                Pago de cita pendiente
              </h4>
              <div class="fs-6 text-gray-700 pe-7">
                Por favor, completa tu pago para confirmar tu cita.
              </div>
            </div>
            <button class="btn btn-danger px-6 align-self-center nowrap"
                    (click)="showConfirmPaymentInitiationNotice()"
                    [disabled]="showPaymentSection">
              Iniciar Proceso de Pago
            </button>
          </div>
        </div>
      }
    </div>
  </div>



  @if (showPaymentSection) {
    <div class="mini-checkout mt-8">
      <h2 class="fw-bold">Completar Pago</h2>
      <div class="row mt-4">
        <div class="col-md-6">
          <div checkoutAddressEntryCard [title]="'Dirección de Facturación'"></div>
          <div checkoutPaymentMethodEntryCard class="mt-3"></div>
        </div>
        <div class="col-md-6 ps-3">
          <div paymentSummary
               [item]="event"
               [type]="'cita'"
               [subtotal]="subtotal"
               [isSubmitting]="isSubmittingPayment"
               (onPay)="onProceedPayment()"></div>
        </div>
      </div>
    </div>
  }
</account-child-wrapper>
