<div class="d-flex flex-column">
  @if (control().showLabel) {
    <mat-label>
      {{ control().label }}
    </mat-label>
  }

  <mat-form-field
    [subscriptSizing]="'fixed'"
    [appearance]="control().materialOptions.appearance"
    class="hide-bottom"
    style="display: flex;"
  >
    <input matInput
           [formControl]="$any(control())"
           [matDatepicker]="picker"
           [matDatepickerFilter]="control().dateOptions.dateFilter"
           (click)="picker.open()">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  @if (control().hint !== null) {
    <mat-hint>
      {{ control().hint }}
    </mat-hint>
  }
</div>


@if (control().errors !== null) {
  <div invalidFeedback3 [(control)]="control"></div>
}
