@if (control().orientation === 'inline') {
  <div class="form-check form-switch d-flex align-items-center gap-2 justify-content-between ps-0">
    <label
      class="form-label ps-0 col-form-label fw-semibold fs-8 text-nowrap"
      [for]="control().id"
    >
      {{ control().label }}
    </label>
    <input
      type="checkbox"
      class="form-check-input"
      role="switch"
      [formControl]="$any(control())"
      [id]="control().id"
    >
  </div>
} @else {
  <div class="form-check form-switch d-flex align-items-center gap-2 justify-content-between ps-0">
    <label
      class="form-label"
      [for]="control().id"
    >
      {{ control().label }}
    </label>
    <input
      type="checkbox"
      class="form-check-input"
      role="switch"
      [formControl]="$any(control())"
      [id]="control().id"
    >
  </div>
}

@if (control().errors !== null) {
  <div invalidFeedback3 [(control)]="control"></div>
}

@if (control().hint !== null) {
  <div helpBlock3 [(control)]="control"></div>
}
