<mat-form-field [subscriptSizing]="'fixed'" [appearance]="control().appearance" class="hide-bottom" style="display: flex;">
  <mat-label>{{control().label}}</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate [(ngModel)]="control().value!.start" placeholder="Inicio">
    <input matEndDate [(ngModel)]="control().value!.end" placeholder="Fin">
  </mat-date-range-input>
  <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

  <!-- @if (range.controls.start.hasError('matStartDateInvalid')) {
    <mat-error>Invalid start date</mat-error>
  }
  @if (range.controls.end.hasError('matEndDateInvalid')) {
    <mat-error>Invalid end date</mat-error>
  } -->
