<mat-form-field [appearance]="'outline'" style="width: 100%;" class="hide-bottom">
  <mat-label>{{control().label}}</mat-label>
  <mat-select [formControl]="control()" multiple>
    @for (option of control().selectOptions; track option) {
      <mat-option [value]="option">
        @if(control().showCodeSpan && !!option.code && option.code !== option.name){<span>({{option.code}})</span>}
        {{option.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>
@if(control().hint !== null) {
  <mat-hint>{{control().hint}}</mat-hint>
}
@if (control().errors !== null) {
  <div invalidFeedback3 [(control)]="control" [submitted]="root().submitted"></div>
}
