<mat-form-field [subscriptSizing]="'fixed'" [appearance]="control().materialOptions.appearance" class="hide-bottom" style="display: flex;">
  <mat-label>{{ control().label }}</mat-label>
  <input [(control)]="control" [formControl]="$any(control())" controlInput3 matInput />
  <mat-icon matSuffix>search</mat-icon>
  <!-- <mat-hint>Hint</mat-hint> -->
</mat-form-field>

@if (control().errors !== null) {
  <div invalidFeedback3 [(control)]="control"></div>
}
@if (control().hint !== null) {
  <div helpBlock3 [(control)]="control"></div>
}
