<!-- <code class="json">
  {{group().value | json}}
</code>
 -->
@if (group().orientation === 'inline') {
  <div class="d-flex align-items-center gap-2">
    @if (group().showLabel) {
      <label groupLabel [(group)]="group"></label>
    }
    <div class="input-group">
      @if (group().controls.first.value || group().controls.second.value) {
        <span class="input-group-text">
          @if(group().controls.first.value === null && group().controls.second.value === null) {
            &nbsp;&nbsp;&nbsp;
          } @else {
            {{ group().value.first?.code }}{{ group().value.second?.code }}
          }
        </span>
      }
      <select
        [attr.aria-describedby]="group().controls.first.hint ? group().controls.first.name + 'helpBlock' : null"
        [attr.aria-label]="group().controls.first.label + ' input'"
        [id]="group().controls.first.id"
        [disabled]="group().controls.first.disabled"
        [(ngModel)]="group().controls.first.value"
        (ngModelChange)="optionChangedFirst($event)"
        [ngClass]="{
          'is-invalid': (this.root().submitted || this.root().dirty || !this.group().controls.first.untouched) && this.group().controls.first.invalid,
          'is-valid': (this.root().submitted || this.root().dirty || !this.group().controls.first.untouched) && this.group().controls.first.valid
        }"
        class="form-select fs-8 text-body"
        [matTooltip]="group().controls.first.value && group().controls.first.label + ': (' + group().value.first?.code + ')' + ' ' + group().value.first?.name"
        [matTooltipShowDelay]="500"
        >
        <option selected [value]="group().controls.first.value"
          >{{ group().controls.first.value?.name }}</option>

        @if (group().controls.first.selectOptions && group().controls.first.selectOptions.length && group().controls.first.selectOptions.length > 0) {
          @for (option of group().controls.first.selectOptions; let idx = $index; track idx; ) {
            @if (group().controls.first.value?.code !== option.code) {
              <option [value]="option | json"
                      [disabled]="!option.enabled">
                @if ((group().controls.first.value?.code !== option.code) && group().controls.first.showCodeSpan) {
                  ({{ option.code }})
                }
                {{ option.name }}
              </option>
            }
          }
        }
      </select>
      <select
        [attr.aria-describedby]="group().controls.second.hint ? group().controls.second.name + 'helpBlock' : null"
        [attr.aria-label]="group().controls.second.label + ' input'"
        [id]="group().controls.second.id"
        [disabled]="group().controls.second.disabled"
        [(ngModel)]="group().controls.second.value"
        (ngModelChange)="optionChangedSecond($event)"
        [ngClass]="{
          'is-invalid': (this.root().submitted || this.root().dirty || !this.group().controls.second.untouched) && this.group().controls.second.invalid,
          'is-valid': (this.root().submitted || this.root().dirty || !this.group().controls.second.untouched) && this.group().controls.second.valid
        }"
        [matTooltip]="group().controls.second.value && group().controls.second.label + ': (' + group().value.second?.code + ')' + ' ' + group().value.second?.name"
        [matTooltipShowDelay]="500"
        class="form-select fs-8 text-body"
      >
        <option selected
                [value]="group().controls.second.value">{{ group().controls.second.value?.name }}
        </option>

        @if (group().controls.second.selectOptions && group().controls.second.selectOptions.length && group().controls.second.selectOptions.length > 0) {
          @for (option of group().controls.second.selectOptions; let idx = $index; track idx; ) {
            @if (group().controls.second.value?.code !== option.code) {
              <option [value]="option | json"
                      [disabled]="!option.enabled">
                @if ((group().controls.second.value?.code !== option.code) && group().controls.second.showCodeSpan) {
                  ({{ option.code }})
                }
                {{ option.name }}
              </option>
            }
          }
        }
      </select>
    </div>
  </div>
} @else {
  @if (group().showLabel) {
    <label groupLabel
             [(group)]="group">
      </label>
  }
  <div class="input-group">
    @if (group().controls.first.value || group().controls.second.value) {
      <span class="input-group-text">
        @if(group().controls.first.value === null && group().controls.second.value === null) {
          &nbsp;&nbsp;&nbsp;
        } @else {
          {{ group().value.first?.code }}{{ group().value.second?.code }}
        }
      </span>
    }
      <select
        [attr.aria-describedby]="group().controls.first.hint ? group().controls.first.name + 'helpBlock' : null"
        [attr.aria-label]="group().controls.first.label + ' input'"
        [id]="group().controls.first.id"
        [disabled]="group().controls.first.disabled"
        [(ngModel)]="group().controls.first.value"
        (ngModelChange)="optionChangedFirst($event)"
        [ngClass]="{
          'is-invalid': (this.root().submitted || this.root().dirty || !this.group().controls.first.untouched) && this.group().controls.first.invalid,
          'is-valid': (this.root().submitted || this.root().dirty || !this.group().controls.first.untouched) && this.group().controls.first.valid
        }"
        class="form-select fs-8 text-body"
        [matTooltip]="group().controls.first.value && group().controls.first.label + ': (' + group().value.first?.code + ')' + ' ' + group().value.first?.name"
        [matTooltipShowDelay]="500"
      >
        <option selected
                [value]="group().controls.first.value">{{ group().controls.first.value?.name }}
        </option>

        @if (group().controls.first.selectOptions && group().controls.first.selectOptions.length && group().controls.first.selectOptions.length > 0) {
          @for (option of group().controls.first.selectOptions; let idx = $index; track idx; ) {
            @if (group().controls.first.value?.code !== option.code) {
              <option [value]="option | json"
                      [disabled]="!option.enabled">
                @if ((group().controls.first.value?.code !== option.code) && group().controls.first.showCodeSpan) {
                  ({{ option.code }})
                }
                {{ option.name }}
              </option>
            }
          }
        }
      </select>
      <select
        [attr.aria-describedby]="group().controls.second.hint ? group().controls.second.name + 'helpBlock' : null"
        [attr.aria-label]="group().controls.second.label + ' input'"
        [id]="group().controls.second.id"
        [disabled]="group().controls.second.disabled"
        [(ngModel)]="group().controls.second.value"
        (ngModelChange)="optionChangedSecond($event)"
        [ngClass]="{
          'is-invalid': (this.root().submitted || this.root().dirty || !this.group().controls.second.untouched) && this.group().controls.second.invalid,
          'is-valid': (this.root().submitted || this.root().dirty || !this.group().controls.second.untouched) && this.group().controls.second.valid
        }"
        class="form-select fs-8 text-body"
        [matTooltip]="group().controls.second.value && group().controls.first.label + ': (' + group().value.first?.code + ')' + ' ' + group().value.first?.name"
        [matTooltipShowDelay]="500"
      >
        <option selected [value]="group().controls.second.value">{{ group().controls.second.value?.name }}</option>

        @if (group().controls.second.selectOptions && group().controls.second.selectOptions.length && group().controls.second.selectOptions.length > 0) {
          @for (option of group().controls.second.selectOptions; let idx = $index; track idx; ) {
            @if (group().controls.second.value?.code !== option.code) {
              <option [value]="option | json"
                      [disabled]="!option.enabled">
                @if ((group().controls.second.value?.code !== option.code) && group().controls.second.showCodeSpan) {
                  ({{ option.code }})
                }
                {{ option.name }}
              </option>
            }
          }
        }
      </select>
    </div>
}

@if (group().errors) {
  <!-- <div invalidFeedback3
       [errors]="[
        group().controls.first.validationErrors,
        group().controls.second.validationErrors,
       ]"
       [control]="control()"
       [submitted]="root().submitted || control().dirty || !control().untouched">
  </div> -->
}
@if (group().hint) {
  <div groupHelpBlock [(group)]="group"></div>
}
