<mat-form-field [subscriptSizing]="'fixed'" [appearance]="control().appearance" class="hide-bottom" style="display: flex;">
  <mat-label>{{control().label}}</mat-label>
  <input
    [formControl]="$any(control())"
    matInput
    [required]="validation.active() && control().required"
    [placeholder]="control().placeholder ?? ''"
    [id]="control().id"
    [attr.aria-describedby]="control().hint ? control().name + 'helpBlock' : null"
    [attr.aria-label]="control().label + ' input'"
    [type]="hide() ? 'password' : 'text'"
  />
  <button
      mat-icon-button
      matSuffix
      (click)="
        hide.set(!this.hide());
        $event.stopPropagation();
      "
      [type]="'button'"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  @if(control().prefix !== null) {
    <span matPrefix>{{control().prefix}}</span>
  }
  @if(control().suffix !== null) {
    <span matSuffix>{{control().suffix}}</span>
  }
</mat-form-field>
@if(control().hint !== null) {
  <mat-hint>{{control().hint}}</mat-hint>
}
@if (control().errors !== null) {
  <div invalidFeedback3 [(control)]="control"></div>
}
