<div class="d-flex align-items-center justify-content-between gap-2 flex-grow-1">
  <mat-form-field
    [appearance]="control().materialOptions.appearance || 'fill'"
    style="width: 100%;"
    [subscriptSizing]="'dynamic'"
    [hideRequiredMarker]="false"
  >
    <mat-label>{{ control().label }}</mat-label>
    <mat-select
      [required]="control().required"
      [(ngModel)]="control().value"
      (ngModelChange)="optionChanged($event)"
      multiple
      [disabled]="control().disabled || control().selectOptions.length === 0"
      [id]="control().id"
      [attr.aria-label]="control().label + ' input'"
      [attr.aria-describedby]="control().hint ? control().name + 'helpBlock' : null"
    >
      @for (option of control().selectOptions; track option) {
        @if (option.visible) {
          <mat-option [value]="option" [disabled]="!option.enabled">
            @if (control().showCodeSpan && !!option.code && option.code !== option.name) {
              <span>({{ option.code }})</span>
            }
            {{ option.name }}
          </mat-option>
        }
      }
    </mat-select>

    @if (control().errors) {
      <mat-error [id]="control().id + 'Error'">
        <div invalidFeedback3
             [(control)]="control"
             [(errors)]="control().validationErrors"
             [submitted]="root().submitted || control().dirty || !control().untouched"></div>
      </mat-error>
    }

  </mat-form-field>

  <!-- <code class="json">{{control().multiselectOptions.showActions | json}}</code> -->

  @if (control().multiselectOptions.showActions) {
    @let value = control().value;
    @let count = value !== null && value.length ? value.length : 0;
    @let optionsCount = control().selectOptions.length;

    @if (optionsCount !== count) {
      <button mat-icon-button (click)="addAllOptions()" type="button" [disabled]="control().disabled" class="me-1">
        <mat-icon>add</mat-icon>
      </button>
    }

    @if (value !== null && value.length && value.length > 0) {
      <button mat-icon-button (click)="clearOptions()" type="button" [disabled]="control().disabled" class="me-1">
        <mat-icon>clear</mat-icon>
      </button>
    }
  }
</div>
