<!-- @if(file) {
  <ul>
    <li><strong>Name: </strong>{{file.name}}</li>
    <li><strong>Last Modified: </strong>{{file.lastModified | number}}</li>
    <li><strong>Last Modified Date: </strong>{{$any(file).lastModifiedDate | date}}</li>
    <li><strong>Size: </strong>{{file.size | number}}</li>
    <li><strong>Type: </strong>{{file.type}}</li>
    <li><strong>webkitRelativePath: </strong>{{file.webkitRelativePath}}</li>
  </ul>
}

@if(control().value !== null) {
  <ul>
    <li><strong>Name: </strong>{{control().value!.name}}</li>
    <li><strong>Last Modified: </strong>{{control().value!.lastModified | number}}</li>
    <li><strong>Last Modified Date: </strong>{{$any(file).lastModifiedDate | date}}</li>
    <li><strong>Size: </strong>{{control().value!.size | number}}</li>
    <li><strong>Type: </strong>{{control().value!.type}}</li>
    <li><strong>webkitRelativePath: </strong>{{control().value!.webkitRelativePath}}</li>
  </ul>
} -->

@if (control().showLabel) {
  <label controlLabel3 [(control)]="control"></label>
}
<input class="form-control form-control-solid" (change)="onFileChange($event)" [type]="'file'" [id]="control().id" [accept]="accept()">
