<div>
  @if (control().showLabel) {
    <label class="form-label" [class.required]="control().required">
      {{ control().label }}
    </label>
  }

  <select
    class="form-select"
    [ngClass]="{
      'is-invalid': (root().submitted) && control().invalid,
      'is-valid': (root().submitted) && control().valid
    }"
    [class.form-select-solid]="control().solid"
    aria-label="Select example"
    [formControl]="control()"
    [compareWith]="compareFn"
  >
    <option [ngValue]="null">Ninguno</option>

    @for (option of control().selectOptions; track option) {
      <option
        [ngValue]="option"
        [disabled]="!option.enabled"
      >
        @if (control().showCodeSpan) {
          ({{ option.code }})
        }
        {{ option.name }}
      </option>
    }
  </select>
</div>
