<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="d-flex w-100 justify-content-between w-100 mb-4 align-items-end">
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-outline-secondary btn-icon d-flex" (click)="onCancel()">
        <i class="ki-duotone ki-black-left fs-1 p-0 text-body"></i>
      </button>
      <a [routerLink]="['/']">
        <img src="media/logos/logo-compact.svg" alt="Logo" height="40" class="d-inline-block align-text-top"/>
        <img src="media/logos/text/logo-text-blue.svg" alt="Logo" height="40" class="d-inline-block align-text-top"/>
      </a>
    </div>

    <div class="d-flex flex-grow-1 justify-content-end align-items-center">

      <small class="text-900">
        @if (theme.effectiveTheme() === 'light') {
          <img
            src="media/stripe/powered-by-stripe-black.svg"
            alt="Stripe"
            style="height: 30px; vertical-align: middle;"
          />

        } @else if (theme.effectiveTheme() === 'dark') {
          <img
            src="media/stripe/powered-by-stripe-white.svg"
            alt="Stripe"
            style="height: 30px; vertical-align: middle;"
          />
        }

      </small>
    </div>
  </div>

  @if (type === 'suscripcion') {
    <div class="w-100" subscriptionOnboarding></div>
  } @else {
    <div class="row w-100 g-0">
      <div class="col-md-6 pe-3">
        <form>
          <div checkoutAddressEntryCard></div>
          <div checkoutPaymentMethodEntryCard class="mt-6"></div>
        </form>
      </div>

      <div class="col-md-6 ps-3">
        @switch (type) {
          @case ('cita') {
            <div paymentSummary
                 [subtotal]="subtotal"
                 [item]="event"
                 [type]="type"
                 [isSubmitting]="isLoading"
                 (onPay)="onProceedPayment()"></div>
          }
          @case ('receta') {
            <div paymentSummary
                 [subtotal]="subtotal"
                 [item]="order"
                 [type]="type"
                 [isSubmitting]="isLoading"
                 (onPay)="onProceedPayment()"></div>
          }
        }
      </div>
    </div>
  }
</div>
