<div class="tab-pane fade show active" id="kt_contact_view_meetings" role="tabpanel">
    <ul class="nav nav-pills d-flex flex-stack flex-nowrap scroll-x pb-2">
        @for (scheduleDay of schedule; track $index) {
            <li class="nav-item me-1">
                <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" 
                    [class.active]="selectedDay === scheduleDay"
                    (click)="selectDay(scheduleDay)">
                    <span class="opacity-50 fs-7 fw-semibold">{{$index === 0 ? 'Hoy' : scheduleDay.day.substring(0,3)}}</span>
                    <span class="fs-6 fw-bold">{{scheduleDay.dayNumber}}</span>
                </a>
            </li>
        }
    </ul>

    <div class="">
        <div class="tab-pane fade show">
            @if (selectedDay) {
                @for (day of selectedDay.availability; track $index) {
                    <div class="d-flex flex-stack position-relative my-6">
                        <div class="position-absolute h-100 w-4px rounded top-0 start-0"
                            [class.bg-success]="day.available"
                            [class.bg-danger]="!day.available"
                        ></div>
                        <div class="fw-semibold ms-5 text-gray-600">
                            <div class="fs-5" [class.text-decoration-line-through]="!day.available">{{day.start}} - {{day.end}} 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                            <a class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2" >{{ day.available ? 'Disponible' : 'Ocupado' }}</a>
                        </div>
                        <button
                            class="btn btn-bg-light btn-active-color-primary btn-sm" 
                            [disabled]="!day.available"
                            (click)="scheduleAppointment(selectedDay, day)"
                        >Agendar</button>
                    </div>
                }
            }
        </div>
    </div>
</div>