<form [formGroup]="formGroup" class="prescription-pad" [id]="componentId()">
  <div class="prescription-header">
    <div class="logo">
      @if (use() === 'create') {
        <img [src]="selectedClinic?.logoUrl ?? 'media/logos/logo-compact.svg'" alt="Logo" />
      } @else {
        <img [src]="item()?.logoUrl ?? 'media/logos/logo-compact.svg'" alt="Logo" />
      }
    </div>
    <div class="doctor-info">
      <p class="fw-bold">
        @if (accountService.current()?.sex === 'Masculino') {Dr.} @else {Dra.}
        {{ accountService.current()?.firstName }} {{ accountService.current()?.lastName }}
      </p>
      <p>{{ accountService.current()?.mainSpecialty }}</p>
    </div>
  </div>

  <div class="prescription-body">
    <div class="patient-info-container">
      <div class="patient-info">
        <p class="fw-bold mb-0 fs-6">Paciente:</p>
        @if (patient) {
          <div class="d-flex align-items-center">
            <div class="d-flex flex-grow-1 justify-content-start align-items-center">
              <a class="symbol symbol-50px symbol-circle">
                <app-user-profile-picture 
                  [firstName]="patient!.firstName"
                  [photoUrl]="patient!.photoUrl ?? ''"
                ></app-user-profile-picture>
              </a>
              <div class="ms-4 w-100">
                <p class="mb-0 fs-6">
                  
                  <b class="mb-0 me-4">{{ patient!.fullName }}</b>
                  {{ patient!.sex }} <span class="text-gray-300">|</span> {{ patient!.age }} años
                </p>
              </div>
            </div>
              @if (use() === 'create' && !initialValues()?.patient) {
                <i class="ki-duotone ki-pencil me-6 fs-4 cursor-pointer" (click)="patient = undefined">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              }
            </div>
        } @else {
          <div [isDisabled]="false"
              [key]="selectedPatientKey"
              [user]="patient ?? null"
              [showCatalogButton]="false"
              patientSelectTypeahead>
          </div>
        }
      </div>
  
      <div class="prescription-date">
        <p class="mb-0">
          @if (use() === 'create') {
            {{ selectedClinic?.city }}, {{ currentDate | date:'dd/MM/yyyy' }}
          } @else {
            {{ item()?.clinic!.city }}, {{ item()?.createdAt | date:'dd/MM/yyyy' }}
          }
        </p>
      </div>
    </div>

    <div class="prescription-content">
      <div class="rx-symbol">℞</div>
      <div [data]="prescription.items"
           [key]="selectedProductsKey"
           [mode]="use() !== 'create' ? 'view' : 'edit'"
           (onProductSelected)="selectProduct($event)"
           (onProductDeleted)="deleteProduct($event)"
           prescriptionProductsTable></div>
    </div>

    <div class="prescription-notes">
      <label>Notas:</label>
      <div controlTextarea
           formControlName="notes"
           [placeholder]="'Ingresa notas adicionales aquí...'"
           [style]="'solid'"
           [rows]="4"
           [submitted]="formGroup.controls['notes'].touched || isSubmitted"></div>
    </div>
  </div>

  <div class="prescription-footer">
    <div class="doctor-info">
      @if (use() === 'create') {
        <div class="d-flex align-items-center">
          <p class="mb-0 me-2">{{ selectedClinic?.street }} {{ selectedClinic?.exteriorNumber }}, {{ selectedClinic?.neighborhood }}</p> 
          @if (!this.initialValues()!.clinicId) {
            <i class="ki-duotone ki-pencil fs-6 cursor-pointer" 
               (click)="openClinicSelector()"
               [tooltip]="'Cambiar clinica'">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          }
        </div>
      } @else {
        <p class="mb-0">{{ item()?.clinic!.street }} {{ item()?.clinic!.exteriorNumber }}, {{ item()?.clinic!.neighborhood }}</p>
      }
      <p class="mb-0">
        @if (use() === 'create') {
          {{ selectedClinic?.city }}, {{ selectedClinic?.state }}, {{ selectedClinic?.country }}
        } @else {
          {{ item()?.clinic!.city }}, {{ item()?.clinic!.state }}, {{ item()?.clinic!.country }}
        }
      </p>
      <p class="mb-0">Tel: {{ accountService.current()?.phoneNumberCountryCode }} {{ accountService.current()?.phoneNumber }}</p>
      <p class="mb-0">{{ accountService.current()?.email }}</p>
    </div>
    <div class="doctor-signature pt-5">
      <div class="doctor-signature-line">
        <hr>
        <p>Firma del médico</p>
      </div>
      <div class="doctor-signature-info">
        <p class="mb-0">Cédula Profesional: {{ accountService.current()?.medicalLicenses![0].licenseNumber }}</p>
        <p class="mb-0">Cédula de Especialidad: {{ accountService.current()?.medicalLicenses![0].specialtyLicense }}</p>
      </div>
    </div>
  </div>

</form>
@if (use() === 'create' || use() === 'edit') {
  <div class="form-actions">
    <button (click)="router.navigate(['/home/prescriptions'])" class="btn btn-light">
      Cancelar
    </button>
    <button (click)="onSubmit()" class="btn btn-primary">
      Guardar receta
    </button>
  </div>
} @else {
  @if (view() === 'page') {
    <div class="form-actions">
      <button (click)="router.navigate(['/home/prescriptions'])" class="btn btn-light">
        Volver
      </button>
    </div>
  }
}
