<form [formGroup]="formGroup" class="prescription-pad" [id]="componentId()">
  <div class="prescription-header">
    <div class="logo">
      <img src="media/logos/logo-compact.svg" alt="Logo" />
      <span class="ms-2 fs-3 fw-bold">Mediverse</span>
    </div>
    <div class="doctor-info">
      <p class="fw-bold">
        @if (accountService.current()?.sex === 'Masculino') {Dr.} @else {Dra.}
        {{ accountService.current()?.firstName }} {{ accountService.current()?.lastName }}
      </p>
      <p>{{ accountService.current()?.mainSpecialty }}</p>
    </div>
  </div>

  <div class="prescription-body">
    <div class="patient-info-container">
      <div class="patient-info">
        <label>Paciente:</label>
        @if (patient) {
          <div class="d-flex align-items-center">
            <div
              [item]="patient"
              [key]="selectedPatientKey"
              [inline]="true"
              patientSelectDisplayCard></div>
              @if (use() === 'create') {
                <i class="ki-duotone ki-pencil me-6 fs-4 cursor-pointer" (click)="patient = undefined">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              }
            </div>
        } @else {
          <div [isDisabled]="false"
              [key]="selectedPatientKey"
              [user]="patient ?? null"
              [showCatalogButton]="false"
              patientSelectTypeahead>
          </div>
        }
      </div>
  
      <div class="prescription-date">
        <p class="mb-0 me-2">{{ accountService.current()?.city }},</p>
        <span>{{ currentDate | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>

    <div class="prescription-content">
      <div class="rx-symbol">℞</div>
      <div [data]="prescription.items"
           [key]="selectedProductsKey"
           [mode]="use() !== 'create' ? 'view' : 'edit'"
           (onProductSelected)="selectProduct($event)"
           (onProductDeleted)="deleteProduct($event)"
           prescriptionProductsTable></div>
    </div>

    <div class="prescription-notes">
      <label>Notas:</label>
      <div controlTextarea
           formControlName="notes"
           [placeholder]="'Ingresa notas adicionales aquí...'"
           [style]="'solid'"
           [rows]="4"
           [submitted]="formGroup.controls['notes'].touched || isSubmitted"></div>
    </div>
  </div>

  <div class="prescription-footer">
    <div class="doctor-info">
      <p class="mb-0">{{ accountService.current()?.address }}</p>
      <p class="mb-0">{{ accountService.current()?.city }}, {{ accountService.current()?.state }}, {{ accountService.current()?.country }}</p>
      <p class="mb-0">Tel: {{ accountService.current()?.phoneNumberCountryCode }} {{ accountService.current()?.phoneNumber }}</p>
      <p class="mb-0">{{ accountService.current()?.email }}</p>
    </div>
    <div class="doctor-signature pt-5">
      <hr>
      <p>Firma del médico</p>
      <div class="doctor-signature-info">
        <p class="mb-0">Cédula Profesional: {{ accountService.current()?.medicalLicenses![0].licenseNumber }}</p>
        <p class="mb-0">Cédula de Especialidad: {{ accountService.current()?.medicalLicenses![0].specialtyLicense }}</p>
      </div>
    </div>
  </div>

</form>
@if (use() === 'create' || use() === 'edit') {
  <div class="form-actions">
    <button (click)="router.navigate(['/home/prescriptions'])" class="btn btn-light">
      Cancelar
    </button>
    <button (click)="onSubmit()" class="btn btn-primary">
      Guardar receta
    </button>
  </div>
} @else {
  @if (view() === 'page') {
    <div class="form-actions">
      <button (click)="router.navigate(['/home/prescriptions'])" class="btn btn-light">
        Volver
      </button>
    </div>
  }
}
