<div class="text-center text-muted mt-3 px-10">
  <small>
    Al hacer clic en "Completar Pago", usted acepta nuestros
    <a href="/terminos" class="text-decoration-none text-primary" style="transition: color 0.2s;">Términos y
      Condiciones</a>,
    la <a href="/privacidad" class="text-decoration-none text-primary" style="transition: color 0.2s;">Política
    de
    Privacidad</a>
    y las <a href="/normas" class="text-decoration-none text-primary" style="transition: color 0.2s;">Normas de
    Uso</a>
    de esta plataforma.
  </small>
</div>
