<thead
  (onSelectAll)="service.toggleMultipleSelectedArray$(key() || '', data())"
  [isCompact]="false"
  [(dictionary)]="service.dictionary"
  [columns]="columns()"
  [(mode)]="mode"
  [(params)]="params"
  [show]="showHeaders()"
  tableHeader
></thead>
<tbody class="text-gray-600 fw-semibold">
  @for (item of data(); track item.id; let idx = $index) {
    <tr class="hover-actions-trigger btn-reveal-trigger position-static cursor-pointer" style="border-bottom: none;"
        (click)="toggleCollapsed(item)"
        [attr.aria-expanded]="!item.isCollapsed"
        [attr.aria-controls]="'collapseBasic' + item.id"
        [cdkContextMenuTriggerFor]="context_menu">

      @switch (mode()) {
        @case ("view") {
          <td class="py-1 fs--1 pe-3 ps-1 border-none">
            <div class="form-check form-check-sm form-check-custom form-check-solid">
              <input
                class="form-check-input"
                type="checkbox"
                [name]="service.dictionary.singular"
                [(ngModel)]="item.isSelected"
                [id]="cuid + 'tableCheck' + idx"
                (click)="stopPropagation($event)"
              />
            </div>
          </td>
        }
        @case ("select") {
          <td class="fs--1 align-middle">
            <div class="form-check form-check-sm form-check-custom form-check-solid">
              <input
                class="form-check-input"
                type="radio"
                [name]="service.dictionary.singular"
                [checked]="item.isSelected"
                (click)="stopPropagation($event)"
              />
            </div>
          </td>
        }
        @case ("multiselect") {
          <td class="py-1 fs--1 pe-3 ps-1 border-none">
            <div class="form-check form-check-sm form-check-custom form-check-solid">
              <input
                class="form-check-input"
                type="checkbox"
                [name]="service.dictionary.singular"
                [checked]="item.isSelected"
                [id]="cuid + 'tableCheck' + idx"
              />
            </div>
          </td>
        }
      }

      <td userCell [user]="item.patient" [role]="'Patient'"></td>

      <td class="align-middle">{{ item.notes }}</td>

      <td class="align-middle" style="white-space: nowrap;">
        {{ item.date | date : 'dd/MM/yyyy' : '' : 'es-MX' }}
        @if (item.isCollapsed) {
          <i class="ki-duotone ki-down ms-2 fs-4"><span class="path1"></span><span class="path2"></span></i>
        } @else {
          <i class="ki-duotone ki-up ms-2 fs-4"><span class="path1"></span><span class="path2"></span></i>
        }
      </td>

      <td class="text-end">
        <a class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm"
           (click)="stopPropagation($event)"
           [cdkContextMenuTriggerFor]="context_menu"
           [cdkMenuTriggerFor]="context_menu"
           [id]="'dropdown' + item.patient.fullName + item.id"
           type="button"
           [attr.aria-controls]="'dropdown' + item.patient.fullName + item.id">
          Opciones
          <i class="ki-duotone ki-down fs-5 ms-1"></i>
        </a>
      </td>

      <ng-template #context_menu>
        @defer {
          @if (key()) {
            <div tableMenu
                 [item]="item"
                 [key]="key()!"
                 [service]="service"
                 (printClicked)="printPrescription(item)"
                 (downloadClicked)="downloadPrescription(item)"
            ></div>
          }
        }
      </ng-template>
    </tr>

    <tr>
      <td colspan="100" style="padding: 0;">
        <div [collapse]="!item.isCollapsed" [id]="'collapseBasic' + item.id" [isAnimated]="true">
          <div class="p-4 border bg-light">
            <div prescriptionForm
                 [(key)]="key"
                 [(item)]="data()[idx]"
                 [view]="'inline'"
                 [showActions]="false"
                 [use]="FormUse.DETAIL"
                 [referenceId]="'prescription-form-' + data()[idx].id">
            </div>
          </div>
        </div>
      </td>
    </tr>
  }
</tbody>
