<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <div
      class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2"
    >
      <h1 class="text-gray-900 fw-bold my-1 fs-2">
        Mi Cuenta
        <small class="text-muted fs-6 fw-normal ms-1"></small>
      </h1>
      <ul class="breadcrumb fw-semibold fs-base my-1">
        <li class="breadcrumb-item text-muted">
          <a [routerLink]="'../'" class="text-muted text-hover-primary"
            >Dashboard</a
          >
        </li>
        <li class="breadcrumb-item text-muted">Mi Cuenta</li>
      </ul>
    </div>
  </div>
</div>

<div class="post fs-6 d-flex flex-column-fluid mt-4">
  <div class="container-xxl">
    <div class="row g-xl-8">
      <div class="col-xxl-12">
        <div class="card mb-5 mb-xl-8">
          <div class="card-body pb-0">
            <div class="d-flex align-items-start">
              <div class="symbol symbol-150px me-5">
                <span class="symbol-label bg-light-danger">
                  <img
                    [src]="patient.photoUrl"
                    class="h-100 align-self-center"
                    alt=""
                    [style]="{ borderRadius: '0.475rem' }"
                  />
                </span>
              </div>
              <div class="d-flex flex-grow-1 flex-column">
                <div
                  class="d-flex align-items-center justify-content-between mb-0"
                >
                  <a
                    href="#"
                    class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"
                  >
                    {{ patient.firstName }} {{ patient.lastName }}
                  </a>
                  <a
                    class="btn btn-light-primary py-2"
                    [routerLink]="['/dashboards/patients', patient.id]"
                  >
                    Ver Paciente
                  </a>
                </div>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="d-flex align-items-center text-gray-500 text-hover-primary me-5"
                  >
                    <i class="ki-duotone ki-sms fs-4 me-1"
                      ><span class="path1"></span><span class="path2"></span
                    ></i>
                    {{ patient.email }}
                  </a>
                  <a
                    href="#"
                    class="d-flex align-items-center text-gray-500 text-hover-primary me-5"
                  >
                    <i class="ki-duotone ki-phone fs-4 me-1"
                      ><span class="path1"></span><span class="path2"></span
                    ></i>
                    {{ patient.phoneNumber }}
                  </a>
                </div>
                <div class="d-flex flex-grow">
                  <div class="row w-100">
                    <div class="col-4">
                      <div class="fw-bold mt-5">Sexo</div>
                      <div class="text-gray-600 mb-0">
                        {{ patient.sex }}
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="fw-bold mt-5">Fecha de Nacimiento</div>
                      <div class="text-gray-600 mb-0">
                        {{ patient.birthDate | date : "mediumDate" }}
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="fw-bold mt-5">Dirección</div>
                      <div class="text-gray-600 mb-0">
                        {{ patient.address }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 mt-5">
              <tabset #staticTabs>
                <tab id="tab1" (selectTab)="onSelect($event)">
                  <ng-template tabHeading>
                    <div class="text-nowrap py-3">Resumen</div>
                  </ng-template>
                </tab>
                <tab id="tab2" (selectTab)="onSelect($event)">
                  <ng-template tabHeading>
                    <div class="text-nowrap py-3">Configuración</div>
                  </ng-template>
                </tab>
              </tabset>
            </div>
          </div>
        </div>

        <div [ngSwitch]="activeTabId">
          <div *ngSwitchCase="'tab1'">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    Detalles del Perfil
                  </span>
                </h3>
              </div>
              <div class="card-body p-9">
                <div class="row mb-7">
                  <label class="col-lg-4 fw-semibold text-muted"
                    >Nombre Completo</label
                  >
                  <div class="col-lg-8">
                    <span class="fw-bold fs-6 text-gray-800">
                      {{ patient.firstName }} {{ patient.lastName }}
                    </span>
                  </div>
                </div>
                <div class="row mb-7">
                  <label class="col-lg-4 fw-semibold text-muted">E-mail</label>
                  <div class="col-lg-8 fv-row">
                    <span class="fw-semibold text-gray-800 fs-6">{{
                      patient.email
                    }}</span>
                  </div>
                </div>
                <div class="row mb-7">
                  <label class="col-lg-4 fw-semibold text-muted"
                    >Teléfono
                    <span
                      class="ms-1"
                      data-bs-toggle="tooltip"
                      aria-label="Phone number must be active"
                      data-bs-original-title="Phone number must be active"
                      data-kt-initialized="1"
                    >
                      <i class="ki-duotone ki-information fs-7">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                      </i> </span
                  ></label>
                  <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bold fs-6 text-gray-800 me-2">{{
                      patient.phoneNumber
                    }}</span>
                    <span class="badge badge-success">Verificado</span>
                  </div>
                </div>
                <div class="row mb-7">
                  <label class="col-lg-4 fw-semibold text-muted"
                    >Fecha de Nacimiento</label
                  >
                  <div class="col-lg-8">
                    <a
                      href="#"
                      class="fw-semibold fs-6 text-gray-800 text-hover-primary"
                      >{{ patient.birthDate | date }}</a
                    >
                  </div>
                </div>
                <div class="row mb-7">
                  <label class="col-lg-4 fw-semibold text-muted">Sexo</label>
                  <div class="col-lg-8">
                    <a
                      href="#"
                      class="fw-semibold fs-6 text-gray-800 text-hover-primary"
                      >{{ patient.sex }}</a
                    >
                  </div>
                </div>
                <div class="row mb-7">
                  <label class="col-lg-4 fw-semibold text-muted"
                    >Dirección</label
                  >
                  <div class="col-lg-8">
                    <a
                      href="#"
                      class="fw-semibold fs-6 text-gray-800 text-hover-primary"
                      >{{ patient.address }}</a
                    >
                  </div>
                </div>

                <div
                  class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6"
                >
                  <i class="ki-duotone ki-information fs-2tx text-warning me-4">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                  </i>
                  <div class="d-flex flex-stack flex-grow-1">
                    <div class="fw-semibold">
                      <h4 class="text-gray-900 fw-bold">
                        ¡Necesitamos tu atención!
                      </h4>
                      <div class="fs-6 text-gray-700">
                        Tu método de pago ha sido rechazado. Por favor,
                        actualiza o agrega un método de pago válido.
                        <a class="fw-bold">Agregar Método de Pago</a>.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gy-5 g-xl-10 mt-0">
              <div class="col-xl-4">
                <div class="card h-xl-100">
                  <div class="card-header align-items-center border-0 mt-5">
                    <h3 class="card-title align-items-start flex-column">
                      <span class="fw-bolder text-gray-900 fs-2"
                        >Métodos de Pago</span
                      >
                      <span class="text-gray-500 mt-2 fw-semibold fs-6"
                        >1 método registrado</span
                      >
                    </h3>
                  </div>
                  <div class="card-body pt-1">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <div class="d-flex align-items-center">
                        <img
                          [src]="'media/custom/visa.svg'"
                          class="w-75px me-2"
                          alt=""
                        />
                        <div>
                          <div class="d-flex flex-column">
                            <span class="fs-5 fw-bold align-items-center">
                              **** **** **** 1234
                            </span>
                            <div>
                              <span class="badge badge-danger mt-0">Error</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-sm btn-light-primary">
                        Editar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-8">
                <div class="card card-flush h-xl-100">
                  <div class="card-header align-items-center border-0 mt-5">
                    <h3 class="card-title align-items-start flex-column">
                      <span class="fw-bolder text-gray-900 fs-2"
                        >Historial de Pagos</span
                      >
                      <span class="text-gray-500 mt-2 fw-semibold fs-6"
                        >5 pagos encontrados</span
                      >
                    </h3>
                  </div>
                  <div class="card-body">
                    <div
                      id="kt_table_widget_5_table_wrapper"
                      class="dt-container dt-bootstrap5 dt-empty-footer"
                    >
                      <div id="" class="table-responsive">
                        <table
                          class="table align-middle table-row-dashed fs-6 gy-3 dataTable"
                          id="kt_table_widget_5_table"
                          style="width: 768.656px"
                        >
                          <colgroup>
                            <col data-dt-column="0" style="width: 165.922px" />
                            <col data-dt-column="1" style="width: 110.609px" />
                            <col data-dt-column="2" style="width: 165.922px" />
                            <col data-dt-column="3" style="width: 110.609px" />
                            <col data-dt-column="4" style="width: 132.609px" />
                            <col data-dt-column="5" style="width: 82.9844px" />
                          </colgroup>
                          <thead>
                            <tr
                              class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0"
                              role="row"
                            >
                              <th
                                class="min-w-150px dt-orderable-asc dt-orderable-desc"
                                data-dt-column="0"
                                rowspan="1"
                                colspan="1"
                                aria-label="Item: Activate to sort"
                                tabindex="0"
                              >
                                <span class="dt-column-title" role="button"
                                  >Servicio</span
                                ><span class="dt-column-order"></span>
                              </th>
                              <th
                                class="text-end pe-3 min-w-100px dt-orderable-none"
                                data-dt-column="1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Product ID"
                              >
                                <span class="dt-column-title"
                                  >ID de Servicio</span
                                ><span class="dt-column-order"></span>
                              </th>
                              <th
                                class="text-end pe-3 min-w-150px dt-orderable-asc dt-orderable-desc"
                                data-dt-column="2"
                                rowspan="1"
                                colspan="1"
                                aria-label="Date Added: Activate to sort"
                                tabindex="0"
                              >
                                <span class="dt-column-title" role="button"
                                  >Fecha</span
                                ><span class="dt-column-order"></span>
                              </th>
                              <th
                                class="text-end pe-3 min-w-100px dt-type-numeric dt-orderable-asc dt-orderable-desc"
                                data-dt-column="3"
                                rowspan="1"
                                colspan="1"
                                aria-label="Price: Activate to sort"
                                tabindex="0"
                              >
                                <span class="dt-column-title" role="button"
                                  >Precio</span
                                ><span class="dt-column-order"></span>
                              </th>
                              <th
                                class="text-end pe-3 min-w-100px dt-orderable-asc dt-orderable-desc"
                                data-dt-column="4"
                                rowspan="1"
                                colspan="1"
                                aria-label="Status: Activate to sort"
                                tabindex="0"
                              >
                                <span class="dt-column-title" role="button"
                                  >Doctor</span
                                ><span class="dt-column-order"></span>
                              </th>
                            </tr>
                          </thead>
                          <tbody class="fw-bold text-gray-600">
                            <tr>
                              <td>
                                <a
                                  href="apps/ecommerce/catalog/edit-product.html"
                                  class="text-gray-900 text-hover-primary"
                                >
                                  Consulta
                                </a>
                              </td>
                              <td class="text-end">#CON-001</td>
                              <td
                                class="text-end"
                                data-order="2024-04-20T00:00:00-06:00"
                              >
                                22 Jul, 2024
                              </td>
                              <td class="text-end dt-type-numeric">
                                {{ 1495 | currency : "MXN" }}
                              </td>
                              <td class="text-end dt-type-numeric">
                                Dr. Alejandro
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="apps/ecommerce/catalog/edit-product.html"
                                  class="text-gray-900 text-hover-primary"
                                >
                                  Consulta
                                </a>
                              </td>
                              <td class="text-end">#CON-001</td>
                              <td
                                class="text-end"
                                data-order="2024-04-20T00:00:00-06:00"
                              >
                                20 Jun, 2024
                              </td>
                              <td class="text-end dt-type-numeric">
                                {{ 1250 | currency : "MXN" }}
                              </td>
                              <td class="text-end dt-type-numeric">
                                Dr. Alejandro
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="apps/ecommerce/catalog/edit-product.html"
                                  class="text-gray-900 text-hover-primary"
                                >
                                  Seguimiento
                                </a>
                              </td>
                              <td class="text-end">#SEG-211</td>
                              <td
                                class="text-end"
                                data-order="2024-04-20T00:00:00-06:00"
                              >
                                08 Oct, 2024
                              </td>
                              <td class="text-end dt-type-numeric">
                                {{ 500 | currency : "MXN" }}
                              </td>
                              <td class="text-end dt-type-numeric">
                                Dr. Alejandro
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="apps/ecommerce/catalog/edit-product.html"
                                  class="text-gray-900 text-hover-primary"
                                >
                                  Análisis de Sangre
                                </a>
                              </td>
                              <td class="text-end">#XGY-356</td>
                              <td
                                class="text-end"
                                data-order="2024-04-20T00:00:00-06:00"
                              >
                                02 Apr, 2024
                              </td>
                              <td class="text-end dt-type-numeric">
                                {{ 2500 | currency : "MXN" }}
                              </td>
                              <td class="text-end dt-type-numeric">
                                Dr. Alejandro
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="apps/ecommerce/catalog/edit-product.html"
                                  class="text-gray-900 text-hover-primary"
                                >
                                  Emergencia
                                </a>
                              </td>
                              <td class="text-end">#XGY-356</td>
                              <td
                                class="text-end"
                                data-order="2024-04-20T00:00:00-06:00"
                              >
                                01 May, 2024
                              </td>
                              <td class="text-end dt-type-numeric">
                                {{ 35000 | currency : "MXN" }}
                              </td>
                              <td class="text-end dt-type-numeric">
                                Dr. Alejandro
                              </td>
                            </tr>
                          </tbody>
                          <tfoot></tfoot>
                        </table>
                      </div>
                      <div id="" class="row">
                        <div
                          id=""
                          class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start dt-toolbar"
                        ></div>
                        <div
                          id=""
                          class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab2'">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    Método de Inicio de Sesión
                  </span>
                </h3>
              </div>
              <div class="card-body">
                <div class="d-flex flex-grow-1 justify-content-between">
                  <div class="d-flex flex-column">
                    <div class="fw-bold fs-6 text-gray-800">E-mail</div>
                    <div class="text-gray-600 mb-0">{{ patient.email }}</div>
                  </div>
                  <div class="d-flex flex-column">
                    <button class="btn btn-light-secondary">
                      Cambiar E-mail
                    </button>
                  </div>
                </div>
                <div class="separator separator-dashed my-7"></div>
                <div class="d-flex flex-grow-1 justify-content-between">
                  <div class="d-flex flex-column">
                    <div class="fw-bold fs-6 text-gray-800">Contraseña</div>
                    <div class="text-gray-600 mb-0">*************</div>
                  </div>
                  <div class="d-flex flex-column">
                    <button class="btn btn-light-secondary">
                      Cambiar Contraseña
                    </button>
                  </div>
                </div>
                <div
                  class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 mt-10"
                >
                  <i class="ki-duotone ki-shield-tick fs-2tx text-primary me-4"
                    ><span class="path1"></span><span class="path2"></span
                  ></i>

                  <div
                    class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap"
                  >
                    <div class="mb-3 mb-md-0 fw-semibold">
                      <h4 class="text-gray-900 fw-bold">Asegura Tu Cuenta</h4>

                      <div class="fs-6 text-gray-700 pe-7">
                        La autenticación de dos factores agrega una capa extra
                        de seguridad a tu cuenta. Para iniciar sesión, además
                        necesitarás proporcionar un código de 6 dígitos.
                      </div>
                    </div>

                    <a
                      href="#"
                      class="btn btn-primary px-6 align-self-center text-nowrap"
                      data-bs-toggle="modal"
                      data-bs-target="#kt_modal_two_factor_authentication"
                    >
                      Habilitar
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-5 mb-xl-10 mt-10">
              <div
                class="card-header border-0 cursor-pointer"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#kt_account_notifications"
                aria-expanded="true"
                aria-controls="kt_account_notifications"
              >
                <div class="card-title m-0">
                  <h3 class="fw-bold m-0">Notificaciones</h3>
                </div>
              </div>

              <div id="kt_account_settings_notifications" class="collapse show">
                <form class="form">
                  <div class="card-body border-top px-9 pt-3 pb-4">
                    <div class="table-responsive">
                      <table
                        class="table table-row-dashed border-gray-300 align-middle gy-6"
                      >
                        <tbody class="fs-6 fw-semibold">
                          <tr>
                            <td class="min-w-250px fs-4 fw-bold">
                              Notificaciones
                            </td>
                            <td class="w-125px">
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="kt_settings_notification_email"
                                  checked=""
                                  data-kt-check="true"
                                  data-kt-check-target="[data-kt-settings-notification=email]"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="kt_settings_notification_email"
                                >
                                  E-mail
                                </label>
                              </div>
                            </td>
                            <td class="w-125px">
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="kt_settings_notification_phone"
                                  checked=""
                                  data-kt-check="true"
                                  data-kt-check-target="[data-kt-settings-notification=phone]"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="kt_settings_notification_phone"
                                >
                                  Teléfono
                                </label>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>Actualizaciones de Facturación</td>
                            <td>
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value="1"
                                  id="billing1"
                                  checked=""
                                  data-kt-settings-notification="email"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="billing1"
                                ></label>
                              </div>
                            </td>
                            <td>
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="billing2"
                                  checked=""
                                  data-kt-settings-notification="phone"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="billing2"
                                ></label>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>Nuevos Miembros del Equipo</td>
                            <td>
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="team1"
                                  checked=""
                                  data-kt-settings-notification="email"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="team1"
                                ></label>
                              </div>
                            </td>
                            <td>
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="team2"
                                  data-kt-settings-notification="phone"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="team2"
                                ></label>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>Proyectos Completados</td>
                            <td>
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="project1"
                                  data-kt-settings-notification="email"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="project1"
                                ></label>
                              </div>
                            </td>
                            <td>
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="project2"
                                  checked=""
                                  data-kt-settings-notification="phone"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="project2"
                                ></label>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td class="border-bottom-0">
                              Boletines Informativos
                            </td>
                            <td class="border-bottom-0">
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="newsletter1"
                                  data-kt-settings-notification="email"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="newsletter1"
                                ></label>
                              </div>
                            </td>
                            <td class="border-bottom-0">
                              <div
                                class="form-check form-check-custom form-check-solid"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="newsletter2"
                                  data-kt-settings-notification="phone"
                                />
                                <label
                                  class="form-check-label ps-2"
                                  for="newsletter2"
                                ></label>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <button class="btn btn-light btn-active-light-primary me-2">
                      Descartar
                    </button>
                    <button class="btn btn-primary px-6">
                      Guardar Cambios
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card mb-5 mb-xl-10">
              <!--begin::Card header-->
              <div
                class="card-header border-0 cursor-pointer"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#kt_account_connected_accounts"
                aria-expanded="true"
                aria-controls="kt_account_connected_accounts"
              >
                <div class="card-title m-0">
                  <h3 class="fw-bold m-0">Cuentas Conectadas</h3>
                </div>
              </div>
              <!--end::Card header-->

              <!--begin::Content-->
              <div
                id="kt_account_settings_connected_accounts"
                class="collapse show"
              >
                <!--begin::Card body-->
                <div class="card-body border-top p-9">
                  <!--begin::Notice-->
                  <div
                    class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6"
                  >
                    <!--begin::Icon-->
                    <i
                      class="ki-duotone ki-design-1 fs-2tx text-primary me-4"
                    ></i>
                    <!--end::Icon-->

                    <!--begin::Wrapper-->
                    <div class="d-flex flex-stack flex-grow-1">
                      <!--begin::Content-->
                      <div class="fw-semibold">
                        <div class="fs-6 text-gray-700">
                          La autenticación de dos factores agrega una capa extra
                          de seguridad a tu cuenta. Para iniciar sesión,
                          necesitarás proporcionar un código de 4 dígitos.
                          <a href="#" class="fw-bold">Aprende Más</a>
                        </div>
                      </div>
                      <!--end::Content-->
                    </div>
                    <!--end::Wrapper-->
                  </div>
                  <!--end::Notice-->

                  <!--begin::Items-->
                  <div class="py-2">
                    <!--begin::Item-->
                    <div class="d-flex flex-stack">
                      <div class="d-flex">
                        <img
                          [src]="'media/custom/google-icon.svg'"
                          class="w-30px me-6"
                          alt=""
                        />

                        <div class="d-flex flex-column">
                          <a
                            href="#"
                            class="fs-5 text-dark text-hover-primary fw-bold"
                            >Google</a
                          >
                          <div class="fs-6 fw-semibold text-gray-400">
                            Planifica adecuadamente tu flujo de trabajo
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end">
                        <div
                          class="form-check form-check-solid form-check-custom form-switch"
                        >
                          <input
                            class="form-check-input w-45px h-30px"
                            type="checkbox"
                            id="googleswitch"
                            checked=""
                          />
                          <label
                            class="form-check-label"
                            for="googleswitch"
                          ></label>
                        </div>
                      </div>
                    </div>
                    <!--end::Item-->
                  </div>
                  <!--end::Items-->
                </div>
                <!--end::Card body-->

                <!--begin::Card footer-->
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                  <button class="btn btn-light btn-active-light-primary me-2">
                    Descartar
                  </button>
                  <button class="btn btn-primary">Guardar Cambios</button>
                </div>
                <!--end::Card footer-->
              </div>
              <!--end::Content-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
