<thead
  tableHeader
  [columns]="service.columns"
  [(dictionary)]="service.dictionary"
  [(params)]="params"
  [(mode)]="mode"
  [(isCompact)]="isCompact"
  (selectedChange)="service.toggleMultipleSelectedArray$(key() || '', data())"
></thead>
<tbody templateTableBody>
  @for (item of data(); track item.id; let idx = $index) {
    <tr
      class="hover-actions-trigger btn-reveal-trigger position-static" (click)="service.clickRow(item, key, view, mode, query.isMobile, route)" (keydown.enter)="service.clickRow(item, key, view, mode, query.isMobile, route)" [tabIndex]="0"
      [cdkContextMenuTriggerFor]="context_menu"
    >
      <td
        tableCheckCell
        [isCompact]="isCompact()"
        [isChecked]="item.isSelected"
        (click)="service.setSelected$(key() || '', item)"
      ></td>

      @if (dev.isDev()) {
        <td
          class="name align-middle white-space-nowrap px-0 py-0"
          [ngStyle]="isCompact() ? {} : { cursor: 'pointer' }"
        >
          <div class="d-flex align-items-center justify-content-start px-0">
            <a
              [routerLink]="[service.dictionary.catalogRoute, item.id]"
              [href]="[service.dictionary.catalogRoute, item.id]"
              class="fw-semibold text-primary"
            >#{{ item.id | number }}</a
            >
          </div>
        </td>
      }

      <td symbolCell [photoUrl]="item.photoUrl" [shape]="PhotoShape.SQUARE"></td>

      <td>
        <div class="d-flex align-items-center text-nowrap">
          <div>
            {{ item.name }}
          </div>
          @if (item.isMain) {
            <div>
              <span class="badge badge-light-primary fs-8 ms-2">
                Principal
              </span>
            </div>
          }
        </div>
      </td>
      <td addressTableCell [address]="item"></td>
      <td>
        <span class="badge badge-light fs-8">
          {{ item.zipcode }}
        </span>
      </td>

      <td
        tableMenuCell
        [item]="item"
        [contextMenu]="context_menu"
        [(isCompact)]="isCompact"
      ></td>
      <ng-template #context_menu>
        @defer {
          @if (key()) {
            <div tableMenu
                 [siteSection]="params().fromSection || undefined"
                 [item]="item"
                 [key]="key()!"
                 [service]="service"></div>
          }
        }
      </ng-template>
    </tr>
  }
</tbody>

