<account-child-wrapper>
  <div class="d-flex flex-column flex-lg-row">
    @if (!query.isMobile()) {
      <app-nav-menu [currentSection]="currentSection" (onSelectSection)="selectSection($event)"></app-nav-menu>
    }

    <div class="flex-md-row-fluid ms-lg-12">
      <app-card-sign-in-method (onSelectSection)="selectSection($event)"></app-card-sign-in-method>

      <app-card-profile-details (onSelectSection)="selectSection($event)"></app-card-profile-details>

      @if (accountService.hasRole([ 'Doctor' ]) || accountService.hasRole([ 'Nurse' ])) {
        <app-card-doctor-associations
          id="account_settings_associations"
          (mouseenter)="selectSection('account_settings_associations')"
        ></app-card-doctor-associations>
      }

      <app-card-connected-accounts (onSelectSection)="selectSection($event)"></app-card-connected-accounts>

      <app-card-notifications (onSelectSection)="selectSection($event)"></app-card-notifications>

      <app-card-deactivate (onSelectSection)="selectSection($event)"></app-card-deactivate>
    </div>
  </div>
</account-child-wrapper>
