<div class="card">
  <div class="card-body">
    <form [id]="form.id" (ngSubmit)="handleSubmission()">
      @if (form.error !== null) {
        <div errorsAlert3 [(error)]="form.error"></div>
      }

      <div controlsRow3 [grid]="2">
        <div controlsWrapper3 [control]="form.controls.name"></div>
        <div controlsWrapper3 [control]="form.controls.description"></div>
        <div controlsWrapper3 [control]="form.controls.price"></div>
        <div controlsWrapper3 [control]="form.controls.discount"></div>
      </div>
    </form>
  </div>
</div>

@if (use() !== FormUse.DETAIL) {
  <div class="col-12 mt-5">
    <div class="d-flex justify-content-end">
      <button class="btn btn-light me-5 text-muted">
        Cancelar
      </button>
      <button type="button" class="btn btn-primary" (click)="handleSubmission()" [disabled]="isSubmitting">
        @if (!isSubmitting) {
          Crear Servicio
        } @else {
          <span class="spinner-border spinner-border-sm me-2"></span>
          Creando...
        }
      </button>
    </div>
  </div>
}
















