@if (show()) {
  <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0"
      role="row">
    <th class="w-10px pe-2 dt-orderable-none"
        style="max-width:20px; width:18px;">
    <span class="dt-column-title">
      <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
        @if (mode() !== 'readonly') {
          <input class="form-check-input"
                 [disabled]="mode() !== 'view'"
                 type="checkbox"
                 (change)="selectAllItems($event)"
                 [id]="cuid + 'tableCheckbox'">
        }
      </div>
    </span>
    </th>
    @for (column of columns(); track column; let idx = $index; let last = $last; let first = $first) {
      @if (!column.devModeOnly || (column.devModeOnly && isDev)) {

        <th (click)="onClick(column.name)"
            class="min-w-125px dt-orderable-asc dt-orderable-desc"
            tabindex="0"
            rowspan="1"
            colspan="1"
            [attr.aria-label]="(column.label + ': ' + (column.name === params()?.sort ?
      (params()?.isSortAscending ? 'Activate to invert sorting' : 'Activate to remove sorting') :
      'Activate to sort'))"
            [ngClass]="{
              'text-end pe-2': column.options?.justify === 'end',
              'dt-ordering-asc': params()?.isSortAscending && column.name === params()?.sort,
              'dt-ordering-desc': !params()?.isSortAscending && column.name === params()?.sort,
            }">

          <span class="dt-column-title"
                role="button">{{ column.label }}</span>
          <span class="dt-column-order"></span>
        </th>
      }
    }
    @if (showActions() === true) {
      <th class="text-end min-w-100px dt-orderable-none"
          rowspan="1"
          colspan="1"
          aria-label="Actions">
        <span class="dt-column-title">Opciones</span><span class="dt-column-order"></span>
      </th>
    }
  </tr>
}
