@if (show()) {
<tr>
  <th class="white-space-nowrap fs--1 align-middle ps-0" style="max-width:20px; width:18px;">
    <div class="form-check mb-0 fs-0">
      @if (mode() !== 'readonly') {
      <input class="form-check-input" [disabled]="mode() !== 'view'" type="checkbox" (change)="selectAllItems($event)"
        [id]="cuid + 'tableCheckbox'">
      }
    </div>
  </th>
  @for (column of columns(); track column; let idx = $index; let last = $last; let first = $first) {
  @if (!column.devModeOnly || (column.devModeOnly && isDev)) {
  <th (click)="onClick(column.name)"
    class="pointer text-reset text-nowrap text-uppercase sort white-space-nowrap align-middle text-uppercase" [ngClass]="{
      'fs--1': isCompact(),
      'border-end' : (!isCompact() && (idx >= 1 && !last)),
      'ps-0': first,
    }" scope="col">
    <div class="d-flex flex-center align-items-center" [ngClass]="{'justify-content-start':  !column.options?.justify || column.options?.justify == 'start',
                     'justify-content-end': column.options?.justify == 'end',
                     'justify-content-center':column.options?.justify == 'center'}">
      <span>{{column.label}} @if (isDev && column.options?.isNew) {<span
          class="badge bg-phoenix-success bg-success">NUEVO</span>}</span>
      @if (this.sortable()) {
      @if (this.params().sort === column.name && this.params().isSortAscending) {
      <fa-icon [icon]="icons.faSortUp" class="text-muted fa-xs ms-1"></fa-icon>
      } @else if (this.params().sort === column.name && !this.params().isSortAscending) {
      <fa-icon [icon]="icons.faSortDown" class="text-muted fa-xs ms-1"></fa-icon>
      } @else {
      <fa-icon [icon]="icons.faSort" class="text-muted fa-xs ms-1"></fa-icon>
      }
      }
    </div>
  </th>
  }
  }
  @if (showActions() === true) {
  <th class="pointer text-reset text-nowrap text-uppercase sort text-end align-middle pe-0"></th>
  }
</tr>
}