<nav class="navbar navbar-expand-lg shadow-none"
     style="transition: all 0.2s ease; height: 85px">
  <div class="container-fluid px-20">
    <a class="navbar-brand d-flex align-items-center px-10" routerLink="/">
      <app-logo-icon></app-logo-icon>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <div class="navbar-nav me-auto mb-2 mb-lg-0 ms-6">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           class="nav-link albert-sans">
          Sobre DocHub
        </a>
        <a routerLink="/contact" routerLinkActive="active" class="nav-link albert-sans">
          Contacto
        </a>
      </div>
      @if (isLoggedIn()) {
        <div class="position-relative">
          <div userDropdown dropdown triggers="hover" placement="bottom right" class="pt-2"></div>
        </div>
      } @else {
        <a routerLink="/auth/sign-in" class="btn btn-pill btn-light-primary me-5">
          Farmacia en Línea
        </a>
        <a [routerLink]="['/search']" class="btn btn-pill btn-primary">
          Encontrar a un Doctor
        </a>
      }
    </div>
  </div>
</nav>
