<div class="d-flex flex-column flex-root h-100">
  <mat-sidenav-container class="page d-flex flex-row flex-column-fluid" autosize style="background-color: transparent;">
    <mat-sidenav
      #snav
      class="aside aside-default aside-hoverable"
      [mode]="query.isMobile() ? 'over' : 'side'"
      [(opened)]="sidebar.opened"
      style="display: flex !important;"
      [fixedInViewport]="query.isMobile()"
    >
      <div mainAside></div>
    </mat-sidenav>

    <div wrapper>
      <div header></div>
      <div content>
        <div post>
          <router-outlet></router-outlet>
        </div>
      </div>
      <div footer></div>
    </div>
  </mat-sidenav-container>
</div>
