<div class="card card-flush h-lg-100" id="kt_contacts_main">
    <div class="card-header pt-7" id="kt_chat_contacts_header">
        <div class="card-title">
            <i class="ki-duotone ki-badge fs-1 me-2">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
            </i>
            <h2>Detalles del Especialista</h2>
        </div>
        <div class="card-toolbar gap-3">
            <i class="ki-duotone ki-cross fs-2" (click)="onClose.emit()" style="cursor: pointer;">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
            </i>
        </div>
    </div>
    <div class="card-body pt-5">
        <div class="d-flex gap-3 align-items-center">
            <app-user-profile-picture
                [firstName]="doctor()?.firstName ?? ''"
                [photoUrl]="doctor()?.photoUrl ?? ''"
                size="md"
            ></app-user-profile-picture>
            <div class="d-flex flex-column gap-2">
                <h3 class="mb-0">{{doctor()?.firstName}} {{doctor()?.lastName}}</h3>
                <div class="d-flex align-items-center gap-2">
                    <i class="ki-duotone ki-sms fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <a href="#" class="text-muted text-hover-primary">{{doctor()?.email}}</a>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <i class="ki-duotone ki-phone fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <a href="#" class="text-muted text-hover-primary">{{doctor()?.phoneNumber}}</a>
                </div>
            </div>
        </div>
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x fs-6 fw-semibold mt-6 mb-8 gap-2">
            <li class="nav-item">
                <a class="nav-link text-active-primary d-flex align-items-center pb-4 active" data-bs-toggle="tab" href="#kt_contact_view_general">
                <i class="ki-duotone ki-home fs-4 me-1"></i>General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-active-primary d-flex align-items-center pb-4" data-bs-toggle="tab" href="#kt_contact_view_meetings">
                <i class="ki-duotone ki-calendar-8 fs-4 me-1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                    <span class="path5"></span>
                    <span class="path6"></span>
                </i>Agendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-active-primary d-flex align-items-center pb-4" data-bs-toggle="tab" href="#kt_contact_view_activity">
                <i class="ki-duotone ki-save-2 fs-4 me-1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>Reseñas</a>
            </li>
        </ul>
        <div class="tab-content" id="">
            <div class="tab-pane fade show active" id="kt_contact_view_general" role="tabpanel">
                <div class="d-flex flex-column gap-5 mt-7">
                    <div class="d-flex flex-column gap-1">
                        <div class="fw-bold text-muted">Company Name</div>
                        <div class="fw-bold fs-5">Keenthemes Inc</div>
                    </div>
                    <div class="d-flex flex-column gap-1">
                        <div class="fw-bold text-muted">City</div>
                        <div class="fw-bold fs-5">Melbourne</div>
                    </div>
                    <div class="d-flex flex-column gap-1">
                        <div class="fw-bold text-muted">Country</div>
                        <div class="fw-bold fs-5">Australia</div>
                    </div>
                    <div class="d-flex flex-column gap-1">
                        <div class="fw-bold text-muted">Notes</div>
                        <p>Emma Smith joined the team on September 2019 as a junior associate. She soon showcased her expertise and experience in knowledge and skill in the field, which was very valuable to the company. She was promptly promoted to senior associate on July 2020. 
                        <br />
                        <br />Emma Smith now heads a team of 5 associates and leads the company's sales growth by 7%.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="kt_contact_view_meetings" role="tabpanel">
                <ul class="nav nav-pills d-flex flex-stack flex-nowrap scroll-x pb-2">
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_0">
                            <span class="opacity-50 fs-7 fw-semibold">Su</span>
                            <span class="fs-6 fw-bold">22</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary active" data-bs-toggle="tab" href="#kt_schedule_day_1">
                            <span class="opacity-50 fs-7 fw-semibold">Mo</span>
                            <span class="fs-6 fw-bold">23</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_2">
                            <span class="opacity-50 fs-7 fw-semibold">Tu</span>
                            <span class="fs-6 fw-bold">24</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_3">
                            <span class="opacity-50 fs-7 fw-semibold">We</span>
                            <span class="fs-6 fw-bold">25</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_4">
                            <span class="opacity-50 fs-7 fw-semibold">Th</span>
                            <span class="fs-6 fw-bold">26</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_5">
                            <span class="opacity-50 fs-7 fw-semibold">Fr</span>
                            <span class="fs-6 fw-bold">27</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_6">
                            <span class="opacity-50 fs-7 fw-semibold">Sa</span>
                            <span class="fs-6 fw-bold">28</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_7">
                            <span class="opacity-50 fs-7 fw-semibold">Su</span>
                            <span class="fs-6 fw-bold">29</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_8">
                            <span class="opacity-50 fs-7 fw-semibold">Mo</span>
                            <span class="fs-6 fw-bold">30</span>
                        </a>
                    </li>
                    <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-2 py-4 px-3 text-gray-900 text-active-white btn-active-primary" data-bs-toggle="tab" href="#kt_schedule_day_9">
                            <span class="opacity-50 fs-7 fw-semibold">Tu</span>
                            <span class="fs-6 fw-bold">31</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="kt_schedule_day_0" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">14:30 - 15:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Dashboard UI/UX Design Review</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Bob Harris</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-warning rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">16:30 - 17:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Lunch & Learn Catch Up</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Terry Robins</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">9:00 - 10:00 
                                <span class="fs-7 text-gray-500 text-uppercase">am</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Weekly Team Stand-Up</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Michael Walters</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_1" class="tab-pane fade show active">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">14:30 - 15:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Committee Review Approvals</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Kendell Trevor</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">13:00 - 14:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Weekly Team Stand-Up</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Karina Clarke</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">10:00 - 11:00 
                                <span class="fs-7 text-gray-500 text-uppercase">am</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Weekly Team Stand-Up</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Walter White</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_2" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">11:00 - 11:45 
                                <span class="fs-7 text-gray-500 text-uppercase">am</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Team Backlog Grooming Session</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Bob Harris</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">11:00 - 11:45 
                                <span class="fs-7 text-gray-500 text-uppercase">am</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Project Review & Testing</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Michael Walters</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">14:30 - 15:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Marketing Campaign Discussion</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Michael Walters</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_3" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-info rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">16:30 - 17:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Marketing Campaign Discussion</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Karina Clarke</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">14:30 - 15:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Creative Content Initiative</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Bob Harris</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-info rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">13:00 - 14:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Creative Content Initiative</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Karina Clarke</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_4" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">12:00 - 13:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">9 Degree Project Estimation Meeting</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Bob Harris</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-warning rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">13:00 - 14:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Weekly Team Stand-Up</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Karina Clarke</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">14:30 - 15:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Creative Content Initiative</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Peter Marcus</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_5" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">10:00 - 11:00 
                                <span class="fs-7 text-gray-500 text-uppercase">am</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Creative Content Initiative</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Walter White</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">16:30 - 17:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Creative Content Initiative</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Bob Harris</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">10:00 - 11:00 
                                <span class="fs-7 text-gray-500 text-uppercase">am</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Project Review & Testing</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Kendell Trevor</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_6" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">11:00 - 11:45 
                                <span class="fs-7 text-gray-500 text-uppercase">am</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Team Backlog Grooming Session</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Peter Marcus</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">14:30 - 15:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Marketing Campaign Discussion</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Bob Harris</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-success rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">12:00 - 13:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Creative Content Initiative</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Yannis Gloverson</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_7" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-info rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">13:00 - 14:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Project Review & Testing</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Yannis Gloverson</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-danger rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">12:00 - 13:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Committee Review Approvals</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Walter White</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-info rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">16:30 - 17:30 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Team Backlog Grooming Session</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Yannis Gloverson</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_8" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-success rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">12:00 - 13:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Committee Review Approvals</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Naomi Hayabusa</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">11:00 - 11:45 
                                <span class="fs-7 text-gray-500 text-uppercase">am</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Project Review & Testing</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Bob Harris</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-warning rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">13:00 - 14:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Marketing Campaign Discussion</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Peter Marcus</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                    <div id="kt_schedule_day_9" class="tab-pane fade show">
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-warning rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">13:00 - 14:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Development Team Capacity Review</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Yannis Gloverson</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">13:00 - 14:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Team Backlog Grooming Session</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Naomi Hayabusa</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                        <div class="d-flex flex-stack position-relative my-6">
                            <div class="position-absolute h-100 w-4px bg-info rounded top-0 start-0"></div>
                            <div class="fw-semibold ms-5 text-gray-600">
                                <div class="fs-5">13:00 - 14:00 
                                <span class="fs-7 text-gray-500 text-uppercase">pm</span></div>
                                <a href="#" class="fs-5 fw-bold text-gray-800 text-hover-primary mb-2">Project Review & Testing</a>
                                <div class="text-gray-500">Lead by 
                                <a href="#">Walter White</a></div>
                            </div>
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="kt_contact_view_activity" role="tabpanel">
                <div class="timeline-label">
                    <div class="timeline-item">
                        <div class="timeline-label fw-bold text-gray-800 fs-6">08:42</div>
                        <div class="timeline-badge">
                            <i class="ki-duotone ki-abstract-8 text-warning fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <div class="fw-mormal timeline-content text-muted ps-3">Outlines keep you honest. And keep structure</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-label fw-bold text-gray-800 fs-6">10:00</div>
                        <div class="timeline-badge">
                            <i class="ki-duotone ki-abstract-8 text-success fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <div class="timeline-content d-flex">
                            <span class="fw-bold text-gray-800 ps-3">AEOL meeting</span>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-label fw-bold text-gray-800 fs-6">14:37</div>
                        <div class="timeline-badge">
                            <i class="ki-duotone ki-abstract-8 text-danger fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <div class="timeline-content fw-bold text-gray-800 ps-3">Make deposit 
                        <a href="#" class="text-primary">USD 700</a>. to ESL</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-label fw-bold text-gray-800 fs-6">16:50</div>
                        <div class="timeline-badge">
                            <i class="ki-duotone ki-abstract-8 text-primary fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <div class="timeline-content fw-mormal text-muted ps-3">Indulging in poorly driving and keep structure keep great</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-label fw-bold text-gray-800 fs-6">21:03</div>
                        <div class="timeline-badge">
                            <i class="ki-duotone ki-abstract-8 text-danger fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <div class="timeline-content fw-semibold text-gray-800 ps-3">New order placed 
                        <a href="#" class="text-primary">#XF-2356</a>.</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-label fw-bold text-gray-800 fs-6">16:50</div>
                        <div class="timeline-badge">
                            <i class="ki-duotone ki-abstract-8 text-primary fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <div class="timeline-content fw-mormal text-muted ps-3">Indulging in poorly driving and keep structure keep great</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-label fw-bold text-gray-800 fs-6">21:03</div>
                        <div class="timeline-badge">
                            <i class="ki-duotone ki-abstract-8 text-danger fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <div class="timeline-content fw-semibold text-gray-800 ps-3">New order placed 
                        <a href="#" class="text-primary">#XF-2356</a>.</div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-label fw-bold text-gray-800 fs-6">10:30</div>
                        <div class="timeline-badge">
                            <i class="ki-duotone ki-abstract-8 text-success fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <div class="timeline-content fw-mormal text-muted ps-3">Finance KPI Mobile app launch preparion meeting</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>