<div modalContent>
    @if (title) {
    <div modalHeader [title]="title"></div>
    }
    <div modalBody>
      <form [formGroup]="insuranceForm" (ngSubmit)="onSubmit()">
        
        <div class="row mb-5">
            <div class="col-xl-12">
                @if (type !== 'edit') {
                    <div
                        class="fv-row fv-plugins-icon-container"
                        controlSelect
                        formControlName="MedicalInsuranceCompanyId"
                        [label]="'Aseguradora'"
                        [options]="accountService.medicalInsuranceCompanies()!"
                        [placeholder]="''"
                        [submitted]="submitted"
                        [errors]="{
                            required: 'La compañía es requerida.'
                        }"
                    ></div>
                } @else {
                    <div class="d-flex flex-stack mt-5">
                        <div class="me-5">
                            <label class="fs-6 fw-semibold form-label">Aseguradora</label>
                            <div>{{ insurance?.name }}</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    
        <div class="row mb-5">
            <div class="col-xl-12">
                <div
                    class="fv-row fv-plugins-icon-container"
                    inputControl
                    formControlName="PolicyNumber"
                    [label]="'No. de Póliza'"
                    [type]="'text'"
                    [placeholder]="''"
                    [submitted]="submitted"
                    [errors]="{
                        required: 'El número de póliza es requerido.'
                    }"
                ></div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-12">
              <div
                  class="fv-row fv-plugins-icon-container"
                  inputControl
                  formControlName="file"
                  type="file"
                  [label]="'Póliza'"
                  [placeholder]="''"
                  [submitted]="submitted"
                  [errors]="{
                      required: 'Se requiere el documento de la póliza.'
                  }"
                  (onChange)="onFileChange($event)"
                ></div>
            </div>
          </div>
  
          <div class="d-flex flex-stack mt-5">
              <div class="me-5">
                  <label class="fs-6 fw-semibold form-label">¿Establecer esta póliza como la principal?</label>
                  <div class="fs-7 fw-semibold text-muted">Esta póliza aparecerá primero en la selección de pólizas al agendar una cita.</div>
              </div>
              <label class="form-check form-switch form-check-custom form-check-solid">
                  <input class="form-check-input" type="checkbox" formControlName="IsMain"  />
              </label>
          </div>
  
          <div class="text-center pt-15">
            <button 
                type="reset" id="kt_modal_new_card_cancel" class="btn btn-light me-3" 
                (click)="bsModalRef.hide()" [disabled]="submitted">
                Cancelar
            </button>
            <button 
                type="submit" id="kt_modal_new_card_submit" class="btn btn-primary" 
                style="width: 96px;" [disabled]="submitted"
            >
                @if (!submitted) {
                    <span class="indicator-label">Guardar</span>
                } @else {
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                }
            </button>
          </div>
  
      </form>
    </div>
  </div>
  