@if (control().showLabel) {
  <label class="form-label" [ngClass]="{'required': control().required && root().validation}">
    {{ control().label }}
  </label>
}

<input
  class="form-control"
  [class.form-control-solid]="control().solid"
  [ngClass]="{
    'is-invalid': (control().touched || control().dirty || root().submitted) && control().invalid,
    'is-valid': (control().touched || control().dirty || root().submitted) && control().valid
  }"
  [placeholder]="control().placeholder ?? ''"
  [attr.aria-describedby]="control().hint ? control().name + 'helpBlock' : null"
  [attr.aria-label]="control().label + ' input'"
  [id]="control().id"
  [formControl]="$any(control())"
  [type]="control().type"
>

<div templateInvalidFeedback [(control)]="control"></div>
