@if (control().showLabel) {
  <label class="form-label"
         [ngClass]="{'required': control().required && validation.active()}">{{ control().label }}</label>
}

<input
  class="form-control form-control-lg"
  [class.form-control-solid]="control().solid"
  [ngClass]="{
    'is-invalid': (root().submitted) && control().invalid,
    'is-valid': (root().submitted) && control().valid
  }"
  [placeholder]="control().placeholder ?? ''"
  [attr.aria-describedby]="control().hint ? control().name + 'helpBlock' : null"
  [attr.aria-label]="control().label + ' input'"
  [id]="control().id"
  [formControl]="$any(control())"
  [type]="control().type"
>
<div templateInvalidFeedback [(control)]="control"></div>
