@if (control().showLabel) {
  <label class="form-label"
         [ngClass]="{'required': control().required && root().validation}">
    {{ control().label }}
  </label>
}

<input matInput
       (click)="picker.open()"
       [matDatepicker]="picker"
       [formControl]="$any(control())"
       [placeholder]="(control().use !== 'detail' && control().placeholder) ? control().placeholder! : ''"
       [autocomplete]="false"
       [spellcheck]="false"
       [id]="control().id"
       [readonly]="control().isReadonly"
       class="form-control form-control-lg"
       [class.form-control-solid]="control().solid"
       [ngClass]="{
          'is-invalid': (control().touched || control().dirty || root().submitted) && control().invalid,
          'is-valid': (control().touched || control().dirty || root().submitted) && control().valid
       }"
       [attr.aria-describedby]="control().hint ? control().name + 'helpBlock' : null"
       [attr.aria-label]="control().label + ' input'" type="text">

<mat-datepicker #picker></mat-datepicker>

<div templateInvalidFeedback [(control)]="control"></div>
