@if ((use() === "create" && form) ||
(use() === "edit" && item && form) ||
(use() === "detail" && item)) {
  @if (form.error) {
    <div errorsAlert
         [error]="form.error"></div>
  }
  <form [formGroup]="form.group"
        [id]="form.id"
        (ngSubmit)="onSubmit()">
    <div inputControl
         formControlName="name"
         class="fw-semi-bold mb-0 w-100"
         [style]="view() === 'inline' ? style() : 'solid'"
         [submitted]="form.group.controls['name'].touched || form.submitted"
         [placeholder]="'Ingrese el nombre'"
         [autofocus]="use() !== 'detail'"
         [label]="'Nombre'"
         [errors]="{
                                        'required': 'El nombre es requerido.',
                                    }">
    </div>
    <div controlTextarea
         formControlName="description"
         class="fw-semi-bold mb-0 w-100"
         [style]="view() === 'inline' ? style() : 'solid'"
         [submitted]="form.group.controls['description'].touched || form.submitted"
         [label]="'Descripción'"
         [errors]="{
                                              'required': 'La descripción es requerida.',
                                          }">
    </div>
    <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
      <div class="col">
        <div inputControl
             formControlName="price"
             class="fw-semi-bold mb-0 w-100"
             [style]="view() === 'inline' ? style() : 'solid'"
             [submitted]="form.group.controls['price'].touched || form.submitted"
             [label]="'Precio'"
             [errors]="{
                                              'required': 'El precio es requerido.',
                                          }">
        </div>
      </div>
      <div class="col">
        <div inputControl
             formControlName="discount"
             class="fw-semi-bold mb-0 w-100"
             [style]="view() === 'inline' ? style() : 'solid'"
             [submitted]="form.group.controls['discount'].touched || form.submitted"
             [placeholder]="'Ingrese el descuento'"
             [label]="'Descuento'"
             [errors]="{
                                                  'required': 'El descuento es requerida.',
                                              }">
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-primary"
          [attr.form]="form.id"
          type="submit">
    @if (use() === "create") {
      Crear {{ service.naming.singular }}
    } @else if (use() === "edit") {
      Guardar cambios
    }
  </button>
}
