<div class="container-lg container-fluid">
  <h3>Sign in</h3>
  <ol>
    <li>
      <a routerLink="/auth/sign-in/basic">Basic</a>
    </li>
    <li>
      <a [routerLink]="authNavigation.PASSWORD_RESET_URL">Password reset</a>
    </li>
    <li>
      <a routerLink="/auth/sign-in/new-password">New password</a>
    </li>
  </ol>
  <h3>Sign up</h3>
  <ol>
    <li>
      <a routerLink="/auth/sign-up/basic">Basic</a>
    </li>
    <li>
      <a routerLink="/auth/sign-up/multi-steps">Multi steps</a>
    </li>
    <li>
      <a routerLink="/auth/sign-up/free-trial">Free trial</a>
    </li>
    <li>
      <a routerLink="/auth/sign-up/coming-soon">Coming soon</a>
    </li>
  </ol>
</div>
