<div class="card mb-4">
  <div class="card-header">
      <div class="card-title">
          <h3>Expediente Clínico</h3>
      </div>
  </div>
  <div class="card-body">
    <form [id]="form.id ">
      <div formBuilder3 [controls]="[
        form.controls.name,
      ]" [cols]="1"></div>
      <div formBuilder3 [controls]="[
        form.controls.age,
        form.controls.sex,
      ]" [cols]="2"></div>
      <div formBuilder3 [controls]="[
        form.controls.birthPlace,
        form.controls.birthDate,
      ]" [cols]="2"></div>
      <div formBuilder3 [controls]="[
        form.controls.occupation,
        form.controls.handDominance,
      ]" [cols]="2"></div>
      <div formBuilder3 [controls]="[
        form.controls.maritalStatus,
        form.controls.handDominance,
      ]" [cols]="2"></div>
    </form>
  </div>
</div>

<div class="mt-4">
  <div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h3>Compartido con</h3>
            </div>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            @for (doctor of accountService.current()?.sharedDoctors; track doctor.id) {
              <li class="list-group-item">
                <h6 class="mb-1">{{ doctor.firstName }} {{ doctor.lastName }}</h6>
                <p class="mb-1 text-muted">{{ doctor.specialty }}</p>
                <small class="text-muted">Acceso concedido: {{ doctor.accessGranted | date:'dd/MM/yyyy' }}</small>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{ form.value | json }}
