<app-landing-navbar></app-landing-navbar>
<div class="contact-container bg-secondary pt-15 position-relative">
  <div class="contact-content-container h-100 w-100">
    <div class="contact-form-container bg-tertiary px-20 py-15 h-100">
      <h1 class="podkova text-primary mb-15">
        Habla con<br/>
        nuestro equipo.
      </h1>

      <p class="albert-sans m-0 text-primary contact-form-info-text">
        ¿Eres aseguradora, paciente o profesional de la salud?<br/>
        Contáctanos y recibe asesoría personalizada sobre<br/>
        cómo DocHub puede simplificar tu día a día.
      </p>
    </div>
    <img [src]="'media/landing/dh_paciente_02.png'" alt="" class="contact-dh-patient-image">
  </div>
</div>
<app-landing-footer></app-landing-footer>
