<div root>
  <div page>
    @if (!sidebar.opened) {
      <div mainAside></div>
    }
    <div wrapper>
      <div header></div>
      <div content>
        <div toolbar>
          <div toolbarContainer>
            <div toolbarInfo>
              <h1 toolbarTitle [title]="'Mi Cuenta'"></h1>
              <ul breadcrumb>
                <li breadcrumbLink [label]="'Inicio'" [url]="'/'"></li>
                <li breadcrumbLink [label]="'Cuenta'" [url]="'/cuenta'"></li>
                @if (label) {
                  <li breadcrumbLink [label]="label" [active]="true">{{ label }}</li>
                }
              </ul>
            </div>
            <div toolbarActions></div>
          </div>
        </div>
        <div post>
          @if (account && label !== "Configuración") {
            <div card>
              <div accountCard [account]="account"></div>
            </div>
          }
          <router-outlet></router-outlet>
        </div>
      </div>
      <div footer></div>
    </div>
  </div>
</div>
