<div root>
  <mat-sidenav-container class="page d-flex flex-row flex-column-fluid" autosize style="background-color: transparent;">
    <mat-sidenav
      #snav
      class="aside aside-default aside-hoverable"
      [mode]="query.isMobile() ? 'over' : 'side'"
      [(opened)]="sidebar.opened"
      style="display: flex!important;"
      [fixedInViewport]="query.isMobile()"
    >
      <div mainAside></div>
    </mat-sidenav>

    <div wrapper>
      <div header></div>
      <div content>
        <div toolbar>
          <div toolbarContainer>
            <div toolbarInfo>
              <h1 toolbarTitle [title]="'Mi Cuenta'"></h1>
              <ul breadcrumb>
                <li breadcrumbLink [label]="'Inicio'" [url]="'/'"></li>
                <li breadcrumbLink [label]="'Cuenta'" [url]="'/cuenta'"></li>
                @if (label) {
                  <li breadcrumbLink [label]="label" [active]="true">{{ label }}</li>
                }
              </ul>
            </div>
            <div toolbarActions></div>
          </div>
        </div>
        <div post>
          @if (account && label !== "Configuración") {
            <div card>
              <div accountCard [account]="account"></div>
            </div>
          }
          <router-outlet></router-outlet>
        </div>
      </div>
      <div footer></div>
    </div>
  </mat-sidenav-container>
</div>
