<div class="card card-flush h-lg-100" [style]="isMobile() ? { width: '100%' } : { width: '420px' }">
  <div class="card-header pt-7">
    <div class="card-title">
      <i class="ki-duotone ki-badge fs-1 me-2">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
      </i>
      <h2>Detalles del Especialista</h2>
    </div>
    <div class="card-toolbar gap-3">
      <i class="ki-duotone ki-cross fs-2" (click)="onClickClose()" style="cursor: pointer;">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
      </i>
    </div>
  </div>
  <div class="card-body pt-5 d-flex flex-column overflow-y-scroll">
    <div class="d-flex gap-3 align-items-center" style="overflow-x: clip;">
      <div userProfilePicture userProfilePicture [account]="$any(service.selected())" size="md"></div>
      <div class="d-flex flex-column gap-2">
        <h3 (click)="navigateToDoctorProfile()" style="cursor: pointer;" class="mb-0 text-hover-primary">
          {{service.selected()?.firstName}} {{service.selected()?.lastName}}</h3>
        <div class="d-flex align-items-center gap-2">
          <i class="ki-duotone ki-sms fs-2">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <a class="text-muted text-hover-primary">{{service.selected()?.email}}</a>
        </div>
        <div class="d-flex align-items-center gap-2">
          <i class="ki-duotone ki-phone fs-2">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <a class="text-muted text-hover-primary">{{service.selected()?.phoneNumber}}</a>
        </div>
      </div>
    </div>
    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x fs-6 fw-semibold mt-6 mb-3 gap-2">
      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link text-active-primary d-flex align-items-center pb-4"
          [class.active]="service.isTabActive('general')" (click)="selectTab('general')">
          <i class="ki-duotone ki-home fs-4 me-1"></i>General</a>
      </li>
      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link text-active-primary d-flex align-items-center pb-4"
          [class.active]="service.isTabActive('schedule')" (click)="selectTab('schedule')">
          <i class="ki-duotone ki-calendar-8 fs-4 me-1">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
          </i>Agendar</a>
      </li>
      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link text-active-primary d-flex align-items-center pb-4"
          [class.active]="service.isTabActive('reviews')" (click)="selectTab('reviews')">
          <i class="ki-duotone ki-save-2 fs-4 me-1">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>Reseñas</a>
      </li>
    </ul>
    <div class="tab-content">
      @if (service.isTabActive('general')) {
      <div doctorGeneralTab [(doctor)]="service.selected"></div>
      } @else if (service.isTabActive('schedule')) {
      <div doctorScheduleTab [(doctor)]="service.selected" [(selectedSchedule)]="selectedSchedule" (selectedScheduleChange)="onSelectedScheduleChange($event)"></div>
      } @else if (service.isTabActive('reviews')) {
      <div doctorReviewsTab [(doctor)]="service.selected"></div>
      }
    </div>
  </div>
</div>
