<div card id="account_settings_overview" (mouseenter)="selectSection('account_settings_overview')">
  <div cardHeader>
    <div cardTitle [title]="'Generales'"></div>
  </div>
  <div class="card-body border-top">
    <div class="d-flex align-items-start flex-wrap justify-content-between">
      <div class="d-flex flex-wrap">
        <div class="symbol symbol-125px mb-7 me-7 position-relative">
          <div userProfilePicture
               [fullName]="accountService.current()!.fullName" [photoUrl]="accountService.current()!.photoUrl"
               [shape]="PhotoShape.SQUARE" [size]="PhotoSize.MEDIUM"
          ></div>
        </div>
        <div class="d-flex flex-column">
          <div class="fs-2 fw-bold mb-1">{{ accountService.current()?.fullName }}</div>
          <a
            class="text-gray-500 text-hover-primary fs-6 fw-semibold mb-5">
            {{ accountService.current()?.email }}
          </a>
          <div
            class="badge badge-light-success text-success fw-bold fs-7 me-auto mb-3 px-4 py-3"
          >
            {{ accountService.current()?.roles?.includes('Doctor') ? 'Doctor' : 'Paciente' }}
          </div>
        </div>
      </div>
      @if (accountService.hasRole([ 'Doctor' ])) {
        <div class="text-gray-600 fs-4 text-end">
          <div class="fw-semibold mb-1 fs-3">
            <span class="fw-bold text-gray-800 me-1">Plan Pro</span>
          </div>
          <div class="fw-semibold mb-1">
            <span class="fw-bold text-gray-800 me-1">$199.99</span>Al Mes
          </div>
          <div class="fw-semibold fs-6 mb-2">Siguiente cobro el 23 Ene, 2025</div>
          <a routerLink="/cuenta/facturacion" class="fw-semibold">Ver Facturación</a>
        </div>
      }
    </div>

    <!-- REQUERIMOS SU ATENCION -->

  </div>
</div>
