<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    [formControl]="control"
    [value]="control.value"
    [id]="id ? id : controlName"
    [attr.autofocus]="shouldAutoFocus ? true : null"
    [ngClass]="{
      'is-invalid': submitAttempted && control.invalid,
      'is-valid': submitAttempted && control.valid
    }"
    [attr.aria-describedby]="formText ? controlName+'helpBlock' : null"
    [attr.aria-label]="label ? label + ' input' : null"
    >
  <label
    class="form-check-label"
    [for]="id? id : controlName"
    >
    {{label}}
  </label>

  @for(error of control.errors | keyvalue; let idx = $index; track idx) {
    @if(submitAttempted && control.invalid) {
      <div class="invalid-feedback">
        {{ customErrorMessages[error.key] }}
      </div>
    }
  }
</div>

@if(formText) {
  <div [id]="controlName+'helpBlock'" class="form-text">
    {{formText}}
  </div>
}
