<div class="footer-container">
  <div class="d-flex w-100 justify-content-between align-items-start">
    <div class="align-items-start text-primary d-flex flex-column me-4 albert-sans" style="font-size: 14px">
      <img src="media/logos/logo-compact.svg"
           alt="Logo"
           height="71"
           class="d-inline-block align-text-top mb-2"
           style="margin-left: -7px;"
      />
      <div>DocHub</div>
      <div>
        hola&#64;dochub.com<br/>
        811793542
      </div>
    </div>

    <div class="d-flex mb-6">
      <div class="d-flex flex-column me-20">
        <div class="podkova text-primary fw-bolder mb-8" style="font-size: 20px">Nosotros</div>
        <a class="albert-sans text-primary mb-8" href="#" style="font-size: 16px">Sobre Dochub</a>
        <a class="albert-sans text-primary" href="#" style="font-size: 16px">Contacto</a>
      </div>

      <div class="d-flex flex-column">
        <div class="podkova text-primary fw-bolder mb-8" style="font-size: 20px">Social Media</div>
        <a class="albert-sans text-primary mb-8" href="#" style="font-size: 16px">Facebook</a>
        <a class="albert-sans text-primary mb-8" href="#" style="font-size: 16px">Instagram</a>
        <a class="albert-sans text-primary" href="#" style="font-size: 16px">Twitter</a>
      </div>
    </div>
  </div>

  <div
    class="d-flex w-100 justify-content-between align-items-center disclaimer fw-bolder mt-4 pt-4"
  >
    <div class="podkova text-primary">
      {{ currentYear }}© Dochub Todos los derechos reservados.
    </div>
    <div class="podkova d-flex justify-content-end">
      <a>Privacidad</a>
      <a class="ms-4">Términos y Condiciones</a>
    </div>
  </div>
</div>
