@if (form.error !== null) {
  <div errorsAlert3 [(error)]="form.error"></div>
}

@if (useCard()) {
  <div class="row">
    <div class="col-3">
      <div class="row gap-6">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h2>
                  Foto de Perfil
                </h2>
              </div>
            </div>
            <div class="card-body pt-0">
              <div
                class="d-flex justify-content-center align-items-center"
                imageThumbnailSelector
                [maxFiles]="1"
                [maxFileSizeMB]="5"
                [editable]="use() !== FormUse.DETAIL"
                [thumbnailSize]="PhotoSize.LARGE"
                [thumbnailShape]="PhotoShape.SQUARE"
              ></div>
              @if (use() !== FormUse.DETAIL) {
                <div class="text-muted fs-7 text-center mt-6">
                  Suba imágenes del producto. Formatos aceptados: *.png, *.jpg, *.jpeg.
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row gap-6">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h2>
                  General
                </h2>
              </div>
            </div>
            <div class="card-body pt-0">
              <form [id]="form.id" (ngSubmit)="onSubmit()">
                <div class="row g-6">
                  <div controlsWrapper3
                       class="col-6"
                       [control]="form.controls.firstName"
                       [showBottomMargin]="false"></div>
                  <div controlsWrapper3
                       class="col-6"
                       [control]="form.controls.lastName"
                       [showBottomMargin]="false"></div>
                  <div controlsWrapper3
                       class="col-6"
                       [control]="form.controls.dateOfBirth"
                       [showBottomMargin]="false"></div>
                  <div controlsWrapper3
                       class="col-6"
                       [control]="form.controls.sex"
                       [showBottomMargin]="false"></div>
                  <div controlsWrapper3
                       class="col-6"
                       [control]="form.controls.email"
                       [showBottomMargin]="false"></div>
                  <div controlsWrapper3
                       class="col-6"
                       [control]="form.controls.phoneNumber"
                       [showBottomMargin]="false"></div>
                </div>
              </form>
            </div>
          </div>
        </div>

        @if (use() !== FormUse.DETAIL) {
          <div class="col-12">
            <div class="d-flex justify-content-end">
              <button class="btn btn-light me-5 text-muted">
                Cancelar
              </button>
              <button type="button" class="btn btn-primary" (click)="onSubmit()">
                <span class="indicator-label">
                  Guardar Cambios
                </span>
                <span class="indicator-progress">
                  Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

} @else {
  <form [id]="form.id" (ngSubmit)="onSubmit()">
    <div formBuilder3 [controls]="[
            form.controls.name,
            form.controls.description,
      ]"></div>
    <button class="btn btn-primary" type="submit" [attr.form]="form.id">Enviar</button>
  </form>
}
