@if (subscription()) {
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="card-title">
          <div symbolCell
               class="me-3"
               [photoUrl]="'media/svg/brand-logos/google-icon.svg'"
               [size]="PhotoSize.EXTRA_SMALL"></div>
          <h3>
            DocHub Pro
          </h3>
        </div>
        <div class="d-flex align-items-center">
          <div class="btn-group" dropdown>
            <button
              dropdownToggle
              type="button"
              class="btn btn-outline btn-outline-secondary btn-active-light-secondary dropdown-toggle border-gray-300"
              id="button-basic"

              aria-controls="dropdown-basic">
              Administrar suscripción
              <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <button
                  class="btn btn-color-danger dropdown-item text-center"
                  (click)="openCancelSubscriptionModal()">
                  Cancelar suscripción
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body border-top">
      <div class="d-flex w-100 justify-content-between">
        <div class="d-flex flex-column p-3">
          <div class="fw-bold">
            <p class="mb-1">
              Suscripción Activa
            </p>
          </div>
          <div>
            DocHub Pro
          </div>
        </div>

        <div class="d-flex flex-column p-3">
          <div class="fw-bold">
            <p class="mb-1">
              Pago Mensual
            </p>
          </div>
          <div>
            {{ subscription()!.price | currency: 'MXN' }}
          </div>
        </div>

        <div class="d-flex flex-column p-3">
          <div class="fw-bold">
            <p class="mb-1">
              Siguiente Pago
            </p>
          </div>
          <div>
            {{ subscription()!.nextBillingDate | date: 'dd/MM/yyyy' }}
          </div>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="card-footer py-5">
      <small class="text-muted d-flex align-items-center">
        <i class="ki-duotone ki-information-5 me-2 pb-0" style="margin-bottom: 1px;">
          <span class="path1"></span>
          <span class="path2"></span>
          <span class="path3"></span>
        </i>
        Puedes cancelar tu suscripción en cualquier momento, y seguirás disfrutando de DocHub Pro hasta la fecha de
        vencimiento.
      </small>
    </div>
  </div>
}

