<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h3>
        ¿Cancelar Suscripción?
      </h3>
    </div>
    <button class="btn p-1 text-900" type="button" aria-label="Close" (click)="handleClose()">
      <fa-icon [icon]="icons.faTimes" class="fs--1"></fa-icon>
    </button>
  </div>
  <div class="card-body border-top subscription-cancel-modal-card-body">
    <div>
      Al cancelar tu suscripción, perderás acceso a los siguientes beneficios:
      <div class="w-100 my-4">
        <div class="d-flex align-items-center mb-3">
          <i class="ki-duotone ki-cross-circle fs-1 text-danger">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <span class="flex-grow-1 ps-3">
            Hasta 10 usuarios activos
          </span>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="ki-duotone ki-cross-circle fs-1 text-danger">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <span class="flex-grow-1 ps-3">
            Hasta 30 integraciones de proyectos
          </span>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="ki-duotone ki-cross-circle fs-1 text-danger">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <span class="flex-grow-1 ps-3">
            Módulo de Analíticas
          </span>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="ki-duotone ki-cross-circle fs-1 text-danger">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <span class="flex-grow-1 ps-3">
            Módulo de Finanzas
          </span>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="ki-duotone ki-cross-circle fs-1 text-danger">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <span class="flex-grow-1 ps-3">
            Módulo de Contabilidad
          </span>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="ki-duotone ki-cross-circle fs-1 text-danger">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <span class="flex-grow-1 ps-3">
            Plataforma de Redes
          </span>
        </div>
        <div class="d-flex align-items-center">
          <i class="ki-duotone ki-cross-circle fs-1 text-danger">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <span class="flex-grow-1 ps-3">
            Espacio en la nube ilimitado
          </span>
        </div>
      </div>
      En caso de continuar con la cancelación, tu acceso a los beneficios se mantendrá activo hasta el <strong>20/11/2024</strong>.
      Posterior a la fecha de cancelación, no se realizarán cargos adicionales a tu método de pago seleccionado.
    </div>

    <div class="separator my-6"></div>

    <form [formGroup]="cancellationForm">
      <div>
        <label class="fw-bold text-gray-700  mb-4">
          ¿Cuál fue el principal motivo de la cancelación de tu suscripción?
        </label>
        @for (option of cancellationReasons; track option) {
          <div controlCheck [formControlName]="option.value" class="mb-2">
            <span class="fw-normal text-body ">
              {{ option.label }}
            </span>
          </div>
        }
      </div>

      <div class="mt-4">
        <label class="fw-bold text-gray-700  mb-2">
          ¿Qué podríamos mejorar para que nos consideres nuevamente?
        </label>
        <div controlTextarea
             [rows]="3"
             [formControlName]="'feedback'"
             [placeholder]="'Escribe tus comentarios aquí (opcional)'"></div>
      </div>
    </form>

    <div class="separator my-6"></div>

    <div class="d-flex flex-grow-1 justify-content-end mt-6">
      <button class="btn btn-secondary" (click)="handleClose()" [disabled]="isSubmitting">Cancelar</button>
      <button class="btn btn-danger ms-2" (click)="handleSubscriptionCancellation()" [disabled]="isSubmitting">
        @if (isSubmitting) {
          <span class="spinner-border spinner-border-sm me-2"></span>
          Cancelando...
        } @else {
          Confirmar
        }
      </button>
    </div>
  </div>
</div>
