<div
    class="symbol"
    [class.symbol-circle]="shape() === 'circle'"

    [class.symbol-50px]="size() === 'sm'"
    [class.min-w-50px]="size() === 'sm'"

    [class.symbol-100px]="size() === 'md'"
    [class.min-w-100px]="size() === 'md'"

    [class.symbol-125px]="size() === 'md2'"
    [class.min-w-125px]="size() === 'md2'"

    [class.symbol-160px]="size() === 'lg'"
    [class.min-w-160px]="size() === 'lg'"
>
    @if (photoUrl()) {
        <img [src]="photoUrl()" [alt]="firstName()" class="w-100" />
    } @else {
        <div
            [class]="'symbol-label fw-semibold text-primary bg-light-' + utilsService.getBootstrapClass(firstName()) + ' text-' + utilsService.getBootstrapClass(firstName())"
            [class.fs-3]="size() === 'sm'"
            [class.fs-2x]="size() === 'md' || size() === 'md2' || size() === 'lg'"
        >
            {{ firstName()[0] }}
        </div>
    }

    @if (showOnline()) {
        <div class="position-absolute bg-success rounded-circle border border-4 border-body h-20px w-20px" style="bottom: -5px; right: -5px;"></div>
    }
</div>