<div class="table-responsive px-10">
  <table class="table table-hover">
    <thead
      [class]="'border-bottom'"
      [columns]="columns"
      [mode]="'readonly'"
      [params]="null"
      [showActions]="mode() === 'edit' ? true : false"
      [show]="true"
      tableHeader
    ></thead>
    <tbody>
      @for (item of data(); track item) {
        <tr>
          <td></td>
          @if (item.itemId === 0) {
            <td>
              <div productSelectTypeahead
                  #productSelect
                  [key]="selectedProductKey"
                  [isDisabled]="false"
                  [product]="null"
                  [showCatalogButton]="false"
                  (onSelectProduct)="selectProduct($event)"></div>
            </td>
          } @else {
            <td class="fw-bold">{{ item.name }}</td>
          }
          <td>{{ item.description }}</td>
          <td>{{ item.dosage }} {{ item.unit }}</td>
          @if (item.itemId === 0) {
            <td></td>
          } @else {
            <td>
              @if (mode() === 'edit') {
                <input type="text"
                       [(ngModel)]="item.instructions"
                       class="form-control"/>
              } @else {
                {{item.instructions}}
              }
            </td>
          }
          @if (item.itemId === 0) {
            <td></td>
          } @else {
            <td>
              @if (mode() === 'edit') {
                <div class="d-flex align-items-center">
                  <input type="number"
                        [(ngModel)]="item.quantity"
                        class="form-control"/>
                </div>
              } @else {
                {{item.quantity}}
              }
            </td>
          }
          @if (mode() === 'edit') {
            <td style="text-align: end; vertical-align: middle;">
              <!-- <button class="btn btn-sm btn-light-primary">
                <fa-icon [icon]="icons.faPencil"></fa-icon>
              </button> -->
              <button class="btn btn-sm btn-light-danger" (click)="handleDeleteProduct(item)">
                <fa-icon [icon]="icons.faClipboard"></fa-icon>
              </button>
            </td>
          }
        </tr>
      }
      @if (mode() === 'edit') {
        <tr>
          <td></td>
          <td>
            <button
              (click)="addEmptyPrescriptionItem()"
              class="btn btn-primary">
              <fa-icon [icon]="icons.faPlus"></fa-icon>
              Agregar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>