<div class="container-fluid d-flex align-items-stretch justify-content-between">
  <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
    @if (query.isMobile()) {
      <div class="d-flex align-items-center">
        <div class="btn btn-icon btn-active-color-primary ms-n2 me-1" id="kt_aside_toggle" (click)="sidebar.toggle()">
          <i class="ki-duotone ki-abstract-14 fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </div>
      </div>
    }
    @if (!query.isMobile()) {
      <a routerLink="/">
        <img alt="Logo" src="media/logos/logo-compact.svg" class="mh-40px">
      </a>
      <div class="btn btn-icon w-auto ps-0 btn-active-color-primary d-inline-flex me-2 me-lg-5"
           (click)="sidebar.toggle()">
        <i class="ki-duotone ki-black-left-line fs-1" style="transition: transform 0.3s;"
           [ngStyle]="{'transform': sidebar.opened() ? 'rotate(180deg)' : 'rotate(0deg)'}">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
      </div>
    }
  </div>
  <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
    <div headerSearch></div>
    <div class="d-flex align-items-stretch flex-shrink-0">
      <div class="d-flex align-items-center ms-1 ms-lg-2">
        <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
             id="kt_activities_toggle">
          <i class="ki-duotone ki-chart-simple fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
          </i>
        </div>
      </div>
      <div notificationsDropdown dropdown [notifications]="notifications()"></div>
      <div themeDropdown dropdown></div>
      <div userDropdown dropdown></div>
    </div>
  </div>
</div>
