<div class="mr-2">
    @if (currentStep() === 1) {
        <button type="button" class="btn btn-lg btn-light-primary me-4" (click)="navigateToLogin()">
            Ir a inicio de sesión
        </button>
    }
    @if (currentStep() > 1 && currentStep() < totalSteps()) {
        <button type="button" [disabled]="isSubmittingApi()" class="btn btn-lg btn-light-primary me-4" (click)="previousStep()">
            <i class="ki-duotone ki-arrow-left fs-4 me-1">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
            Anterior
        </button>
    }
    @if (currentStep() === totalSteps() && totalSteps() !== 1) {
        <a (click)="router.navigateByUrl('/cuenta')" class="btn btn-lg btn-primary me-3">Entrar a mi cuenta</a>
    }
</div>
<div>
    @if (currentStep() === totalSteps() - 1) {
        <button type="submit" [disabled]="isSubmittingApi()" class="btn btn-lg btn-primary" style="width: 120px;" [attr.form]="formId()">
            @if (!isSubmittingApi()) {
                <span class="indicator-label">
                    Enviar
                    <i class="ki-duotone ki-arrow-right fs-4 ms-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
            } @else {
                <span class="spinner-border spinner-border-sm align-middle"></span>
            }
        </button>
    }
    @if (currentStep() < totalSteps() - 1 || totalSteps() === 1) {
        <button type="button" class="btn btn-lg btn-primary" (click)="nextStep()">
            Continuar
            <i class="ki-duotone ki-arrow-right fs-4 ms-1">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </button>
    }
</div>
