@if (form.error) {
  <div errorsAlert3 [error]="form.error"></div>
}

<form [id]="form.id" (ngSubmit)="onSubmit()">
  <div class="card  mb-4">
    <div class="card-header">
      <h3 class="card-title">Datos de identificación del paciente</h3>
  </div>
    <div class="card-body">
    <div formBuilder3 [controls]="[
      form.controls.name,
    ]" [cols]="1"></div>
    <div formBuilder3 [controls]="[
      form.controls.age,
      form.controls.sex,
    ]" [cols]="2"></div>
    <div formBuilder3 [controls]="[
      form.controls.birthPlace,
      form.controls.birthDate,
    ]" [cols]="2"></div>
    <div formBuilder3 [controls]="[
      form.controls.educationLevel,
      form.controls.yearsOfSchooling,
    ]" [cols]="2"></div>
    <div formBuilder3 [controls]="[
      form.controls.occupation,
      form.controls.handDominance,
    ]" [cols]="2"></div>
    <div formBuilder3 [controls]="[
      form.controls.maritalStatus,
      form.controls.currentLivingSituation,
    ]" [cols]="2"></div>
    <div formBuilder3 [controls]="[
      form.controls.currentAddress,
    ]" [cols]="1"></div>
    <div formBuilder3 [controls]="[
      form.controls.mobilePhone,
      form.controls.homePhone,
    ]" [cols]="2"></div>
    <div formBuilder3 [controls]="[
      form.controls.email,
    ]" [cols]="1"></div>
    <div formBuilder3 [controls]="[
      form.controls.attendedAlone,
      form.controls.economicDependence,
    ]" [cols]="2"></div>
    <div formBuilder3 [controls]="[
      form.controls.usesGlassesOrHearingAid,
      form.controls.colorBlindness,
    ]" [cols]="2"></div>
    </div>
  </div>

  <div class="card  mb-4">
    <div class="card-header">
      <h3 class="card-title">
        Datos generales del acompañante
      </h3>
    </div>
    <div class="card-body">
      <div formBuilder3 [controls]="[
        form.controls.companion.controls.name,
      ]" [cols]="1"></div>
      <div formBuilder3 [controls]="[
        form.controls.companion.controls.age,
        form.controls.companion.controls.sex,
        form.controls.companion.controls.relativeType,
        form.controls.companion.controls.occupation,
      ]" [cols]="2"></div>
      <div formBuilder3 [controls]="[
        form.controls.companion.controls.address,
      ]" [cols]="1"></div>
      <div formBuilder3 [controls]="[
        form.controls.companion.controls.homeNumber,
        form.controls.companion.controls.phoneNumber,
      ]" [cols]="2"></div>
      <div formBuilder3 [controls]="[
        form.controls.companion.controls.email,
      ]" [cols]="1"></div>
    </div>
  </div>

  <div class="card  mb-4">
    <div class="card-header">
      <h3 class="card-title">Estructura Familiar</h3>
      <div class="card-toolbar">
        <button type="button" class="btn btn-light-primary btn-sm" (click)="form.addFamilyMember()">
          Agregar Familiar
        </button>
    </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table g-1">
          <thead>
            <tr class="fw-bold fs-6 text-gray-800">
              <th>Relación</th>
              <th>Nombre</th>
              <th>Edad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for(group of form.controls.familyMembers.controls; let idx = $index; track idx) {
              <tr>
                <td>
                  <div controlsWrapper3 [(control)]="group.controls.relativeType"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="group.controls.name"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="group.controls.age" style="max-width: 80px;"></div>
                </td>
                <td>
                  <button type="button" class="btn btn-light-danger btn-sm" [disabled]="form.controls.familyMembers.controls.length === 1" (click)="form.removeFamilyMember(idx)">
                    <i class="ki-duotone ki-trash fs-4">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card  mb-4">
    <div class="card-header">
      <h3 class="card-title">
        Antecedentes personales
      </h3>
      <div class="card-toolbar">
        <button type="button" class="btn btn-light-primary btn-sm" (click)="form.addPersonalMedicalHistory()">
          Agregar Antecedente
        </button>
    </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table g-1">
          <thead>
            <tr class="fw-bold fs-6 text-gray-800">
              <th>Enfermedad</th>
              <th>Especificar (tipo, tiempo con enfermedad, etc.)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for(group of form.controls.personalMedicalHistory.controls; let idx = $index; track idx) {
              <tr>
                <td>
                  <div controlsWrapper3 [(control)]="group.controls.disease"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="group.controls.description"></div>
                </td>
                <td>
                  <button type="button" class="btn btn-light-danger btn-sm" (click)="form.removePersonalMedicalHistory(idx)">
                    <i class="ki-duotone ki-trash fs-4">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card  mb-4">
    <div class="card-header">
      <h3 class="card-title">
        Consumo de Sustancias
      </h3>
      <div class="card-toolbar">
        <button type="button" class="btn btn-light-primary btn-sm" (click)="form.addPersonalDrugHistory()">
          Agregar Sustancia
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table g-1">
          <thead>
            <tr class="fw-bold fs-6 text-gray-800">
              <th>
                Sustancia
              </th>
              <th>
                Nivel de consumo
              </th>
              <th class="text-nowrap">
                Edad de inicio
              </th>
              <th class="text-nowrap">
                Edad de finalización
              </th>
              <th>
                Activo
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for(drugHistory of form.controls.personalDrugHistory.controls; let idx = $index; track idx) {
              <tr>
                <td>
                  <div controlsWrapper3 [(control)]="drugHistory.controls.substance" style="width: 250px;"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="drugHistory.controls.consumptionLevel" style="width: 200px;"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="drugHistory.controls.startAge"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="drugHistory.controls.endAge"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="drugHistory.controls.isCurrent"></div>
                </td>
                <td>
                  <button type="button" class="btn btn-light-danger btn-sm" (click)="form.removePersonalDrugHistory(idx)">
                    <i class="ki-duotone ki-trash fs-4">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card  mb-4">
    <div class="card-header">
      <h3 class="card-title">
        Antecedentes familiares
      </h3>
      <div class="card-toolbar">
        <button type="button" class="btn btn-light-primary btn-sm" (click)="form.addFamilyMedicalHistory()">
          Agregar Antecedente
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table g-1">
          <thead>
            <tr class="fw-bold fs-6 text-gray-800">
              <th class="text-nowrap">Enfermedad</th>
              <th class="text-nowrap">Familiar que lo padece</th>
              <th class="text-nowrap">Especificar (tipo, tiempo con enfermedad, etc.)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for(medicalHistory of form.controls.familyMedicalHistory.controls; let idx = $index; track idx) {
              <tr>
                <td>
                  <div controlsWrapper3 [(control)]="medicalHistory.controls.disease" style="max-width: 250px;"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="medicalHistory.controls.relativeType"></div>
                </td>
                <td>
                  <div controlsWrapper3 [(control)]="medicalHistory.controls.description"></div>
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-light-danger btn-sm" (click)="form.removeFamilyMedicalHistory(idx)">
                      <i class="ki-duotone ki-trash fs-4">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                      </i>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card  mb-4">
    <div class="card-header">
      <h3 class="card-title">
        Comentarios Adicionales
      </h3>
    </div>
    <div class="card-body">
    <div formBuilder3 [controls]="[
      form.controls.comments,
    ]" [cols]="1"></div>
    </div>
  </div>


    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary btn-md" [attr.form]="form.id">Guardar</button>
    </div>
  </form>
