@if(form.error) {
  <div errorsAlert3 [(error)]="form.error"></div>
}

<form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" [id]="form.id" (ngSubmit)="onSubmit()"
  [id]="form.id">
  <div class="text-center mb-10">
    <h1 class="text-dark mb-3">Iniciar sesión en {{ utils.title }}</h1>
    @if (!requiresTwoFactor) {
    <div class="text-gray-400 fw-semibold fs-4">
      ¿Eres nuevo aquí?
      <a routerLink="/auth/sign-up" class="link-primary fw-bold">
        Crear una cuenta
      </a>
    </div>
    }
  </div>
  @if (!requiresTwoFactor) {
  <div formBuilder3 [cols]="1" [gap]="7" [controls]="[
      form.controls.email,
      form.controls.password,
    ]"></div>

  <a class="fs-6 link-primary" routerLink="/auth/sign-in/password-reset">¿Olvidaste tu contraseña?</a>
  } @else {

  <div formBuilder3 [cols]="1" [controls]="[
      form.controls.twoFactorCode,
    ]"></div>

  }

  <div class="text-center mt-5">
    <button type="submit" [attr.form]="form.id" class="btn btn-lg btn-primary w-100 mb-5">
      <span class="indicator-label"> Continuar </span>

      <span class="indicator-progress">
        Por favor espere...
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
    </button>
    @if (!requiresTwoFactor && accountService.current() === null) {
    <div class="text-center text-muted text-uppercase fw-bold mb-5">o</div>
    <div id="google-btn"></div>
    }
  </div>
</form>
