<form
  class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
  (ngSubmit)="onSubmit()"
  [id]="form.id">

  <div class="text-center mb-10">
    <h1 class="text-900 mb-3">Iniciar sesión en {{ utils.title }}</h1>
    @if (!requiresTwoFactor) {
      <div class="text-gray-600 fw-normal fs-6 w-100 d-flex justify-content-center mt-1">
        ¿Eres nuevo aquí?
        <a [routerLink]="authNavigation.SIGN_UP_URL" queryParamsHandling="preserve" class="link-primary fw-semibold ms-2">
          Crear una cuenta
        </a>
      </div>
    }
  </div>

  @if (!requiresTwoFactor) {
    <div class="row mb-5 gy-6">
      <div
        templateControlText
        class="col-xl-12"
        [(control)]="form.controls.email"
        [fromWrapper]="false"
        [showBottomMargin]="false"
      ></div>

      <div
        templateControlText
        class="col-xl-12"
        [(control)]="form.controls.password"
        [fromWrapper]="false"
        [showBottomMargin]="false"
      ></div>
    </div>
    <a class="fs-6 link-primary" [routerLink]="authNavigation.PASSWORD_RESET_URL">¿Olvidaste tu contraseña?</a>
  } @else {
    <div
      templateControlText
      class="col-xl-12"
      [(control)]="form.controls.twoFactorCode"
      [fromWrapper]="false"
      [showBottomMargin]="false"
    ></div>
  }

  @if (form.error) {
    <div errorsAlert3 [(error)]="form.error" [addMargin]="false" class="mt-5" (onClose)="form.error = null"></div>
  }

  <div class="text-center mt-5">
    <button
      type="submit"
      class="btn btn-lg btn-primary w-100 mb-5"
      [attr.form]="form.id"
      [disabled]="isSubmitting"
    >
      @if (!isSubmitting) {
        Iniciar Sesión
      } @else {
        <span class="spinner-border spinner-border-sm me-2"></span>
      }
    </button>

    @if (!requiresTwoFactor && accountService.current() === null) {
      <div class="d-flex align-items-center m-0">
        <div class="border-bottom border-gray-400 mw-50 w-100"></div>
        <span class="fw-semibold text-gray-400 fs-7 mx-5">O</span>
        <div class="border-bottom border-gray-400 mw-50 w-100"></div>
      </div>
      <div id="google-btn" class="mt-5"></div>
    }
  </div>
</form>


