@if (form.error !== null) {
  <div errorsAlert3 [(error)]="form.error"></div>
}

@if (useCard()) {
  <div class="card">
    <div class="card-body">
      <form [id]="form.id" (ngSubmit)="service.create(form.getRawValue(), true)">
        <div formBuilder3 [controls]="[
            form.controls.total,
            form.controls.subtotal,
            form.controls.status,
            form.controls.deliveryStatus
          ]"></div>
        <button class="btn btn-primary" type="submit" [attr.form]="form.id">Enviar</button>
      </form>
    </div>
  </div>
} @else {
  <form [id]="form.id" (ngSubmit)="service.create(form.getRawValue(), true)">
    <div formBuilder3 [controls]="[
        form.controls.total,
        form.controls.subtotal,
        form.controls.status,
        form.controls.deliveryStatus
      ]"></div>
    <button class="btn btn-primary" type="submit" [attr.form]="form.id">Enviar</button>
  </form>
}

