<div class="tab-pane fade show active" id="kt_contact_view_general" role="tabpanel">
    <div class="py-5">
        <div class="mb-7">
            <h5 class="text-muted mb-3">Especialidad</h5>
            <p class="fs-5 fw-bold">{{doctor()?.specialties![0].name}}</p>
        </div>
        <div class="separator my-10"></div>

        <div class="mb-7">
            <h5 class="text-muted mb-3">{{doctor()?.addresses && doctor()?.addresses!.length > 1 ? 'Direcciones' : 'Dirección'}}</h5>
            @if (doctor()?.addresses?.length === 0) {
                <span class="fs-6 py-2 px-3">
                    <i class="ki-duotone ki-geolocation fs-5 me-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    No se han agregado direcciones
                </span>
            }
            @for (address of doctor()?.addresses; track $index) {
                <p class="fs-5 mb-2">
                    <i class="ki-duotone ki-geolocation fs-4 text-primary me-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    {{address.street}}, {{address.city}}, {{address.state}}
                </p>
            }
        </div>
        <div class="separator my-10"></div>

        <div class="mb-7">
            <h5 class="text-muted mb-3">Servicios ofrecidos</h5>
            <div class="d-flex flex-column gap-2">
                @if (visibleServices().length === 0) {
                    <span class="fs-6 py-2 px-3">
                        <i class="ki-duotone ki-payment fs-5 me-1">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        No se han agregado servicios
                    </span>
                }
                @for (service of visibleServices(); track $index) {
                    <div class="d-flex justify-content-between align-items-center py-2 border-bottom border-light gap-3">
                        <span class="fs-5 fw-semibold">{{service.name}}</span>
                        <span class="fs-5 fw-bold badge bg-light-primary text-primary">{{service?.options?.price  | currency:'MXN':'symbol':'1.2-2':'es-MX' }}</span>
                    </div>
                }
            </div>
            @if (doctor()?.services!.length > 5) {
                <button class="btn btn-sm btn-light-primary mt-4" (click)="toggleServices()">
                    {{ showAllServices() ? 'Mostrar menos' : 'Mostrar más' }}
                </button>
            }
        </div>
        <div class="separator my-10"></div>

        <div class="mb-7">
            <h5 class="text-muted mb-3">Métodos de pago</h5>
            <div class="d-flex flex-wrap gap-2">
                @if (doctor()?.paymentMethods?.length === 0) {
                    <span class="fs-6 py-2 px-3">
                        <i class="ki-duotone ki-payment fs-5 me-1">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        No se han agregado métodos de pago
                    </span>
                }
                @for (paymentMethod of doctor()?.paymentMethods; track $index) {
                    @if(paymentMethod.name !== null) {
                      <span class="badge bg-light-info text-info fs-6 py-2 px-3">
                        <i [class]="getPaymentIcon(paymentMethod.name)" class="fs-5 me-1">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        {{paymentMethod.name}}
                    </span>
                    }
                }
            </div>
        </div>
        <div class="separator my-10"></div>

        <div class="mb-7">
            <h5 class="text-muted mb-3">Compañías de seguros médicos</h5>
            <div class="d-flex flex-wrap gap-2">
                @if (visibleInsurances().length === 0) {
                    <span class="fs-6 py-2 px-3">
                        <i class="ki-duotone ki-shield-tick fs-5 me-1">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        Este especialista no acepta aseguradoras
                    </span>
                }
                @for (insurance of visibleInsurances(); track $index) {
                    <div class="d-flex align-items-center bg-light-info rounded p-2">
                        <img [src]="insurance?.options?.photoUrl" [alt]="insurance.name" class="h-20px me-2">
                        <span class="fs-6">{{insurance.name}}</span>
                    </div>
                }
            </div>
            @if (doctor()?.medicalInsuranceCompanies!.length > 5) {
                <button class="btn btn-sm btn-light-primary mt-4" (click)="toggleInsurances()">
                    {{ showAllInsurances() ? 'Mostrar menos' : 'Mostrar más' }}
                </button>
            }
        </div>
        <div class="separator my-10"></div>
    </div>
</div>
