.current-event {
  border: 3px solid var(--bs-primary);
  box-shadow: 0 0 0 3px rgba(var(--bs-primary-rgb), 0.3);
  z-index: 1;
}

.circle-bullet {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-bottom: 1px;
}

.timed-event-container {
  transition: all 0.2s;
}

.timed-event-container:hover {
  background: rgba(0, 0, 0, 0.1);
}
