<div catalogCardHeader>
  <div class="card-title">
    <form (ngSubmit)="onSubmit(key())" [id]="form.id">

      <div controlText3 [(control)]="form.controls.search" [(fromWrapper)]="fromWrapper"></div>
    </form>
  </div>
  <div class="card-toolbar">
    @if (mode() === 'view') {

    }
  </div>
</div>

<div cardBody>
  <div tableWrapper>
    <div tableResponsive>
      @if(service.list$(key(), mode()) | async; as _list) {
      <table eventsTable [(mode)]="mode" [(isCompact)]="isCompact" [data]="_list" [(key)]="key" [(view)]="view" [(item)]="item" [(params)]="params">
      </table>
      }
    </div>
    @if(service.pagination$(key()) | async; as _pagination) {
    <div tablePager pager [(isCompact)]="isCompact" [pagination]="_pagination" [(params)]="params"></div>
    }
  </div>
</div>
