@if (calendarOptions) {
  <div class="card-body px-0">
    <full-calendar #fullcalendar [options]="calendarOptions" [deepChangeDetection]="true">
      <ng-template #eventContent let-arg>
        <div class="d-flex flex-grow-1 flex-column px-1 {{ arg.event.extendedProps.bgColor }}">
          <div class="fw-bold text-white">
            @if (accountService.hasRole([ 'Doctor' ])) {
              {{ arg.event.extendedProps.patient }}
            } @else {
              {{ arg.event.extendedProps.doctor }}
            }
          </div>
          <div class="text-white">
            {{ formatTimeRange(arg.event.start, arg.event.end) }}
          </div>
        </div>
      </ng-template>
    </full-calendar>
  </div>
}
