@if (form.error) {
  <div errorsAlert3 [(error)]="form.error"></div>
}
<div class="card">
  <div class="card-body">
    <form [id]="form.id" (ngSubmit)="customSubmit()">
      <mat-stepper
        #stepper
        orientation="vertical"
        [linear]="true"
        [(selectedIndex)]="selectedIndex"
        style="background: transparent !important;">
        <mat-step [stepControl]="form.controls.patient.controls.select">
          <ng-template matStepLabel>
            {{ patients.dictionary.singularTitlecase }}
            @if (form.hasPatient) {
              <span class="fw-semibold text-gray-500">({{ form.controls.patient.controls.select.value?.name }})</span>
            }
          </ng-template>
          @if (form.hasPatient) {
            <!-- <div
                  userCardCompact
                  [role]="'Patient'"
                  [key]="selectPatientKey"
                  [view]="view()"
                ></div> -->
          }

          <div class="d-flex gap-3 align-items-end">
            <div controlTypeahead3 [(control)]="form.controls.patient.controls.select" [(fromWrapper)]="fromWrapper"
                 class="flex-grow-1"></div>

            <button class="btn btn-icon btn-bg-light btn-active-color-secondary" type="button"
                    (click)="patients.showCatalogModal($event, patientKey, 'select', 'modal');">
              <i class="ki-duotone ki-arrows-loop">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </button>
            @if (!patientPanelOpen) {
              <button
                [matTooltip]="'Quite ' + patients.dictionary.articles.definedSingular + ' ' + patients.dictionary.singular + ' actual para poder agregar ' + patients.dictionary.articles.undefinedSingular + ' nuevo.'"
                [matTooltipDisabled]="form.hasPatient" type="button"
                class="btn btn-icon btn-bg-light btn-active-color-success"
                (click)="handlePatientPanelClick($event)">
                <i class="ki-duotone ki-plus"></i>
              </button>
            }
            @if (form.hasPatient) {
              <button class="btn btn-icon btn-bg-light btn-active-color-danger" type="button"
                      (click)="form.removePatient()">

                <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span><span class="path4"></span><span class="path5"></span></i>

              </button>
            }
          </div>

          @if (form.hasPatient) {
            <mat-accordion
              [matTooltip]="'Quite ' + patients.dictionary.articles.definedSingular + ' ' + patients.dictionary.singular + ' actual para poder agregar ' + patients.dictionary.articles.undefinedSingular + ' nuevo.'"
              [matTooltipDisabled]="form.hasPatient">
              <mat-expansion-panel (opened)="patientPanelOpen = true" (closed)="patientPanelOpen = false"
                                   [expanded]="patientPanelOpen" cdkAccordionItem #patientAccordion
                                   [disabled]="form.hasPatient"
                                   style="background: transparent!important; box-shadow: none!important;">
                <mat-expansion-panel-header>
                  <mat-panel-title> Crear nuev{{ patients.dictionary.articleSex === 'masculine' ? 'o' : 'a' }} {{
                      patients.dictionary.singular
                    }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div patientForm [(item)]="patientItem" [(view)]="patientView" [(use)]="patientUse"
                     [(key)]="patientKey">
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          }

        </mat-step>
        <mat-step [stepControl]="form.controls.dateFrom">
          <ng-template matStepLabel>Fecha y hora
            <span class="fw-semibold text-gray-500">
              @if (form.controls.dateFrom.value && form.controls.dateTo.value) {
                @if (form.controls.allDay.value) {
                  @if (form.controls.dateFrom.value === form.controls.dateTo.value) {
                    El {{ form.controls.dateFrom.value | date : "EEEE d 'de' MMMM, YYYY" : '' : 'es-MX' }}
                  } @else {
                    Del
                    @if (form.controls.dateFrom.value) {
                      {{ form.controls.dateFrom.value | date : "EEEE d 'de' MMMM" : '' : 'es-MX' }}
                    }
                    @if (form.controls.dateTo.value) {
                      al {{ form.controls.dateTo.value | date : "EEEE d 'de' MMMM, YYYY" : '' : 'es-MX' }}
                    }
                  }
                } @else {
                  @if (form.controls.dateFrom.value === form.controls.dateTo.value) {
                    El {{ form.controls.dateFrom.value | date : "EEEE d 'de' MMMM" : '' : 'es-MX' }}
                    {{ form.controls.dateFrom.value | date : 'h:mm' : '' : 'es-MX' }}
                    -
                    {{ form.controls.dateTo.value | date : 'h:mm a' : '' : 'es-MX' }}
                    {{ form.controls.dateTo.value | date : 'YYYY' : '' : 'es-MX' }}
                  } @else {
                    Del @if (form.controls.dateFrom.value) {
                      {{ form.controls.dateFrom.value | date : "EEEE d 'de' MMMM 'a las' h:mm a" : '' : 'es-MX' }}
                    }
                    @if (form.controls.dateTo.value) {
                      al
                      {{ form.controls.dateTo.value | date : "EEEE d 'de' MMMM 'a las' h:mm a, YYYY" : '' : 'es-MX' }}
                    }
                  }
                }
              }
            </span>
          </ng-template>
          <div class="d-flex gap-3 align-items-center">
            <div controlDate3 [(control)]="form.controls.dateFrom" [(fromWrapper)]="fromWrapper"></div>
            @if (!form.controls.allDay.value) {
              <div controlTime3 [(control)]="form.controls.timeFrom" [(fromWrapper)]="fromWrapper"></div>
            }

            a

            <div controlDate3 [(control)]="form.controls.dateTo" [(fromWrapper)]="fromWrapper"></div>
            @if (!form.controls.allDay.value) {
              <div controlTime3 [(control)]="form.controls.timeTo" [(fromWrapper)]="fromWrapper"></div>
            }
          </div>
          <div class="d-flex">
            <div controlCheckbox3 [(control)]="form.controls.allDay" [(fromWrapper)]="fromWrapper"></div>
          </div>
        </mat-step>
        <mat-step [stepControl]="form.controls.service.controls.select">
          <ng-template matStepLabel>
            {{ services.dictionary.singularTitlecase }}
            @if (form.hasService) {
              <div class="fw-semibold text-gray-500">
                ({{ form.controls.service.controls.select.value?.name }}) {{
                  form.controls.service.controls.select.value?.options?.price | currency
                }}
              </div>
            }
          </ng-template>
          <!-- @if (service) {
              <div
                serviceCardCompact
                [key]="selectServiceKey"
                [view]="view()"
              ></div>
            } -->

          <div class="d-flex gap-3 align-items-end">
            <div controlTypeahead3 [(control)]="form.controls.service.controls.select" [(fromWrapper)]="fromWrapper"
                 class="flex-grow-1"></div>

            <button class="btn btn-icon btn-bg-light btn-active-color-secondary" type="button"
                    (click)="services.showCatalogModal($event, serviceKey, 'select', 'modal');">
              <i class="ki-duotone ki-arrows-loop">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </button>
            @if (!servicePanelOpen) {
              <button
                [matTooltip]="'Quite ' + services.dictionary.articles.definedSingular + ' ' + services.dictionary.singular + ' actual para poder agregar ' + services.dictionary.articles.undefinedSingular + ' nuevo.'"
                [matTooltipDisabled]="!form.hasService" type="button"
                class="btn btn-icon btn-bg-light btn-active-color-success"
                (click)="handleServicePanelClick($event)">
                <i class="ki-duotone ki-plus"></i>
              </button>
            }
            @if (form.hasService) {
              <button class="btn btn-icon btn-bg-light btn-active-color-danger" type="button"
                      (click)="form.removeService()">

                <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span><span class="path4"></span><span class="path5"></span></i>

              </button>
            }
          </div>

          @if (!form.hasService) {
            <mat-accordion
              [matTooltip]="'Quite ' + services.dictionary.articles.definedSingular + ' ' + services.dictionary.singular + ' actual para poder agregar ' + services.dictionary.articles.undefinedSingular + ' nuevo.'"
              [matTooltipDisabled]="!form.hasService">
              <mat-expansion-panel (opened)="servicePanelOpen = true" (closed)="servicePanelOpen = false"
                                   [expanded]="servicePanelOpen" cdkAccordionItem #serviceAccordion
                                   [disabled]="form.hasService"
                                   style="background: transparent!important; box-shadow: none!important;">
                <mat-expansion-panel-header>
                  <mat-panel-title> Crear nuev{{ services.dictionary.articleSex === 'masculine' ? 'o' : 'a' }} {{
                      services.dictionary.singular
                    }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div serviceForm [(item)]="serviceItem" [(view)]="serviceView" [(use)]="serviceUse"
                     [(key)]="serviceKey">
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          }
        </mat-step>
        <mat-step [stepControl]="form.controls.nurseOptions">
          <ng-template matStepLabel>
            {{ nurses.dictionary.pluralTitlecase }}
            @if (form.hasNurses) {
              <div class="fw-semibold text-gray-500">
                <!-- ({{ form.controls.clinic.controls.select.value?.name }}) -->
              </div>
            }
          </ng-template>
          <div controlMultiselect3 [(control)]="form.controls.nurseOptions" [(fromWrapper)]="fromWrapper"></div>
        </mat-step>
        <mat-step [stepControl]="form.controls.clinic!.controls.select">
          <ng-template matStepLabel>
            {{ clinics.dictionary.singularTitlecase }}
            @if (form.hasClinic) {
              <div class="fw-semibold text-gray-500">
                ({{ form.controls.clinic!.controls.select.value?.name }})
              </div>
            }
          </ng-template>
          <div class="d-flex gap-3 align-items-end">
            <div controlTypeahead3 [(control)]="form.controls.clinic!.controls.select" [(fromWrapper)]="fromWrapper"
                 class="flex-grow-1"></div>

            <button class="btn btn-icon btn-bg-light btn-active-color-secondary" type="button"
                    (click)="clinics.showCatalogModal($event, clinicKey, 'select', 'modal');">
              <i class="ki-duotone ki-arrows-loop">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </button>
            @if (!clinicPanelOpen) {
              <button
                [matTooltip]="'Quite ' + clinics.dictionary.articles.definedSingular + ' ' + clinics.dictionary.singular + ' actual para poder agregar ' + clinics.dictionary.articles.undefinedSingular + ' nuevo.'"
                [matTooltipDisabled]="!form.hasClinic" type="button"
                class="btn btn-icon btn-bg-light btn-active-color-success"
                (click)="handleClinicPanelClick($event)">
                <i class="ki-duotone ki-plus"></i>
              </button>
            }
            @if (form.hasClinic) {
              <button class="btn btn-icon btn-bg-light btn-active-color-danger" type="button"
                      (click)="form.removeClinic()">

                <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span><span class="path4"></span><span class="path5"></span></i>

              </button>
            }
          </div>

          @if (!form.hasClinic) {
            <mat-accordion
              [matTooltip]="'Quite ' + clinics.dictionary.articles.definedSingular + ' ' + clinics.dictionary.singular + ' actual para poder agregar ' + clinics.dictionary.articles.undefinedSingular + ' nuevo.'"
              [matTooltipDisabled]="!form.hasClinic">
              <mat-expansion-panel (opened)="clinicPanelOpen = true" (closed)="clinicPanelOpen = false"
                                   [expanded]="clinicPanelOpen" cdkAccordionItem #clinicAccordion
                                   [disabled]="form.hasClinic"
                                   style="background: transparent!important; box-shadow: none!important;">
                <mat-expansion-panel-header>
                  <mat-panel-title> Crear nuev{{ clinics.dictionary.articleSex === 'masculine' ? 'o' : 'a' }} {{
                      clinics.dictionary.singular
                    }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div clinicForm [(item)]="clinicItem" [(view)]="clinicView" [(use)]="clinicUse"
                     [(key)]="clinicKey"></div>
              </mat-expansion-panel>
            </mat-accordion>
          }
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>

<div class="d-flex justify-content-end mt-8">
  <button class="btn btn-light me-5 text-muted">
    Cancelar
  </button>
  <button class="btn btn-primary" [attr.form]="form.id" type="submit" [disabled]="isSubmitting">
    @if (use() === "create") {
      @if (!isSubmitting) {
        Crear {{ service.dictionary.singular }}
      } @else {
        <span class="spinner-border spinner-border-sm me-2"></span>
        Creando {{ service.dictionary.singular }}...
      }
    } @else if (use() === "edit") {
      Guardar cambios
    }
  </button>
</div>
