
  @if (form.error) {
    <div errorsAlert [error]="form.error"></div>
  }

  <form [id]="form.id" (ngSubmit)="onSubmit(view, use)">
    <mat-stepper
      orientation="vertical"
      [linear]="true"
      #stepper
      [(selectedIndex)]="selectedIndex"
      style="background: transparent!important;"
    >
      <mat-step [stepControl]="form.controls.patient.controls.select">
        <ng-template matStepLabel
        >{{ patients.dictionary.singularTitlecase }} @if (form.hasPatient !== false) {
          <span class="fw-semibold text-gray-500"
          >({{ form.controls.patient.controls.select.value?.name }})</span
          >
        }
        </ng-template>
        @if (form.hasPatient !== false) {
          <!-- <div
            userCardCompact
            [role]="'Patient'"
            [key]="selectPatientKey"
            [view]="view()"
          ></div> -->
        }

        <div class="my-4">

          <div controlTypeahead3 [(control)]="form.controls.patient.controls.select" [(fromWrapper)]="fromWrapper"></div>

          <button
            class="btn btn-light-primary me-2"
            type="button"
            (click)="patients.showCatalogModal($event, patientKey(), 'select', 'modal');"
          >
            @if (form.hasPatient === false) {
              Seleccionar {{ patients.dictionary.singular }}
            } @else {
              Cambiar {{ patients.dictionary.singular }}
            }
          </button>
          @if (!patientPanelOpen()) {
            <button
              [matTooltip]="'Quite ' + patients.dictionary.articles.definedSingular + ' ' + patients.dictionary.singular + ' actual para poder agregar ' + patients.dictionary.articles.undefinedSingular + ' nuevo.'"
              [matTooltipDisabled]="form.hasPatient === false"
              type="button"
              class="btn btn-light-success me-2"
              (click)="handlePatientPanelClick($event)"
            >
              Agregar
            </button>
          }
          @if (form.hasPatient) {
            <button
              class="btn btn-light-danger me-2"
              type="button"
              (click)="form.removePatient()"
            >
              Quitar
            </button>
          }
        </div>

        <mat-accordion
          [matTooltip]="'Quite ' + patients.dictionary.articles.definedSingular + ' ' + patients.dictionary.singular + ' actual para poder agregar ' + patients.dictionary.articles.undefinedSingular + ' nuevo.'"
          [matTooltipDisabled]="form.hasPatient === false"
        >
          <mat-expansion-panel
            (opened)="patientPanelOpen.set(true)"
            (closed)="patientPanelOpen.set(false)"
            [expanded]="patientPanelOpen()"
            cdkAccordionItem
            #patientAccordion
            [disabled]="form.hasPatient"
            style="background: transparent!important; box-shadow: none!important;"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Crear nuev{{patients.dictionary.articleSex === 'masculine' ? 'o' : 'a' }} {{ patients.dictionary.singular }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div
              patientForm
              [(item)]="patientItem"
              [(view)]="patientView"
              [(use)]="patientUse"
              [(key)]="patientKey"
            ></div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-step>
      <mat-step [stepControl]="form.controls.dateFrom">
        <ng-template matStepLabel
        >Fecha y hora
          <span class="fw-semibold text-gray-500">
          @if (form.controls.dateFrom.value && form.controls.dateTo.value) {
            @if (form.controls.allDay.value) {
              @if (form.controls.dateFrom.value === form.controls.dateTo.value) {
                El {{form.controls.dateFrom.value | date : "EEEE d 'de' MMMM, YYYY" : '' : 'es-MX'}}
              } @else {
                Del
                @if (form.controls.dateFrom.value) {
                  {{form.controls.dateFrom.value | date : "EEEE d 'de' MMMM" : '' : 'es-MX'}}
                }
                @if (form.controls.dateTo.value) {
                  al {{form.controls.dateTo.value | date : "EEEE d 'de' MMMM, YYYY" : '' : 'es-MX'}}
                }
              }
            } @else {
              @if (form.controls.dateFrom.value === form.controls.dateTo.value) {
                El {{form.controls.dateFrom.value | date : "EEEE d 'de' MMMM" : '' : 'es-MX'}}
                {{form.controls.dateFrom.value | date : 'h:mm' : '' : 'es-MX'}}
                -
                {{form.controls.dateTo.value | date : 'h:mm a' : '' : 'es-MX'}}
                {{form.controls.dateTo.value | date : 'YYYY' : '' : 'es-MX'}}
              } @else {
                Del @if (form.controls.dateFrom.value) {
                  {{form.controls.dateFrom.value | date : "EEEE d 'de' MMMM 'a las' h:mm a" : '' : 'es-MX'}}
                }
                @if (form.controls.dateTo.value) {
                  al
                  {{form.controls.dateTo.value | date : "EEEE d 'de' MMMM 'a las' h:mm a, YYYY" : '' : 'es-MX'}}
                }
              }
            }
          }
        </span>
        </ng-template>
        <div class="d-flex gap-3 align-items-center">
          <div
            controlDate3
            [(control)]="form.controls.dateFrom"
            [(fromWrapper)]="fromWrapper"
          ></div>
          @if (!form.controls.allDay.value) {
            <div
              controlTime3
              [(control)]="form.controls.dateFrom"
              [(fromWrapper)]="fromWrapper"
            ></div>
          }

          a

          <div
            controlDate3
            [(control)]="form.controls.dateTo"
            [(fromWrapper)]="fromWrapper"
          ></div>
          @if (!form.controls.allDay.value) {
            <div
              controlTime3
              [(control)]="form.controls.dateTo"
              [(fromWrapper)]="fromWrapper"
            ></div>
          }
        </div>
        <div class="d-flex">
          <div
            controlCheckbox3
            [(control)]="form.controls.allDay"
            [(fromWrapper)]="fromWrapper"
          ></div>
        </div>
      </mat-step>
      <mat-step [stepControl]="form.controls.service.controls.select">
        <ng-template matStepLabel>
          {{ services.dictionary.singularTitlecase }}
          @if (form.hasService) {
            <div class="fw-semibold text-gray-500">
              ({{ form.controls.service.controls.select.value?.name }}) {{ form.controls.service.controls.select.value?.options?.price | currency }}
            </div>
          }
        </ng-template>
        <!-- @if (service) {
          <div
            serviceCardCompact
            [key]="selectServiceKey"
            [view]="view()"
          ></div>
        } -->

        <div class="my-4">

          <div controlTypeahead3 [(control)]="form.controls.service.controls.select" [(fromWrapper)]="fromWrapper"></div>

          <button
            class="btn btn-light-primary me-2"
            type="button"
            (click)="services.showCatalogModal($event, serviceKey(), 'select', 'modal');"
          >
            @if (form.hasService === false) {
              Seleccionar {{ services.dictionary.singular }}
            } @else {
              Cambiar {{ services.dictionary.singular }}
            }
          </button>

          @if (!servicePanelOpen()) {
            <button
              [matTooltip]="'Quite ' + services.dictionary.articles.definedSingular + ' ' + services.dictionary.singular + ' actual para poder agregar ' + services.dictionary.articles.undefinedSingular + ' nuevo.'"
              [matTooltipDisabled]="form.hasService === false"
              type="button"
              class="btn btn-light-success me-2"
              (click)="handleServicePanelClick($event)"
            >
              Agregar
            </button>
          }
          @if (form.hasService) {
            <button
              class="btn btn-light-danger me-2"
              type="button"
              (click)="form.removeService()"
            >
              Quitar
            </button>
          }
        </div>

        <mat-accordion
          [matTooltip]="'Quite ' + services.dictionary.articles.definedSingular + ' ' + services.dictionary.singular + ' actual para poder agregar ' + services.dictionary.articles.undefinedSingular + ' nuevo.'"
          [matTooltipDisabled]="form.hasService === false"
        >
          <mat-expansion-panel
            (opened)="servicePanelOpen.set(true)"
            (closed)="servicePanelOpen.set(false)"
            [expanded]="servicePanelOpen()"
            cdkAccordionItem
            #serviceAccordion
            [disabled]="form.hasService"
            style="background: transparent!important; box-shadow: none!important;"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Crear nuev{{services.dictionary.articleSex === 'masculine' ? 'o' : 'a' }} {{ services.dictionary.singular }}</mat-panel-title>
            </mat-expansion-panel-header>

            <div
              serviceForm
              [(item)]="serviceItem"
              [(view)]="serviceView"
              [(use)]="serviceUse"
              [(key)]="serviceKey"
            ></div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-step>
      <!-- <mat-step>
        <ng-template matStepLabel>
        <span class="fw-semibold text-gray-500">
          @if (!nurses || nurses.length === 0) {
            Seleccione uno o muchos
              especialistas
          } @else {
            @if (nurses.length === 1) {
              Especialista:
              {{ nurses[0].fullName }} ({{ nurses[0].post }})
            } @else {
              ({{
                nurses.length
              }}) Especialistas: @for (item of nurses; let idx = $index; track
                idx; let last = $last) {
                {{ item.firstName }} ({{
                  item.education
                }}) @if (!last) {
                  ,
                }
              }
            }
          }
        </span>
        </ng-template>
        <div
          usersListSelect
          [mode]="'multiselect'"
          [key]="selectNursesKey"
          [view]="'page'"
          [role]="'Nurse'"
        ></div>
      </mat-step> -->
      <!-- <mat-step>
        <ng-template matStepLabel>
        <span class="fw-semibold text-gray-500">
          Seleccione la localización
        </span>
        </ng-template>
        <div
            class="fv-row fv-plugins-icon-container"
            controlSelect
            formControlName="clinicId"
            [options]="doctorFields?.addresses!"
            [isAddress]="true"
            [placeholder]="''"
            (change)="handleClinicChange()"
            [errors]="{
                required: 'La dirección es requerida.'
            }"
        ></div>
      </mat-step> -->
      <mat-step [stepControl]="form.controls.nurseOptions">
        <ng-template matStepLabel>
          {{ nurses.dictionary.pluralTitlecase }}
          @if (form.hasNurses) {
            <div class="fw-semibold text-gray-500">
              <!-- ({{ form.controls.clinic.controls.select.value?.name }}) -->
            </div>
          }
        </ng-template>
      </mat-step>
      <mat-step [stepControl]="form.controls.clinic.controls.select">
        <ng-template matStepLabel>
          {{ clinics.dictionary.singularTitlecase }}
          @if (form.hasClinic) {
            <div class="fw-semibold text-gray-500">
              ({{ form.controls.clinic.controls.select.value?.name }})
            </div>
          }
        </ng-template>
        <div class="my-4">
          <div controlTypeahead3 [(control)]="form.controls.clinic.controls.select" [(fromWrapper)]="fromWrapper"></div>

          <button
            class="btn btn-light-primary me-2"
            type="button"
            (click)="clinics.showCatalogModal($event, clinicKey(), 'select', 'modal');"
          >
            @if (form.hasClinic === false) {
              Seleccionar {{ clinics.dictionary.singular }}
            } @else {
              Cambiar {{ clinics.dictionary.singular }}
            }
          </button>

          @if (!clinicPanelOpen()) {
            <button
              [matTooltip]="'Quite ' + clinics.dictionary.articles.definedSingular + ' ' + clinics.dictionary.singular + ' actual para poder agregar ' + clinics.dictionary.articles.undefinedSingular + ' nuevo.'"
              [matTooltipDisabled]="form.hasClinic === false"
              type="button"
              class="btn btn-light-success me-2"
              (click)="handleClinicPanelClick($event)"
            >
              Agregar
            </button>
          }
          @if (form.hasClinic) {
            <button
              class="btn btn-light-danger me-2"
              type="button"
              (click)="form.removeClinic()"
            >
              Quitar
            </button>
          }
        </div>

        <mat-accordion
          [matTooltip]="'Quite ' + clinics.dictionary.articles.definedSingular + ' ' + clinics.dictionary.singular + ' actual para poder agregar ' + clinics.dictionary.articles.undefinedSingular + ' nuevo.'"
          [matTooltipDisabled]="form.hasClinic === false"
        >
          <mat-expansion-panel
            (opened)="clinicPanelOpen.set(true)"
            (closed)="clinicPanelOpen.set(false)"
            [expanded]="clinicPanelOpen()"
            cdkAccordionItem
            #clinicAccordion
            [disabled]="form.hasClinic"
            style="background: transparent!important; box-shadow: none!important;"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Crear nuev{{clinics.dictionary.articleSex === 'masculine' ? 'o' : 'a' }} {{ clinics.dictionary.singular }}</mat-panel-title>
            </mat-expansion-panel-header>

            <div
              clinicForm
              [(item)]="clinicItem"
              [(view)]="clinicView"
              [(use)]="clinicUse"
              [(key)]="clinicKey"
            ></div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-step>
    </mat-stepper>
  </form>
    <button class="btn btn-primary" [attr.form]="form.id" type="submit">
      @if (use() === "create") {
        Crear {{ service.dictionary.singular }}
      } @else if (use() === "edit") {
        Guardar cambios
      }
    </button>
  <!-- @if (view() === 'page') {
    <button class="btn btn-primary" [attr.form]="form.id" type="submit">
      @if (use() === "create") {
        Crear {{ service.dictionary.singular }}
      } @else if (use() === "edit") {
        Guardar cambios
      }
    </button>
  } -->
