<div catalogLayout
     [service]="service"
     [(form)]="form"
     [(mode)]="mode"
     [(key)]="key"
     [(view)]="view"
     [(isCompact)]="isCompact"
     [(filterConfig)]="filterConfig"
     [(item)]="item"
     [(params)]="params"
>
  <ng-template #entityCustomActions>
    <div class="card-toolbar">
      <ul class="nav nav-pills me-3 mb-2 mb-sm-0">
        <li class="nav-item m-0">
          <a (click)="calendarView.set('table')"
             [class.active]="calendarView() === 'table'"
             class="btn btn-icon btn-light btn-color-muted btn-active-primary me-3"
          >
            <i class="ki-duotone ki-row-horizontal fs-1">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </a>
        </li>
        <li class="nav-item m-0">
          <a (click)="calendarView.set('calendar')"
             [class.active]="calendarView() === 'calendar'"
             class="btn btn-icon btn-light btn-color-muted btn-active-primary"
          >
            <i class="ki-duotone ki-calendar fs-1">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </a>
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template #entityFilterForm>
    <form [id]="filtersForm().id" (ngSubmit)="onSubmit(key())">
      <div controlsRow3 [grid]="filterConfig().orientation == 'horizontal' ? 5 : 1">
        <div controlsWrapper3 [(control)]="filtersForm().controls.search" [showBottomMargin]="false"></div>
        <div controlMultiselect3 [(control)]="filtersForm().controls.clinics" [fromWrapper]="true"></div>
        <div controlMultiselect3 [(control)]="filtersForm().controls.patients" [fromWrapper]="true"></div>
        <div controlMultiselect3 [(control)]="filtersForm().controls.services" [fromWrapper]="true"></div>
        <div controlMultiselect3 [(control)]="filtersForm().controls.nurses" [fromWrapper]="true"></div>
      </div>
    </form>
  </ng-template>
  <ng-template #entityTable let-list="list">
    @defer (on viewport) {
      @switch (calendarView()) {
        @case ('table') {
          <table eventsTable
                 [(mode)]="mode"
                 [(isCompact)]="isCompact"
                 [data]="list"
                 [(key)]="key"
                 [(view)]="view"
                 [(item)]="item"
                 [(params)]="params">
          </table>
        }
        @case ('calendar') {
          <div eventsCalendar
               [(mode)]="mode"
               [(isCompact)]="isCompact"
               [data]="list"
               [(key)]="key"
               [(view)]="view"
               [(item)]="item"
               [(params)]="params"
               [(filtersCollapsed)]="filtersCollapsed">
          </div>
        }
        @default () {
          <p>Invalid view</p>
        }
      }
    } @loading {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @placeholder(minimum 1000ms) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </ng-template>
</div>
