<div class="btn btn-icon text-danger btn-active-light-danger w-30px h-30px w-md-40px h-md-40px position-relative"
     dropdownToggle>
  <i class="ki-duotone ki-information-5 fs-2x text-danger">
    <span class="path1"></span>
    <span class="path2"></span>
    <span class="path3"></span>
  </i>
</div>

<div
  *dropdownMenu
  class="dropdown-menu dropdown-menu-right menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-475px">
  <div class="d-flex px-4 py-4 align-items-center gap-3">
    <div class="">
      <h5 class="mb-0 fs-6">No puedes recibir pagos</h5>
      <p class="mb-0 fs-7">Aun no has conectado tu cuenta de Stripe. Conéctala para poder recibir pagos de tus
        pacientes.</p>
    </div>

    <button class="btn btn-primary" (click)="openOnboardingWindow()">
      <div class="d-flex nowrap gap-2 align-items-center">
        <div>
          Conectar
        </div>
        <div class="fw-bold fs-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
            <path fill-rule="evenodd"
                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
          </svg>
        </div>
      </div>
    </button>
  </div>
</div>
