<div class="card-header">
    <h2 class="card-title fw-bold">Citas</h2>
    <div class="card-toolbar">
      <ul class="nav nav-pills me-3 mb-2 mb-sm-0">
        <li class="nav-item m-0">
          <a (click)="calendarView = 'table'"
             [class.active]="calendarView === 'table'"
             class="btn btn-icon btn-light btn-color-muted btn-active-primary me-3"
             data-bs-toggle="tab">
            <i class="ki-duotone ki-row-horizontal fs-1">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </a>
        </li>
        <li class="nav-item m-0">
          <a (click)="calendarView = 'calendar'"
             [class.active]="calendarView === 'calendar'"
             class="btn btn-icon btn-light btn-color-muted btn-active-primary"
             data-bs-toggle="tab">
            <i class="ki-duotone ki-calendar fs-1">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </a>
        </li>
      </ul>
      <button
        (click)="service.clickLink(null, key(), 'create', 'modal')"
        [naming]="service.dictionary"
        createBtn
      ></button>

    </div>
  </div>

  @if (calendarView === 'calendar') {
    <div
        eventsCalendar
        [(role)]="role"
        [(mode)]="mode"
        [(key)]="key"
        [(view)]="view"
      ></div>
  } @else {
    <div eventsCatalog
         [(key)]="key"
         [(role)]="role"
         [(mode)]="mode"
         [(view)]="view"
         [hideAddButton]="true"></div>
  }
