@if (control().orientation === 'inline') {
  <div class="d-flex align-items-center gap-2">
    @if (control().showLabel) {
      <label controlLabel3
             [(control)]="control"></label>
    }
    <input
      controlInput3
      [(control)]="control"
      [formControl]="$any(control())"
    />
  </div>
} @else {
  @if (control().showLabel) {
    <label controlLabel3
           [(control)]="control"></label>
  }

  <input
    controlInput3
    [(control)]="control"
    [formControl]="$any(control())"
  />
}

@if (control().errors) {
  <div invalidFeedback3
       [errors]="control().validationErrors"
       [control]="control()"
       [submitted]="root().submitted">
  </div>
}
@if (control().helperText) {
  <div helpBlock3 [(control)]="control"></div>
}
