@if (control().orientation === 'inline') {
  <div class="d-flex align-items-center gap-2">
    <mat-checkbox [formControl]="$any(control())"
                      [id]="control().id">
      @if(control().showLabel){<span class="col-form-label fw-semibold fs-8 text-nowrap">{{ control().label }}</span>}
    </mat-checkbox>
  </div>
} @else {
  <mat-checkbox [formControl]="$any(control())">{{ control().label }}</mat-checkbox>
}

@if (control().errors) {
  <div invalidFeedback3
       [errors]="control().validationErrors"
       [control]="control()"
       [submitted]="$any(control().root).submitted">
  </div>
}
@if (control().helperText) {
  <div helpBlock3
       [(control)]="control"></div>
}
