<mat-form-field [subscriptSizing]="'fixed'" appearance="outline" class="hide-bottom" style="display: flex;">
  <mat-label>{{ control().label }}</mat-label>
  <input [(control)]="control" [formControl]="$any(control())" controlInput3 matInput />
  <mat-icon matSuffix>search</mat-icon>
  <!-- <mat-hint>Hint</mat-hint> -->
</mat-form-field>

@if (control().errors) {
  <div invalidFeedback3
       [errors]="control().validationErrors"
       [control]="control()"
       [submitted]="control().submitted">
  </div>
}
@if (control().helperText) {
  <div helpBlock3 [(control)]="control"></div>
}
