@if(control().showLabel) {
  <label controlLabel3 [(control)]="control"></label>
}
<textarea
  [attr.aria-describedby]="control().helperText ? control().name + 'helpBlock' : null"
  [attr.aria-label]="control().label + ' input'"
  [formControl]="$any(control())"
  [id]="control().id"
  [ngClass]="{
        'is-invalid': parent().submitted && control().invalid,
        'is-valid': parent().submitted && control().valid,
      }"
  [readonly]="control().isReadonly"
  [spellcheck]="'false'"
  [rows]="height()"
  class="form-control form-control-solid"
>
  </textarea>

  @if (control().errors) {
    <div invalidFeedback3
         [errors]="control().validationErrors"
         [control]="control()"
         [submitted]="control().submitted">
    </div>
  }
  @if (control().helperText) {
    <div helpBlock3 [(control)]="control"></div>
  }
