<form [formGroup]="formGroup">
  <div class="d-flex flex-grow-1 justify-content-between align-items-end mb-4">
    <div>
      <p class="text-gray-900 fw-bold my-1 fs-2">Nueva receta</p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 gx-4">
    <div class="col">
      <div class="card px-0">
        <div class="p-5 fw-bold">Paciente</div>
        <hr class="text-gray-400 m-0"/>
        <div class="card-body p-6">
          <div class="row row-cols-1 align-items-end justify-content-center">
            <div [isDisabled]="false"
                 [key]="selectedPatientKey"
                 [user]="patient ?? null"
                 patientSelectTypeahead></div>
            @if (patient) {
              <div
                [item]="patient"
                [key]="selectedPatientKey"
                class=""
                patientSelectDisplayCard></div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card px-0 h-100">
        <div class="d-flex justify-content-between align-items-center flex-wrap header-fixed-height">
          <div class="p-5 fw-bold">Cita</div>
          <fa-icon [icon]="icons.faRegCircleQuestion"
                   [popover]="'Al seleccionar una cita se asignará esta receta el paciente de la cita.'"
                   class="me-5 text-gray-600"
                   triggers="mouseenter:mouseleave"></fa-icon>
        </div>

        <hr class="text-gray-400 m-0"/>
        <div class="card-body p-6">
          <div class="row row-cols-1 align-items-start">
            <div [isDisabled]="false"
                 [item]="event ?? null"
                 [key]="selectedEventKey"
                 eventSelectTypeahead></div>
            @if (event) {
              <div
                [item]="event"
                [key]="selectedEventKey"
                class="flex-grow-1"
                eventSelectDisplayCard></div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  @if (prescription) {
    <div [data]="prescription.items"
         [key]="selectedProductsKey"
         prescriptionProductsTable></div>
  }
  <div class="d-flex flex-grow-1 justify-content-between align-items-center mt-6">
    <button
      class="btn btn-secondary">
      Cancelar
    </button>
    <button
      (click)="onSubmit()"
      class="btn btn-primary">
      Guardar receta
    </button>
  </div>

</form>
