@if (item() !== null && userExtendItem !== null) {
  <div class="card mb-5 mb-xl-8" [ngClass]="{'flex-column': orientation() === 'vertical'}">
    <div class="card-header border-0 pt-5 pb-0">
      @if (roleToShow().toLowerCase() === 'doctor') {
        <span class="card-label fw-regular text-gray-500 fs--2"> Cita con </span>
      } @else {
        <span class="card-label fw-regular text-gray-500 fs--2"> Cita de </span>
      }
      <div
        class="row w-100 d-flex justify-content-between align-items-center g-0"
      >
        <div class="col-6 p-0" [ngClass]="{'col-12': orientation() === 'vertical'}">
          <h3 class="card-title">
            <span class="card-label fw-bold text-gray-900 fs-3">
              {{ item()!.dateFrom | date : "mediumDate" }}, {{ item()!.dateFrom | date : "shortTime" }}
            </span>
          </h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex flex-column align-items-center">
        <div class="symbol symbol-150px mb-5 mb-xl-10">
          <span class="symbol-label bg-light-danger">
            <div userProfilePicture
                 [fullName]="userExtendItem.fullName"
                 [photoUrl]="userExtendItem.photoUrl"
                 [shape]="PhotoShape.SQUARE"
                 [size]="PhotoSize.LARGE"
            ></div>
          </span>
        </div>
        <div class="d-flex flex-grow-1 flex-column" [ngClass]="{'w-100': orientation() === 'vertical'}">
          <div class="d-flex align-items-center justify-content-between mb-0">
            <a
              href="#"
              class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"
            >
              {{ userExtendItem.firstName }} {{ userExtendItem.lastName }}
            </a>
          </div>
          <div class="d-flex"
               [ngClass]="{'flex-column align-items-start': orientation() === 'vertical', 'align-items-center': orientation() === 'horizontal'}">
            <a
              href="#"
              class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2 mb-sm-0"
              [tooltip]="userExtendItem.email || ''"
            >
              <i class="ki-duotone ki-sms fs-4 me-1">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
              <span class="email-text">{{ userExtendItem.email }}</span>
            </a>

            <a
              href="#"
              class="d-flex align-items-center text-gray-500 text-hover-primary me-5"
            >
              <i class="ki-duotone ki-phone fs-4 me-1"
              ><span class="path1"></span><span class="path2"></span
              ></i>
              {{ userExtendItem.phoneNumber }}
            </a>
          </div>
          <div class="d-flex flex-grow">
            <div class="row w-100" [ngClass]="{'flex-column': orientation() === 'vertical'}">
              <div>
                <div class="fw-bold mt-5">Sexo</div>
                <div class="text-gray-600 mb-0">
                  {{ userExtendItem.sex }}
                </div>
              </div>
              <div>
                <div class="fw-bold mt-5">Fecha de Nacimiento</div>
                <div class="text-gray-600 mb-0">
                  {{ userExtendItem.dateOfBirth | date : "mediumDate" }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

