@if (step === 1) {
  <div class="card-body p-lg-17">
    <div class="d-flex flex-column align-items-center">
      <div class="mb-13 text-center">
        <h1 class="fs-2hx fw-bold mb-3">Selecciona tu Plan</h1>

        <div class="text-gray-600 fw-semibold fs-5">
          <small>
            Si tienes dudas en general o necesitas más información sobre nuestros precios, por<br/> favor revisa
            nuestra
            <a href="#" class="link-primary fw-bold">
              FAQ
            </a>.
          </small>
        </div>
      </div>

      <div class="row justify-content-center g-10">
        <div class="col-xl-5 h-100">
          <div class="card rounded-3 card-hover">
            <div class="card-body">
              <div class="d-flex h-100 align-items-center">
                <div class="w-100 d-flex flex-column flex-center h-100">
                  <div class="text-start">
                    <span class="badge badge-light-secondary fs-1 mb-3">
                      Gratis
                    </span>

                    <div class="text-gray-600 fw-semibold mb-5">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae suscipit dolor, sit
                      amet
                      laoreet sapien. Nulla facilisi. Cras mollis dictum eros et blandit.
                    </div>

                    <div class="text-start">
                      <span class="mb-2 fs-2x">$</span>
                      <span class="fs-4x fw-bold">0</span>
                      <span class="fs-6 fw-semibold opacity-50">/
                        <span data-kt-element="period">Mes</span>
                      </span>
                    </div>
                  </div>

                  <div class="separator border-gray-200 mt-3 mb-10 w-100"></div>

                  <div class="w-100">
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">
                        Up to 10 Active Users </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">
                        Up to 30 Project Integrations </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">
                        Analytics Module </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">
                        Finance Module </span>
                      <i class="ki-duotone ki-cross-circle fs-1"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">
                        Accounting Module </span>
                      <i class="ki-duotone ki-cross-circle fs-1"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">
                        Network Platform </span>
                      <i class="ki-duotone ki-cross-circle fs-1"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center ">
                      <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">
                        Unlimited Cloud Space </span>
                      <i class="ki-duotone ki-cross-circle fs-1"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                  </div>

                  <div class="separator border-gray-200 mt-10 mb-8 w-100"></div>

                  <button href="#" class="btn btn-secondary w-100" [disabled]="true">Este es tu Plan Actual</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 h-100">
          <div class="card rounded-3 card-hover">
            <div class="card-body">
              <div class="d-flex h-100 align-items-center">
                <div class="w-100 d-flex flex-column flex-center h-100">
                  <div class="text-start">
                    <span class="badge badge-primary fs-1 mb-3">
                      Pro
                    </span>

                    <div class="text-gray-600 fw-semibold mb-5">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae suscipit dolor, sit
                      amet
                      laoreet sapien. Nulla facilisi. Cras mollis dictum eros et blandit.
                    </div>

                    <div class="text-start">
                      <span class="mb-2 fs-2x">$</span>
                      <span class="fs-4x fw-bold">199</span>
                      <span class="fs-6 fw-semibold opacity-50">/
                        <span data-kt-element="period">Mes</span>
                      </span>
                    </div>
                  </div>

                  <div class="separator border-gray-200 mt-3 mb-10 w-100"></div>

                  <div class="w-100">
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">
                        Up to 10 Active Users </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">
                        Up to 30 Project Integrations </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">
                        Analytics Module </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">
                        Finance Module </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">
                        Accounting Module </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                      <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">
                        Network Platform </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                    <div class="d-flex align-items-center ">
                      <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">
                        Unlimited Cloud Space </span>
                      <i class="ki-duotone ki-check-circle fs-1 text-primary"><span class="path1"></span><span
                        class="path2"></span></i>
                    </div>
                  </div>

                  <div class="separator border-gray-200 mt-10 mb-8 w-100"></div>

                  <button href="#" class="btn btn-primary w-100" (click)="handlePlanSelection()">
                    Seleccionar y Continuar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if (step === 2) {
  <div class="row w-100 g-0 justify-content-center p-lg-17">
    <div class="col-md-5 pe-3">
      <form>
        <div checkoutAddressEntryCard [title]="'Dirección de Facturación'"></div>
        <div checkoutPaymentMethodEntryCard class="mt-6"></div>
      </form>
    </div>
    <div class="col-md-5">
      <div class="card mb-4">
        <div class="card-header">
          <div class="card-title">
            <h3>Resumen de Suscripción</h3>
          </div>
        </div>
        <div class="card-body border-top border-gray-200">
          <div class="d-flex flex-column pb-6">
            <div class="d-flex align-items-center justify-content-between w-100 fs-2">
              <div class="fw-bold">DocHub Pro</div>
              <div>{{ totalPrice | currency:'MXN' }} <small class="fw-normal text-gray-600">/ mes</small></div>
            </div>
            <div>
              <small class="text-gray-600">
                Esta suscripción se renovará automáticamente cada mes.
              </small>
            </div>
          </div>
          <div class="payment-breakdown border-top py-6">
            <div class="d-flex justify-content-between">
              <div>
                <p class="text-muted">IVA (0%):</p>
                <p class="text-muted">Subtotal:</p>
                <p class="fw-bold mb-0">Total:</p>
              </div>
              <div class="text-end">
                <p class="">{{ tax | currency:'MXN' }}</p>
                <p class="">{{ subtotal | currency:'MXN' }}</p>
                <p class="fw-bold mb-0">{{ totalPrice | currency:'MXN' }}</p>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary w-100"
              [disabled]="!selectedAddress || !selectedPaymentMethod || isSubmitting"
              (click)="onProceedPayment()">
              @if (!isSubmitting) {
                Completar Pago
              } @else {
                <span class="spinner-border spinner-border-sm me-2"></span>
                Procesando Pago...
              }
            </button>
          </div>

          @if (submissionError) {
            <div errorsAlert3
                 class="mt-6"
                 [addMargin]="false"
                 [error]="submissionError"
                 (onClose)="handleErrorAlertClose()"></div>
          }
        </div>
      </div>
      <app-payment-disclaimer></app-payment-disclaimer>
    </div>
  </div>
}
