<div class="d-flex flex-column flex-root h-100">
  <div class="d-flex flex-column flex-lg-row flex-column-fluid">
    <div asideStepper
         [(currentStep)]="currentStep"
         [steps]="formSteps"></div>
    <div class="d-flex flex-column flex-lg-row-fluid py-10">
      <div class="d-flex flex-center flex-column flex-column-fluid">


        <form [id]="formId()" (ngSubmit)="onSubmit()">
          <div class="w-lg-700px p-10 p-lg-15 mx-auto">
            @if (patientRegisterForm().error !== null) {
              <div errorsAlert3 [(error)]="patientRegisterForm().error!"></div>
            }

            @if (currentStep() === 1) {
              <app-accout-type-selector [(accountType)]="accountType"></app-accout-type-selector>
            } @else if (currentStep() < formSteps.length) {
              @if (accountType() === 'patient') {
                <app-register-patient-form [(form)]="patientRegisterForm"
                                           [(isSubmitting)]="isSubmitting"></app-register-patient-form>
              } @else if (accountType() === 'doctor') {
                @if (currentStep() === 2) {
                  <app-account-settings
                    [formGroup]="$any(doctorForm.get('accountSettingsForm'))"></app-account-settings>
                } @else if (currentStep() === 3) {
                  <app-account-details #accountDetails
                                       [formGroup]="$any(doctorForm.get('accountDetailsForm'))"></app-account-details>
                } @else if (currentStep() === 4) {
                  <app-billing-details
                    #billingDetails
                    [formGroup]="$any(doctorForm.get('billingDetailsForm'))"
                    [(isSubmitting)]="isSubmitting"
                    [(submissionErrors)]="submissionErrors"
                    (onSubmit)="onSubmit()"></app-billing-details>
                }
              }
            } @else {
              <app-account-completed [name]="firstName"></app-account-completed>
            }

            <div formActions
                 [totalSteps]="formSteps.length"
                 [(currentStep)]="currentStep"
                 [(isSubmittingApi)]="isSubmitting"
                 (onNextStep)="onNextStep()"
                 (onPreviousStep)="onPreviousStep()"
                 (onSubmit)="onSubmit()"
                 [(accountType)]="accountType"
                 [(patientRegisterForm)]="patientRegisterForm">
            </div>

          </div>
        </form>
      </div>
      <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0" bottomLinks></div>
    </div>
  </div>
</div>
