@if (showLabel()) {
  <label legacyControlLabel
         [control]="$any(control())"
         [name]="name()"
         [orientation]="orientation()"
         [isNew]="isNew()"
         [id]="id()!"
         [isReadonly]="isReadonly()"
         [label]="label()"
         [optional]="optional()"
         [submitted]="submitted()"></label>
}

<div class="input-group">
  @if (selectedValue() && selectedValue()?.code) {
    <span class="input-group-text">{{ selectedValue()?.code }}</span>
  }
  <input
    (typeaheadLoading)="onLoading.emit($event)"
    (typeaheadOnSelect)="handleValueSelect($event)"
    *ngIf="!isReadonly(); else readonlyInput"
    [adaptivePosition]="true"
    [attr.aria-describedby]="formText() ? name() + 'helpBlock' : null"
    [attr.aria-label]="label() + ' input'"
    [attr.autofocus]="autofocus() ? true : null"
    [container]="isModal() ? '' : 'body'"
    [formControl]="$any(control())"
    [id]="id()"
    [ngClass]="{
      'is-invalid': submitted() && control().invalid,
      'is-valid': submitted() && control().valid
    }"
    [placeholder]="placeholder()"
    [spellcheck]="false"
    [style.border-bottom-right-radius.px]="isInputGroupSpan() ? 0 : null"
    [style.border-top-right-radius.px]="isInputGroupSpan() ? 0 : null"
    [typeaheadAsync]="isTypeaheadAsync"
    [typeaheadHideResultsOnBlur]="true"
    [typeaheadMinLength]="0"
    [typeaheadOptionField]="optionField()"
    [typeaheadOptionsInScrollableView]="50"
    [typeaheadOptionsLimit]="50"
    [typeaheadOrderBy]="{
      field: 'name',
      direction: 'asc'
    }"
    [typeaheadScrollable]="true"
    [typeaheadSingleWords]="true"
    [isAnimated]="true"
    [typeaheadSelectFirstItem]="true"
    [typeaheadGroupField]="groupField()"
    [typeahead]="options()"
    autocomplete="off"
    class="form-control text-body fs-8"
  >

  <ng-template #readonlyInput>
    <input
      [attr.aria-describedby]="formText() ? name() + 'helpBlock' : null"
      [attr.aria-label]="label() + ' input'"
      [formControl]="$any(control())"
      [id]="id()!"
      [ngClass]="{
      'is-invalid': submitted() && control().invalid,
      'is-valid': submitted() && control().valid
    }"
      [placeholder]="placeholder()"
      [readonly]="isReadonly()"
      [spellcheck]="false"
      autocomplete="off"
      class="form-control text-body fs-8"
    >
  </ng-template>
</div>

@if (control().errors) {
  @for (error of control().errors | keyvalue; let idx = $index; track idx) {
    @if (submitted() && control().invalid) {
      <div class="invalid-feedback">
        {{ errors()[error.key] }}
      </div>
    }
  }
}

@if (formText()) {
  <div [id]="name()+'helpBlock'"
       class="form-text">
    {{ formText() }}
  </div>
}
