<label
  [for]="id? id : controlName"
  class="fs-6 fw-semibold form-label mt-3"
  [class.required]="service.isOptional(control) || !isReadonly"
  >
  <span>{{label}}</span>
</label>
<textarea
  class="form-control form-control-solid"
  [id]="id ? id : controlName"
  [formControl]="control"
  autocomplete="off"
  [attr.autofocus]="autofocus() ? true : null"
  spellcheck="false"
  [readonly]="isReadonly"
  [ngClass]="{
    'is-invalid': !isReadonly && submitted() && control.invalid,
    'is-valid': !isReadonly && submitted() && control.valid
  }"
  [attr.aria-describedby]="formText() ? controlName+'helpBlock' : null"
  [attr.aria-label]="label + ' input'"
  >
</textarea>

@if(control.errors) {<div invalidFeedback [errors]="errors()" [control]="control" [submitted]="submitted()"></div>}
@if(formText()) {<div helpBlock [controlName]="controlName" [formText]="formText()"></div>}
