<label [for]="id? id : controlName" class="form-label">{{label}}</label>
<div class="input-group">
  <input
    [type]="showPassword ? 'text' : 'password'"
    [formControl]="control"
    [placeholder]="placeholder"
    class="form-control text-1000 fs-0"
    [id]="id ? id : controlName"
    autocomplete="off"
    [attr.autofocus]="autofocus() ? true : null"
    spellcheck="false"
    [ngClass]="{
      'is-invalid': submitted && control.invalid,
      'is-valid': submitted && control.valid
    }"
    [attr.aria-describedby]="formText ? controlName+'helpBlock' : null"
    [attr.aria-label]="label + ' input'"
  >
  <button
    class="btn btn-outline-secondary border border-start-0 rounded-end"
    type="button"
    (click)="toggleShowPassword()"
    >
    <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
  </button>

  @for(error of control.errors | keyvalue; let idx = $index; track idx) {
    @if(submitted && control.invalid) {
      <div class="invalid-feedback">
        {{ errors[error.key] }}
      </div>
    }
  }
</div>
@if(formText) {
  <div [id]="controlName+'helpBlock'" class="form-text">
    {{formText}}
  </div>
}
