@if (label()) {
  <label
    [for]="id() ? id() : controlName"
    class="form-label fw-semi-bold fs--1 d-flex"
  >
    {{ label() }}
    @if (service.isOptional(control)) {
      <span optionalSpan></span>
    }
    @if (isNew()) {
      <span newBadge></span>
    }
  </label>
}

<input
  *ngIf="!isReadonly(); "
  #inputRef
  class="form-control text-1000 fs-0"
  [class.border-0]="hideBorder()"
  [id]="id() ? id() : controlName"
  [typeaheadAsync]="isTypeaheadAsync()"
  [formControl]="control"
  [typeahead]="typeaheadOptions()"
  [style.border-top-right-radius.px]="isInputGroupSpan() ? 0 : null"
  [style.border-bottom-right-radius.px]="isInputGroupSpan() ? 0 : null"
  [typeaheadScrollable]="true"
  [typeaheadOptionsInScrollableView]="7"
  [adaptivePosition]="true"
  (typeaheadOnSelect)="onSelect.emit($event)"
  (typeaheadLoading)="onLoading.emit($event)"
  (focus)="onInputFocus.emit()"
  [typeaheadOptionField]="typeaheadOptionField()"
  [typeaheadItemTemplate]="typeaheadItemTemplate()"
  [typeaheadMinLength]="0"
  [placeholder]="placeholder()"
  autocomplete="off"
  [typeaheadHideResultsOnBlur]="true"
  [attr.autofocus]="autofocus() ? true : null"
  [spellcheck]="false"
  [ngClass]="{
    'is-invalid': submitted() && control.invalid,
    'is-valid': submitted() && control.valid
  }"
  [attr.aria-describedby]="formText() ? controlName + 'helpBlock' : null"
  [attr.aria-label]="label() + ' input'"
  container="body"
>

<ng-template #readonlyInput>
  <input
    class="form-control text-1000 fs-0"
    [id]="id() ? id() : controlName"
    [formControl]="control"
    [placeholder]="placeholder()"
    autocomplete="off"
    [spellcheck]="false"
    [readonly]="isReadonly()"
    [ngClass]="{
      'is-invalid': submitted() && control.invalid,
      'is-valid': submitted() && control.valid
    }"
    [attr.aria-describedby]="formText() ? controlName + 'helpBlock' : null"
    [attr.aria-label]="label() + ' input'"
  >
</ng-template>

@if (control.errors) {
  <div invalidFeedback [errors]="errors()" [control]="control" [submitted]="submitted()"></div>
}
@if (formText()) {
  <div helpBlock [controlName]="controlName" [formText]="formText()"></div>
}
