@if (label()) {
<label [for]="id()" class="form-label fw-semi-bold fs--1">{{ label() }}</label>
}

<select
  #multiSelect
  class="form-select"
  [id]="id() ? id() : controlName"
  [formControl]="control"
  [attr.aria-describedby]="formText() ? controlName + 'helpBlock' : null"
  [attr.aria-label]="label() + ' input'"
  [attr.autoFocus]="autofocus()"
  data-choices="data-choices"
  multiple="multiple"
  data-options='{"removeItemButton":true,"placeholder":true}'
>
  <option placeholder value="">Seleccionar...</option>
  @for (option of options(); track idx; let idx = $index) {
  <option [value]="option.value">{{ option.name }}</option>
  }
</select>
