@if (label) {
  <label [for]="id ? id : controlName" class="fw-semibold  mb-2"
         [class.required]="!validation.isOptional(control) || isReadonly">
    {{ label }}
  </label>
}
<!-- [class.form-control-solid]="style() === 'solid'" -->
<textarea
  class="form-control"
  [id]="id ? id : controlName"
  [formControl]="control"
  autocomplete="off"
  [attr.autofocus]="autofocus() ? true : null"
  spellcheck="false"
  [placeholder]="placeholder()"
  [readonly]="isReadonly"
  [ngClass]="{
    'is-invalid': !isReadonly && submitted() && control.invalid,
    'is-valid': !isReadonly && submitted() && control.valid
  }"
  [attr.aria-describedby]="formText() ? controlName+'helpBlock' : null"
  [attr.aria-label]="label + ' input'"
  [rows]="rows"
  >
</textarea>

@if(control.errors) {<div invalidFeedback [errors]="errors()" [control]="control" [submitted]="submitted()"></div>}
@if(formText()) {<div helpBlock [controlName]="controlName" [formText]="formText()"></div>}
