<label
  class="form-check form-check-custom"
  [for]="id? id : controlName"
>
  <input
    class="form-check-input"
    type="checkbox"
    [formControl]="control"
    [value]="control.value"
    [id]="id ? id : controlName"
    [attr.autofocus]="autofocus() ? true : null"
    [ngClass]="{
      'is-invalid': submitted() && control.invalid,
      'is-valid': submitted() && control.valid
    }"
    [attr.aria-describedby]="formText() ? controlName+'helpBlock' : null"
    [attr.aria-label]="label ? label + ' input' : null"
  >
  <span class="form-check-label fw-semibold">
    @if (label) {
      {{ label }}
    } @else {
      <ng-content></ng-content>
    }
  </span>
</label>

@if (control.errors) {
  <div invalidFeedback [errors]="errors()" [control]="control" [submitted]="submitted()"></div>
}

@if (formText()) {
  <div helpBlock [controlName]="controlName" [formText]="formText()"></div>
}
