<label
  [for]="id? id : controlName"
  class="form-label"
  >
  {{label}}
  @if(service.isOptional(control)) { <span optionalSpan></span> }
  @if (isNew()) { <span newBadge></span> }
</label>
<style>
  .wrapper {
      padding: 20px;
      margin:15px 0;
      background-color: #0f9d58;
  }

  textarea {
      font-size:20px;
      width:100%;
  }
</style>
<textarea
  class="form-control text-1000 fs-0"
  [id]="id ? id : controlName"
  [ngStyle]="{'height': fill ? '265px' : '150px', 'box-sizing': 'border-box !important'}"
  [formControl]="control"
  autocomplete="off"
  [attr.autofocus]="autofocus() ? true : null"
  spellcheck="false"
  [readonly]="isReadonly"
  [ngClass]="{
    'is-invalid': !isReadonly && submitted() && control.invalid,
    'is-valid': !isReadonly && submitted() && control.valid
  }"
  [attr.aria-describedby]="formText() ? controlName+'helpBlock' : null"
  [attr.aria-label]="label + ' input'"
  >
</textarea>

@if(control.errors) {<div invalidFeedback [errors]="errors()" [control]="control" [submitted]="submitted()"></div>}
@if(formText()) {<div helpBlock [controlName]="controlName" [formText]="formText()"></div>}