@if (label) {
  <label
    [for]="id ? id : controlName" class="fw-semibold  mb-2"
    [class.required]="!validation.isOptional(control) || isReadonly">
    {{ label }}
  </label>
}

<input
  type="text"
  mwlFlatpickr
  [noCalendar]="timepicker()"
  [enableTime]="timepicker()"
  [dateFormat]="timepicker() ? 'H:i' : 'Y-m-d'"
  [formControl]="control"
  placeholder="{{placeholder}}"
  class="form-control flatpickr-input"
  [class.form-control-solid]="solid()"
  [id]="id ? id : controlName"
  [attr.autofocus]="autofocus() ? true : null"
  [ngClass]="{
    'is-invalid': !isReadonly && submitted() && control.invalid,
    'is-valid': !isReadonly && submitted() && control.valid
  }"
  [attr.aria-describedby]="formText() ? controlName+'helpBlock' : null"
  [attr.aria-label]="label + ' input'"

  (input)="onInput($event)"
>

@if (control.errors) {
  <div invalidFeedback [errors]="errors()" [control]="control" [submitted]="submitted()"></div>
}
@if (formText()) {
  <div helpBlock [controlName]="controlName" [formText]="formText()"></div>
}
