<p>{{label}}</p>
@for(option of options; let idx = $index; track idx) {
  <div class="form-check">
    <input
      class="form-check-input"
      [readonly]="isReadonly"
      [ngClass]="{
        'is-invalid': !isReadonly && submitted && control.invalid,
        'is-valid': !isReadonly && submitted && control.valid
      }"
      type="radio"
      [name]="controlName"
      id="{{controlName}}{{option.id}}"
      (change)="updateValue(option)"
      (click)="preventChanges($event)"
      [checked]="isSelected(option)"
      [attr.aria-describedby]="formText ? controlName+'helpBlock' : null"
      [attr.aria-label]="label + ' input'"
      >
    <label class="form-check-label" for="{{controlName}}{{option.id}}">
      {{option.value}}
    </label>
  </div>
}

@for(error of control.errors | keyvalue; let idx = $index; track idx) {
  @if(submitted && control.invalid) {
    <div class="invalid-feedback">
      {{ errors[error.key] }}
    </div>
  }
}

@if(formText) {
  <div [id]="controlName+'helpBlock'" class="form-text">
    {{formText}}
  </div>
}
