<label
  [for]="id ? id : controlName"
  class="form-label fw-semi-bold fs--1 d-flex"
>
  {{ label }}
  @if (isOptional && !hideIsOptional) {
    <span class="text-muted"> (opcional)</span>
  }
</label>

<input
  *ngIf="!isReadonly; else readonlyInput"
  class="form-control text-1000 fs-0"
  [id]="id ? id : controlName"
  [formControl]="control"
  [typeahead]="typeaheadOptions"
  [typeaheadScrollable]="true"
  [typeaheadOptionsInScrollableView]="7"
  [adaptivePosition]="true"
  [typeaheadMinLength]="0"
  [placeholder]="placeholder"
  autocomplete="off"
  [typeaheadHideResultsOnBlur]="true"
  [attr.autofocus]="shouldAutoFocus ? true : null"
  [spellcheck]="false"
  [ngClass]="{
    'is-invalid': submitAttempted && control.invalid,
    'is-valid': submitAttempted && control.valid
  }"
  [attr.aria-describedby]="formText ? controlName + 'helpBlock' : null"
  [attr.aria-label]="label + ' input'"
>

<ng-template #readonlyInput>
  <input
    class="form-control text-1000 fs-0"
    [id]="id ? id : controlName"
    [formControl]="control"
    [placeholder]="placeholder"
    autocomplete="off"
    [spellcheck]="false"
    [readonly]="isReadonly"
    [ngClass]="{
      'is-invalid': submitAttempted && control.invalid,
      'is-valid': submitAttempted && control.valid
    }"
    [attr.aria-describedby]="formText ? controlName + 'helpBlock' : null"
    [attr.aria-label]="label + ' input'"
  >
</ng-template>

@for (error of control.errors | keyvalue; let idx = $index; track idx) {
  @if (submitAttempted && control.invalid) {
    <div class="invalid-feedback">
      {{ customErrorMessages[error.key] }}
    </div>
  }
}

@if (formText) {
  <div [id]="controlName + 'helpBlock'" class="form-text">
    {{ formText }}
  </div>
}
