@if(label() !== null) {
  <label [class]="labelClass()" [for]="id() ? id() : controlName">{{label()}}</label>
}
<div class="search-box w-100 me-2">
  <div class="position-relative">
    <input
      [class]="inputClass()"
      [formControl]="control"
      type="text"
      autocomplete="off"
      [placeholder]="placeholder() ? placeholder() : ''"
      [attr.aria-label]="placeholder() ? placeholder() : 'search'"
      [id]="id() ? id() : controlName"
      [ngClass]="{
        'is-invalid': submitted() && control.invalid,
        'is-valid': submitted() && control.valid
      }"
      [attr.aria-describedby]="formText() ? controlName + 'helpBlock' : null"
      [attr.aria-label]="label() + ' input'"
      bsDaterangepicker
      [bsConfig]="datepickerConfig()">
    <fa-icon [icon]="icons.faCalendar" class="search-box-icon"></fa-icon>
  </div>
</div>

@if(control.errors) {<div invalidFeedback [errors]="errors()" [control]="control" [submitted]="submitted()"></div>}
@if(formText()) {<div helpBlock [controlName]="controlName" [formText]="formText()"></div>}
