<form [formGroup]="filterForm.formGroup" [id]="filterForm.id" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <div searchText formControlName="search" [label]="'Buscar Individuos'" [placeholder]="'Buscar individuos'"></div>
  </div>
  <div class="mb-3">
    <div searchDateRange formControlName="dateRange" [label]="'Fecha de Nacimiento'"
      [datepickerConfig]="datepickerConfig"></div>
  </div>
  <div class="mb-3">
    <div class="row row-cols-2 g-3">
      <div class="col d-flex align-items-center" controlSwitch
        [formControl]="$any(filterForm.formGroup.controls['isActive'])"
        [label]="filterForm.formGroup.controls['isActive'].value ? 'Activos' : 'Inactivos'"
        class="me-2 d-flex align-items-center">
      </div>
      <div class="col" inputControl formControlName="pageSize" [label]="'Tamaño de página'"
        [placeholder]="'Tamaño de página'"
        [submitted]="filterForm.formGroup.controls['pageSize'].invalid && filterForm.formGroup.controls['pageSize'].touched"
        [type]="'number'" [customErrorMessages]="{
            min: 'El valor mínimo es 1.',
            max: 'El valor máximo es 50.'
          }">
      </div>
    </div>
  </div>
</form>
