<div class="tab-pane fade show active" id="kt_contact_view_general" role="tabpanel">
    <div class="d-flex flex-column gap-5 mt-7">
        <div class="d-flex flex-column gap-1">
            <div class="fw-bold text-muted">Company Name</div>
            <div class="fw-bold fs-5">Keenthemes Inc</div>
        </div>
        <div class="d-flex flex-column gap-1">
            <div class="fw-bold text-muted">City</div>
            <div class="fw-bold fs-5">Melbourne</div>
        </div>
        <div class="d-flex flex-column gap-1">
            <div class="fw-bold text-muted">Country</div>
            <div class="fw-bold fs-5">Australia</div>
        </div>
        <div class="d-flex flex-column gap-1">
            <div class="fw-bold text-muted">Notes</div>
            <p>Emma Smith joined the team on September 2019 as a junior associate. She soon showcased her expertise and experience in knowledge and skill in the field, which was very valuable to the company. She was promptly promoted to senior associate on July 2020. 
            <br />
            <br />Emma Smith now heads a team of 5 associates and leads the company's sales growth by 7%.</p>
        </div>
    </div>
</div>