<div modalContent>
    @if (title) {
    <div modalHeader [title]="title"></div>
    }
    <div modalBody>
      <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">

        <div class="row mb-5">
            <div class="col-xl-4">
                <div
                    class="fv-row fv-plugins-icon-container"
                    inputControl
                    formControlName="Zipcode"
                    [label]="'Código postal'"
                    [type]="'tel'"
                    [placeholder]="''"
                    [submitted]="submitted"
                    (input)="enterZipcode($event)"
                    [errors]="{
                        required: 'El código postal es requerido.'
                    }"
                ></div>
            </div>

            <div class="col-xl-8">
                <div
                    class="fv-row fv-plugins-icon-container"
                    controlSelect
                    formControlName="Neighborhood"
                    [label]="'Colonia'"
                    [options]="neighborhoods"
                    [placeholder]="neighborhoods.length > 0 ? 'Selecciona una colonia' : 'Ingresa tu código postal'"
                    [submitted]="submitted"
                    (change)="onNeighborhoodChange($event)"
                    [errors]="{
                        required: 'La colonia es requerida.'
                    }"
                ></div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-xl-6">
                <div
                    class="fv-row fv-plugins-icon-container"
                    inputControl
                    formControlName="City"
                    [label]="'Ciudad'"
                    [placeholder]="''"
                    [submitted]="submitted"
                    [isReadonly]="true"
                    [errors]="{
                        required: 'La ciudad es requerida.'
                    }"
                ></div>
            </div>

            <div class="col-xl-6">
                <div
                    class="fv-row fv-plugins-icon-container"
                    inputControl
                    formControlName="State"
                    [label]="'Estado'"
                    [placeholder]="''"
                    [submitted]="submitted"
                    [isReadonly]="true"
                    [errors]="{
                        required: 'El estado es requerido.'
                    }"
                ></div>
            </div>
        </div>
    
        <div class="row mb-5">
            <div class="col-xl-6">
                <div
                    class="fv-row fv-plugins-icon-container"
                    inputControl
                    formControlName="Street"
                    [label]="'Calle'"
                    [type]="'text'"
                    [placeholder]="''"
                    [submitted]="submitted"
                    [errors]="{
                        required: 'La calle es requerida.'
                    }"
                ></div>
            </div>
            <div class="col-xl-3">
                <div
                    class="fv-row fv-plugins-icon-container"
                    inputControl
                    formControlName="ExteriorNumber"
                    [label]="'No. ext.'"
                    [type]="'tel'"
                    [placeholder]="''"
                    [submitted]="submitted"
                    [errors]="{
                        required: 'El número exterior es requerido.'
                    }"
                ></div>
            </div>
            <div class="col-xl-3">
                <div
                    class="fv-row fv-plugins-icon-container"
                    inputControl
                    formControlName="InteriorNumber"
                    [label]="'No. int.'"
                    [type]="'tel'"
                    [placeholder]="''"
                    [submitted]="submitted"
                ></div>
            </div>
        </div>

          <div class="d-flex flex-stack mt-5">
              <div class="me-5">
                  <label class="fs-6 fw-semibold form-label">¿Usar esta dirección como dirección de facturación?</label>
                  <div class="fs-7 fw-semibold text-muted">Esta dirección se guardará como su dirección de facturación para futuras facturas</div>
              </div>
              <label class="form-check form-switch form-check-custom form-check-solid">
                  <input class="form-check-input" type="checkbox" formControlName="IsBilling"  />
              </label>
          </div>

          <div class="text-center pt-15">
            <button
                type="reset" id="kt_modal_new_card_cancel" class="btn btn-light me-3"
                (click)="bsModalRef.hide()" [disabled]="isLoading">
                Cancelar
            </button>
            <button
                type="submit" id="kt_modal_new_card_submit" class="btn btn-primary"
                style="width: 96px;" [disabled]="isLoading"
            >
                @if (!isLoading) {
                    <span class="indicator-label">Guardar</span>
                } @else {
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                }
            </button>
          </div>

      </form>
    </div>
  </div>
