@if ((use() === "create" && form) ||
(use() === "edit" && item && form) ||
(use() === "detail" && item)) {
  <div class="row gx-6 gx-xl-9">
    <div class="col-lg-6">
      <form [formGroup]="form.group" [id]="form.id" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <div inputControl formControlName="street" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['street'].touched || form.submitted"
                 [autofocus]="use() !== 'detail'" [label]="'Calle'" [errors]="{
                                        'required': 'La calle es requerida.',
                                    }">
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-2 row-cols-lg-3">
          <div class="col">
            <div inputControl formControlName="exteriorNumber" class="fw-semi-bold mb-0 w-100" [type]="'text'"
                 [style]="'solid'"
                 [submitted]="form.group.controls['exteriorNumber'].touched || form.submitted"
                 [label]="'Número exterior'" [errors]="{
                                              'required': 'El número exterior es requerido.',
                                          }">
            </div>
          </div>
          <div class="col">
            <div inputControl formControlName="interiorNumber" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['interiorNumber'].touched || form.submitted" [type]="'text'"
                 [label]="'Número interior'" [errors]="{
                                                  'required': 'El número interior es requerido.',
                                              }">
            </div>
          </div>
          <div class="col">
            <div inputControl formControlName="zipcode" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['zipcode'].touched || form.submitted" [type]="'text'"
                 [label]="'Código postal'" [errors]="{
                                                  'required': 'El código postal es requerido.',
                                              }">
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
          <div class="col">
            <div inputControl formControlName="neighborhood" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['neighborhood'].touched || form.submitted" [type]="'text'"
                 [label]="'Colonia/Vecindad'" [errors]="{
                                                  'required': 'La colonia es requerido.',
                                              }">
            </div>
          </div>
          <div class="col">
            <div inputControl formControlName="city" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['city'].touched || form.submitted" [type]="'text'"
                 [label]="'Ciudad/Municipio'" [errors]="{
                                                  'required': 'La ciudad/municipio es requerido.',
                                              }">
            </div>
          </div>

        </div>
        <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
          <div class="col">
            <div inputControl formControlName="state" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['state'].touched || form.submitted" [type]="'text'"
                 [label]="'Estado'" [errors]="{
                                                  'required': 'El estado es requerido.',
                                              }">
            </div>
          </div>
          <div class="col">
            <div inputControl formControlName="country" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['country'].touched || form.submitted" [type]="'text'"
                 [label]="'País'" [errors]="{
                                                  'required': 'El país es requerido.',
                                              }">
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
          <div class="col">
            <div controlCheck formControlName="isMain" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['isMain'].touched || form.submitted"
                 [label]="'Convertir en dirección principal'">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div inputControl formControlName="name" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['name'].touched || form.submitted" [type]="'text'"
                 [label]="'Nombre'" [errors]="{
                                                  'required': 'El nombre es requerido.',
                                              }">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div controlTextarea formControlName="description" class="fw-semi-bold mb-0 w-100" [style]="'solid'"
                 [submitted]="form.group.controls['description'].touched || form.submitted"
                 [label]="'Descripción'">
            </div>
          </div>
        </div>
        <button class="btn btn-primary mb-10" [attr.form]="form.id" type="submit">
          @if (use() === "create") {
            Crear {{ service.namingDictionary.get(type())!.singular }}
          } @else if (use() === "edit") {
            Guardar cambios
          }
        </button>
      </form>
    </div>
    <div class="col-lg-6">
      @if (form.error) {
        <div errorsAlert [error]="form.error"></div>
      }
    </div>
  </div>
}
