@if (item) {
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <div
      class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2"
    >
      <h1 class="text-gray-900 fw-bold my-1 fs-2">
        Cita #{{ item.id }}
        <small class="text-muted fs-6 fw-normal ms-1"></small>
      </h1>
      <ul class="breadcrumb fw-semibold fs-base my-1">
        <li class="breadcrumb-item text-muted">
          <a [routerLink]="'../../'" class="text-muted text-hover-primary"
            >Dashboard</a
          >
        </li>
        <li class="breadcrumb-item text-muted">
          <a [routerLink]="'../'" class="text-muted text-hover-primary"
            >Citas</a
          >
        </li>
        <li class="breadcrumb-item text-muted">
          {{ item.time | date : "medium" }}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="post fs-6 d-flex flex-column-fluid mt-4">
  <div class="container-xxl">
    <div class="row g-xl-8">
      <div class="col-xxl-8">
        <div class="card mb-5 mb-xl-8">
          <div class="card-header border-0 py-5">
            <span class="card-label fw-regular text-gray-500 fs--2 mb-"
              >Cita de</span
            >
            <div
              class="row w-100 d-flex justify-content-between align-items-center g-0"
            >
              <div class="col-6 p-0">
                <h3 class="card-title">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    {{ item.time | date : "shortTime" }}
                  </span>
                </h3>
              </div>
              <div class="col-6 p-0 d-flex justify-content-end">
                <h3 class="card-title align-items-start flex-column">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    {{ item.time | date : "mediumDate" }}
                  </span>
                </h3>
              </div>
            </div>
          </div>
          <div class="card-body py-0">
            <div class="d-flex align-items-start">
              <div class="symbol symbol-150px me-5">
                <span class="symbol-label bg-light-danger">
                  <img
                    [src]="item.patient.photoUrl"
                    class="h-100 align-self-center"
                    alt=""
                    [style]="{ borderRadius: '0.475rem' }"
                  />
                </span>
              </div>
              <div class="d-flex flex-grow-1 flex-column">
                <div
                  class="d-flex align-items-center justify-content-between mb-0"
                >
                  <a
                    href="#"
                    class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"
                  >
                    {{ item.patient.firstName }} {{ item.patient.lastName }}
                  </a>
                  <a
                    class="btn btn-light-primary py-2"
                    [routerLink]="['/dashboards/patients', item.patient.id]"
                  >
                    Ver Paciente
                  </a>
                </div>
                <div class="d-flex align-items-center">
                  <a
                    href="#"
                    class="d-flex align-items-center text-gray-500 text-hover-primary me-5"
                  >
                    <i class="ki-duotone ki-sms fs-4 me-1"
                      ><span class="path1"></span><span class="path2"></span
                    ></i>
                    {{ item.patient.email }}
                  </a>
                  <a
                    href="#"
                    class="d-flex align-items-center text-gray-500 text-hover-primary me-5"
                  >
                    <i class="ki-duotone ki-phone fs-4 me-1"
                      ><span class="path1"></span><span class="path2"></span
                    ></i>
                    {{ item.patient.phoneNumber }}
                  </a>
                </div>
                <div class="d-flex flex-grow">
                  <div class="row w-100">
                    <div class="col-4">
                      <div class="fw-bold mt-5">Sexo</div>
                      <div class="text-gray-600 mb-0">
                        {{ item.patient.sex }}
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="fw-bold mt-5">Fecha de Nacimiento</div>
                      <div class="text-gray-600 mb-0">
                        {{ item.patient.birthDate | date : "mediumDate" }}
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="fw-bold mt-5">Dirección</div>
                      <div class="text-gray-600 mb-0">
                        {{ item.patient.address }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 mt-5">
              <tabset #staticTabs>
                <tab id="tab1" (selectTab)="onSelect($event)">
                  <ng-template tabHeading>
                    <div class="text-nowrap py-3">Historia Clínica</div>
                  </ng-template>
                </tab>
                <tab id="tab2" (selectTab)="onSelect($event)">
                  <ng-template tabHeading>
                    <div class="text-nowrap py-3">Alergias</div>
                  </ng-template>
                </tab>
                <tab id="tab3" (selectTab)="onSelect($event)">
                  <ng-template tabHeading>
                    <div class="text-nowrap py-3">Medicamentos</div>
                  </ng-template>
                </tab>
                <tab id="tab4" (selectTab)="onSelect($event)">
                  <ng-template tabHeading>
                    <div class="text-nowrap py-3">Contactos</div>
                  </ng-template>
                </tab>
              </tabset>
            </div>
          </div>
        </div>

        <div [ngSwitch]="activeTabId">
          <div *ngSwitchCase="'tab1'">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    Historia Clínica
                  </span>
                </h3>
              </div>
              <div class="card-body">
                @if (item.patient.medicalHistory.length === 0) {
                <div class="text-center">
                  <p class="fs-5 fw-semibold mb-0">No hay historial clínico</p>
                </div>
                } @else {
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="fw-bolder fs-6 text-gray-800">
                        <th>Condición</th>
                        <th>Fecha de Diagnósis</th>
                        <th class="text-center">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of item.patient.medicalHistory; track item) {
                      <tr>
                        <td class="fw-bold">{{ item.condition }}</td>
                        <td>{{ item.diagnosisDate | date : "shortDate" }}</td>
                        <td class="text-center">
                          @if (item.status === 'active') {
                          <span class="badge badge-warning">Activo</span>
                          } @else {
                          <span class="badge badge-success">Resuelto</span>
                          }
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                }
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'tab2'">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    Alergias
                  </span>
                </h3>
              </div>
              <div class="card-body">
                @if (item.patient.allergies.length === 0) {
                <div class="text-center">
                  <p class="fs-5 fw-semibold mb-0">No hay alergias</p>
                </div>
                } @else {
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="fw-bolder fs-6 text-gray-800">
                        <th>Alergia</th>
                        <th>Reacciones</th>
                        <th class="text-center">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of item.patient.allergies; track item) {
                      <tr>
                        <td class="fw-bold">{{ item.name }}</td>
                        <td>{{ item.reactions.join(", ") }}</td>
                        <td class="text-center">
                          @if (item.severity === 'Leve') {
                          <span class="badge badge-success">Leve</span>
                          } @else if (item.severity === 'Moderado') {
                          <span class="badge badge-warning">Moderada</span>
                          } @else {
                          <span class="badge badge-danger">Severa</span>
                          }
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                }
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'tab3'">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    Medicamentos
                  </span>
                </h3>
              </div>
              <div class="card-body">
                @if (item.patient.currentMedications.length === 0) {
                <div class="text-center">
                  <p class="fs-5 fw-semibold mb-0">No hay medicamentos</p>
                </div>
                } @else {
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr class="fw-bolder fs-6 text-gray-800">
                        <th>Nombre</th>
                        <th class="text-end">Dósis</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of item.patient.currentMedications; track item)
                      {
                      <tr>
                        <td class="fw-bold">{{ item.firstName }}</td>
                        <td class="text-end">
                          {{ item.firstName }}
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                }
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'tab4'">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    Contactos
                  </span>
                </h3>
              </div>
              <div class="card-body">
                <div class="fw-bold mt-5">Contacto de Emergencia</div>
                <div class="fw-bold mt-5">Nombre</div>
                <p class="fs-5 text-gray-600 mb-0">
                  {{ item.patient.emergencyContact.name }}
                </p>
                <div class="fw-bold mt-5">Relación</div>
                <p class="fs-5 text-gray-600 mb-0">
                  {{ item.patient.emergencyContact.relationship }}
                </p>
                <div class="fw-bold mt-5">Teléfono</div>
                <p class="fs-5 text-gray-600 mb-0">
                  {{ item.patient.emergencyContact.phoneNumber }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4">
        <div class="card mb-5 mb-xl-8">
          <div class="card-header border-0 py-5">
            <div
              class="row g-0 w-100 d-flex align-items-center justify-content-between"
            >
              <div class="col-6 px-0">
                <h3 class="card-title align-items-start flex-column">
                  <span class="card-label fw-bolder text-gray-900 fs-2">
                    Pago</span
                  >
                </h3>
              </div>
              <div class="col-6 text-end px-0">
                @if (item.paymentBilling.paymentStatus === 'Pagada') {
                <span class="badge badge-light-success">Pagado</span>
                } @else if (item.paymentBilling.paymentStatus === 'Pendiente') {
                <span class="badge badge-light-warning">Pendiente</span>
                } @else {
                <span class="badge badge-light-danger">Fallido</span>
                }
              </div>
            </div>
          </div>
          <div class="separator mb-3 opacity-75"></div>
          <div class="card-body">
            <h5 class="text-gray-500 mb-3">Servicios solicitados</h5>
            @for (service of item.paymentBilling.services; track service) {
            <appointment-services-summary [item]="service" />
            }

            <div class="row mt-2">
              <div class="col">
                <p class="fs-5 fw-bold mb-0">IVA (16%)</p>
              </div>
              <div class="col text-end fw-bolder">
                {{ tax | currency : "MXN" }}
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <p class="fs-5 fw-bold mb-3">Total</p>
              </div>
              <div class="col text-end fw-bolder">
                {{ total | currency : "MXN" }}
              </div>
            </div>
            <div class="separator mb-3 opacity-75"></div>
            <div class="row mt-2 gy-4">
              <div class="col-6">
                <div class="fw-bold mt-5">Método de Pago</div>
                <div class="text-gray-600 mb-0">
                  {{ item.paymentBilling.paymentMethod }}
                </div>
              </div>
              <div class="col-6">
                <div class="fw-bold mt-5">Dirección de Pago</div>
                <div class="text-gray-600 mb-0">
                  {{ item.paymentBilling.billingAddress }}
                </div>
              </div>
              <div class="col-6">
                <div class="fw-bold mt-5">Seguro</div>
                <div class="text-gray-600 mb-0">
                  {{ item.paymentBilling.insuranceProvider }}
                </div>
              </div>
              <div class="col-6">
                <div class="fw-bold mt-5">N° de Poliza</div>
                <div class="text-gray-600 mb-0">
                  {{ item.paymentBilling.insurancePolicyNumber }}
                </div>
              </div>
              <div class="col-6">
                <div class="fw-bold mt-5">N° de Transacción</div>
                <div class="text-gray-600 mb-0">
                  {{ item.paymentBilling.transactionId }}
                </div>
              </div>
              <div class="col-6">
                <div class="fw-bold mt-5">Notas</div>
                <div class="text-gray-600 mb-0">
                  {{ item.paymentBilling.notes }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
