<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h3>
        {{ title() }}
      </h3>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      @if (selectedAddress) {
        <button type="button" class="btn btn-light-primary btn-sm" (click)="toggleAddressChange()">
          Cambiar
        </button>
      }
    </div>
  </div>

  @if (isLoading) {
    <div class="card-body border-top">
      <div class="d-flex justify-content-center py-3">
        <div class="spinner-border text-gray-400" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  } @else if (addresses.length === 2) {
    <div class="card-body border-top">
      <div class="d-flex flex-column align-items-center gap-3 py-4">
        <p class="text-center mb-2 text-gray-600">
          No tienes direcciones guardadas.
        </p>
        <button type="button" class="btn btn-primary btn-light-primary" (click)="openAddressCreateModal()">
          <i class="ki-duotone ki-plus fs-2 me-1"></i>
          Añadir dirección
        </button>
      </div>
    </div>
  } @else {
    <div [collapse]="displayCollapsed" [isAnimated]="true" (collapsed)="onDisplayHidden()">
      <div class="card-body border-top border-gray-200">
        @if (selectedAddress) {
          <div addressDisplayCard
               [address]="selectedAddress"
               [selected]="true"
               [displayOnly]="true"
               [selectionMode]="false">
          </div>
        }
      </div>
    </div>

    <div [collapse]="selectorCollapsed" [isAnimated]="true" (collapsed)="onSelectorHidden()">
      <div class="card-body pt-0">
        <div addressSelector
             [addresses]="addresses"
             [confirmOnSelect]="true"
             [showAddressCreateCard]="true"
             (selectedAddress)="onAddressSelected($event)">
        </div>
      </div>
    </div>
  }
</div>
