<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h3>Dirección de Entrega</h3>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      @if (selectedAddress) {
        <button type="button" class="btn btn-light-primary btn-sm" (click)="toggleAddressChange()">
          Cambiar
        </button>
      }
    </div>
  </div>

  <div [collapse]="displayCollapsed" [isAnimated]="true" (collapsed)="onDisplayHidden()">
    <div class="card-body border-top border-gray-200">
      @if (selectedAddress) {
        <div addressDisplayCard
             [address]="selectedAddress"
             [selected]="true"
             [displayOnly]="true"
             [selectionMode]="false">
        </div>
      }
    </div>
  </div>

  <div [collapse]="selectorCollapsed" [isAnimated]="true" (collapsed)="onSelectorHidden()">
    <div class="card-body pt-0">
      <div addressSelector
           [addresses]="addresses"
           [confirmOnSelect]="true"
           [showAddressCreateCard]="true"
           (selectedAddress)="onAddressSelected($event)">
      </div>
    </div>
  </div>
</div>
