<thead
  tableHeader
  [columns]="service.columns"
  [(dictionary)]="service.dictionary"
  [(params)]="params"
  [(mode)]="mode"
  [(isCompact)]="isCompact"
  (selectedChange)="service.toggleMultipleSelectedArray$(key() || '', data())"
></thead>

<tbody templateTableBody>
  @for (item of data(); track item.id; let idx = $index) {
    <tr
      class="hover-actions-trigger btn-reveal-trigger position-static" (click)="service.clickRow(item, key, view, mode, query.isMobile, route)" (keydown.enter)="service.clickRow(item, key, view, mode, query.isMobile, route)" [tabIndex]="0"
      [cdkContextMenuTriggerFor]="context_menu"
    >
      <td
        tableCheckCell
        [isCompact]="isCompact()"
        [isChecked]="item.isSelected"
        (click)="service.setSelected$(key() || '', item)"
      ></td>

      @if (dev.isDev()) {
        <td
          class="name align-middle white-space-nowrap px-0 py-0"
          [ngStyle]="isCompact() ? {} : { cursor: 'pointer' }"
        >
          <div class="d-flex align-items-center justify-content-start px-0">
            <a
              [routerLink]="[service.dictionary.catalogRoute, item.id]"
              [href]="[service.dictionary.catalogRoute, item.id]"
              class="fw-semibold text-primary"
            >
              #{{ item.id | number }}
            </a>
          </div>
        </td>
      }

      <td timePeriodCell [from]="item.dateFrom" [to]="item.dateTo" [showDate]="true" [allDay]="item.allDay"></td>

      <td
        userCell
        [user]="displayRole() === 'doctor' ? item.doctor : item.patient"
        [role]="displayRole() === 'doctor' ? 'Doctor' : 'Patient'"
        [shouldAskForClinicalHistoryShare]="true"
        [patientId]="item.patient.id"
      >
      </td>

      <td
        class="nowrap"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;"
        [matTooltip]="item.service.name || ''" [matTooltipShowDelay]="500"
      >
        {{ item.service.name }}
      </td>

      <td addressTableCell [address]="item.clinic || null"></td>

      @for (cell of row().getItems([ 'evolution', 'nextSteps', 'nursesCount', 'createdAt', ]); let idx = $index; track idx) {
        <td tableCell2 [item]="cells()[cell.item.key]!" [(isCompact)]="isCompact"
            [value]="item[cell.item.key]"></td>
      }

      <td
        tableMenuCell
        [item]="item"
        [contextMenu]="context_menu"
        [(isCompact)]="isCompact"
      ></td>
      <ng-template #context_menu>
        @defer {
          @if (key()) {
            <div tableMenu
                 [item]="item"
                 [key]="key()!"
                 [service]="service"></div>
          }
        }
      </ng-template>
    </tr>
  }
</tbody>
